@charset"utf-8";
/*!------------------------------------------------------------ *
 * momtalk.css
 * First Updated: 2015.04.27
 * Last Updated: 2015.10.22
 * Author: youngjin song
 * ------------------------------------------------------------ */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
html {
	overflow-y: scroll;
}
body {
	background: #fff;
  font-family: 'nanumbarunpenb','nanumbarunpenr', gulim, dotum,'Lato', Calibri, Arial, sans-serif;
  font-size: 15px;
  color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  letter-spacing: 1px;
}
button, img {
	border: none;
	background: none;
	outline: none;
}
a {
	color: #5F5940;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
address {
	font-style: normal;
}
::selection {
	background: #ea5f38;
	color: #fff;
}
input {
	border: none;
}

form#login-wrap {
	margin: 20px auto 0;
	padding: 20px 40px;
}
#login-wrap #logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  text-align: center;
}
#login-wrap input {
  display: inline-block;
  margin: 0 auto 13px;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}
#login-wrap #btn-login {
	display: block;
	margin: 10px auto 23px;
  width: 100%;
  background: #ea5f38;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.login {
	position: relative;
  display: block;
  margin: 7px auto 8px;
  padding: 10px 56px;
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;
}
#signup {
	margin-bottom: 20px;
	padding: 24px;
	width: 100%;
	background: #eee;
	text-align: center;   
}
#signup p {
	margin-bottom: 5px;
}
#signup a {
	font-weight: bold;
	font-size: 16px;
}
footer {
	text-align: center;
}
