@charset "utf-8";

#wrap{margin:0 auto; }
#wrap .logo{margin:10px 0 10px 20px; }
#wrap .soga{float:right; font-size:80%; color:#AAA9A9; margin: 8px 12px 0 0; }
#wrap .soga:hover{color:#f00; }
#wrap .portfolio:after {
	margin-left: 10px;
	content: "/";
}
#wrap .mtext{float:left;}


#wrap footer{border-top:1px solid #ccc; background:#fff; }
#wrap footer .copyright{padding:5px; border-top:1px dashed #ccc; color:#C1C1C1; text-align:center; font-size:80%; }
