@charset "utf-8";
/* reset */
*{margin:0;padding:0}
html{overflow-y:scroll}
body{zoom:1;/*ie 5,6,7 bug fix*/filter:alpha(opacity=90);opacity:0.9;font-family:Dotum;font-size:100%;color:#666}
a:link,a:visited{color:#999;text-decoration:none;cursor:pointer}
a:hover{color:#6f8ebb;text-decoration:none}
img{border:none}
table{border-collapse:collapse}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
input{border:1px solid #b0b0b0;color:#979797;width:190px;padding:3px 5px 4px}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}
ul,li,dl,dt,dd{list-style-type:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:before,q:after{content:''}
div .clear{clear:both}
a:link,a:visited{color:#666;text-decoration:none;cursor:pointer}
fieldset,img,abbr,acronym{border:0}

#wrap{margin:0 auto; }
#wrap .logo{margin:10px 0 10px 20px; }
#wrap .mtext{float:left;}

#wrap footer{border-top:1px solid #ccc; background:#fff; }
#wrap footer .copyright{padding:5px; border-top:1px dashed #ccc; color:#C1C1C1; text-align:center; font-size:80%; }
