@charset"utf-8";
/*!------------------------------------------------------------ *
 * momtalk.css
 * First Updated: 2015.04.27
 * Last Updated: 2016.01.06
 * Author: youngjin song
 * ------------------------------------------------------------ */

@font-face {
    font-family: 'nanumbarunpenr';
    src: url('../fonts/nanumbarunpenr.eot');
    src: url('../fonts/nanumbarunpenr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nanumbarunpenr.woff2') format('woff2'),
         url('../fonts/nanumbarunpenr.woff') format('woff'),
         url('../fonts/nanumbarunpenr.ttf') format('truetype'),
         url('../fonts/nanumbarunpenr.svg#nanumbarunpenr') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanumbarunpenb';
    src: url('../fonts/nanumbarunpenb.eot');
    src: url('../fonts/nanumbarunpenb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nanumbarunpenb.woff2') format('woff2'),
         url('../fonts/nanumbarunpenb.woff') format('woff'),
         url('../fonts/nanumbarunpenb.ttf') format('truetype'),
         url('../fonts/nanumbarunpenb.svg#nanumbarunpenb') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* fontAwesome */
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
			 url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
			 url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
			 459url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
			 url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
html {
	overflow-y: scroll;
}
body {
	background: #fff;
  font-family: 'nanumbarunpenb','nanumbarunpenr', gulim, dotum,'Lato', Calibri, Arial, sans-serif;
  font-size: 15px;
  color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  letter-spacing: 1px;
}
button, img {
	border: none;
	background: none;
	outline: none;
}
a {
	color: #5F5940;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
address {
	font-style: normal;
}
::selection {
	background: #ea5f38;
	color: #fff;
}

/* old-browser */
#old-browser-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -220px 0 0 -320px;
  text-align: center;
}
#old-browser-wrap h1 img {
	width: 140px;
}
#old-browser-wrap p {
  padding: 20px 0 0;
  line-height: 20px;
  font-weight: bold;
}
#old-browser-wrap ul:after {
	display: block;
	content: "";
	clear: both;
}
#old-browser-wrap li {
  float: left;
  width: 165px;
  text-align: center;
}
#old-browser-wrap li a {
  display: block;
  padding: 20px;
}
#old-browser-wrap li a:hover {
	color: #ff5d2e;
}
#old-browser-wrap li a img {
  width: 100px;
}

/* common */
.br {
	display: block;
}
.italic {
	font-style: italic;
}

/* animation */
.rotate360 {
	-webkit-animation-name: rotate-fast; 
  -webkit-animation-duration: 10s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
	-moz-animation-name: rotate-fast; 
  -moz-animation-name: 10s; 
  -moz-animation-name: infinite;
  -moz-animation-name: linear;
	-ms-animation-name: rotate-fast; 
  -ms-animation-name: 10s; 
  -ms-animation-name: infinite;
  -ms-animation-name: linear;
  animation-name: rotate-fast; 
  animation-duration: 10s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.rotate360:hover {
  -webkit-animation-name: rotate-fast; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate-fast; 
  -moz-animation-name: 1.5s; 
  -moz-animation-name: infinite;
  -moz-animation-name: linear;
  -ms-animation-name: rotate-fast; 
  -ms-animation-name: 1.5s; 
  -ms-animation-name: infinite;
  -ms-animation-name: linear;
  animation-name: rotate-fast; 
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate-fast {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-fast {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate-fast {
  from {
    -ms-transform: rotate(0deg);
  }
  to { 
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate-fast {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.btn-effect {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.btn-effect:hover,
.btn-effect:focus,
.btn-effect:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble:hover,
.hvr-wobble:focus,
.hvr-wobble:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* header*/
header {
	margin: 0 auto;
	width: 980px;
}
header:after {
	display: block;
	content: "";
	clear: both;
}
header h1 {
	float: left;
	padding: .35em 1em;
	width: 130px;
  height: 111px;
}
header h1 img {
	width: 90px;
}
header nav {
	float: right;
  margin: 3em 0 0;
}
header nav:after {
	display: block;
	content: "";
	clear: both;
}
header nav .selected {
  font-weight: bold;
  color: #eb5e37;
}
header nav .selected:hover {
	cursor: default;
}
header nav #navtoggle {
  display: none;
  width: 100%;
  padding: 0 .5em 0.2em;
  border-bottom: 2px solid #666;
  font-size: 1.2em;
  cursor: pointer;
}
header nav ul {
	float: left;
	margin-left: 1em;
}
header nav li {
	float: left;
}
header nav li a {
	display: block;
	margin: 0 10px;
	font-weight: bold;
  transition: background .2s ease-out;
}
header nav li a:hover {
	text-decoration: none;
	color: #eb5e37;
}

/* index */
#idx-service-wrap {
  margin: 3em auto 0;
  padding-bottom: 3em;
  width: 90%;
  text-align: center;
}
#idx-service-wrap:after {
	display: block;
	content: "";
	clear: both;
}
#idx-service-wrap #img-wrap {
  float: left;
  margin-right: 2em;
}
#idx-service-wrap .main-logo {
  margin-bottom: 20px;
	width: 260px;
}
#idx-service-wrap h2 {
  margin-bottom: .5em;
  font-size: 190%;
}
#idx-service-wrap p {
  font-weight: bold;
  line-height: 1.5em;
}
#idx-service-wrap h2 .red {
	font-size: 122%;
}
#idx-service-wrap .red {
  color: #eb5e37;
}
#idx-service-wrap #download-wrap a {
	display: inline-block;
  margin: 20px 20px 0 0;
  padding: 10px 0;
  width: 187px; 
  border: 1px solid #ec5540;
  border-radius: 34px;
	background: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ec5540;
}
#idx-service-wrap #download-wrap a:hover {
	background: #ec5540;
	color: #fff;
}
#idx-service-wrap #download-wrap a i {
	font-size: 1.5em;
}
/*#idx-service-wrap #download-wrap a.googleplay {
	-webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}*/
#idx-service-wrap a:hover,
#idx-service-wrap a:focus,
#idx-service-wrap a:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#idx-service-wrap #download-wrap a#pc-beta {
	border: 1px solid #663327;
	background: #fff;
	color: #663327;
}
#idx-service-wrap #download-wrap a#pc-beta:hover {
	background: rgba(102, 51, 39, 0.81);
	border: 1px solid rgba(102, 51, 39, 0.61);
	color: #fff;
}
#idx-about {
	padding: 3em 0;
	background: #fecf16;
	text-align: center;
	color: #ea5f38;
}
#idx-about h3 {
  margin: .5em 0 1.5em;
	font-size: 130%;
}
#idx-about a  {
  padding: 10px 21px;
  border-radius: 30px;
	border: 1px solid #ea5f38;
  background: #fff;
  color: #ea5f38;
}
#idx-about a:hover {
	background: #ea5f38;
  color: #fff;
}
.idx-job {
  margin: 3em auto 0;
  padding-bottom: 3em;
}
#idx-job {
  margin: 0 auto;
	padding: 3em 0;
  text-align: center;
  background: #eee;
}
#idx-job h3 {
  margin-bottom: 23px;
  padding: 4px 20px;
  font-size: 120%;
}
#idx-job a {
  padding: 10px 41px;
  border-radius: 30px;
	border: 1px solid #663327;
	background: #fff;
	color: #663327;
}
#idx-job a:hover {
	background: rgba(102, 51, 39, 0.81);
	border: 1px solid rgba(102, 51, 39, 0.61);
	color: #fff;
}
#contact-wrap {
  padding: 5em 0;
	text-align: center;
}
#contact-wrap.page-contact {
	padding: 2em 0;
}
#contact-wrap h2 {
	font-size: 32px;
  text-transform: uppercase;
}
#contact-wrap ul {
  margin: 2em 0;
}
#contact-wrap li {
	margin: .7em;
}
#contact-wrap li span {
	text-transform: uppercase;
}
#map {
	margin: 0 auto 3em;
	width: 90%;
	height: 300px;
  border: 4px solid #ea5f38;
}

/* footer */
footer {
	position: relative;
  padding: 5em 0;
  background: #242424;
	text-align: center;
}
footer #footer-social li {
	display: inline-block;
  margin: 10px;
}
footer #footer-social a {
	display: inline-block;
	width: 45px;
	height: 45px;
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
footer #footer-social a:hover {
	-webkit-filter: grayscale(0);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
footer #footer-social img {
	width: 90%;
	border-radius: 50px;
}
footer #copyright {
	padding: 1em 0;
	text-align: center;
	color: #ddd;
}
footer #top {
	position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 236px -30px;
  padding: 14px 12px;
  width: 50px;
  height: 50px;
  background: #ea5f38;
  border-radius: 50%;
  text-align: center;
  font-size: 1.4em;
	color: #fff;
	cursor: pointer;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  z-index: 99;
}
footer #top:hover {
  background: #ffcf04;
}

/* service */
#service-banner {
	margin: 0 auto;
	width: 100%;
}
#service-banner #slider {
  position: relative;
}
#service-banner #slider ul: after {
	display: block;
	content: "";
	clear: both;
}
#service-banner #slider li {
  display: block;
  position: relative;
  float: left;
  text-align: center;
}
#service-banner #slider .container {
	margin: 0 auto;
}
#service-banner #slider .container:after {
	display: block;
	content: "";
	clear: both;
}
#service-banner .slide img {
  width: 243px;
}
#service-banner a.control_prev,
#service-banner a.control_next {
  display: block;
	position: absolute;
  z-index: 99;
  width: 100px;
  height: 100%;
}
#service-banner a.control_prev:hover,
#service-banner a.control_next:hover {
  background: rgba(238, 238, 238, 0.37);
  color: #ccc;
} 
a.control_prev:after,
a.control_next:after {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
  font-family: FontAwesome;
  font-weight: bold;
  font-size: 220%;
}
#service-banner a.control_prev:after {
	left: 40px;
	content: "\f053";
}
#service-banner a.control_next:after {
	right: 40px;
	content: "\f054";
}
#service-banner a.control_next {
  right: 0;
}
#service-banner .slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
}
#service-content {
	float: left;
  margin: 12% 0 0 5%;
}
#service-content h2 {
  font-size: 240%;
	color: #59c0b2;
}
#service-content p {
  margin-top: 9%;
  font-weight: bold;
  font-size: 150%;
  line-height: 151%;
  color: #000;
}
#service-content strong.red {
	color: #f64256;
}
#service-introduce {
  text-align: center;
}
#service-introduce p span {
	display: block;
	font-weight: bold;
}
#service-introduce ul {
  margin: 0 auto;
	width: 950px;
}
#service-introduce ul:after {
	display: block;
	content: "";
	clear: both;
}
#service-introduce li {
  display: inline-block;
  margin: 0 9px 40px;
  padding: 20px;
}
#service-introduce li .circle {
  display: inline-block;
  padding: 16px 18px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ec5540;
  font-weight: bold;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#service-introduce h4 {
  margin: 10px 0 0;
	font-size: 107%;
}
#service-introduce li i {
  font-size: 35px;
  color: #fff;
}
#service-thanks {
  margin: 0 auto 3em;
  width: 90%;
}
#service-thanks h3 {
  margin-bottom: 2px;
  font-size: 26px;
  color: #ec5540;
}
#service-thanks li {
  padding: 2% 0;
  border-top: 1px solid rgba(236, 85, 64, 0.17);
}
#service-thanks li p {
	margin-top: 3px;
	line-height: 1.5em;
}
#service-thanks li:after {
	display: block;
	content: "";
	clear: both;
}
#service-thanks li i {
  float: left;
  margin-right: 2%;
  padding: 11px 17px;
  width: 70px;
  height: 70px;
  border: 4px solid rgba(236, 85, 64, 0.68);
  border-radius: 50px;
  font-size: 270%;
  color: rgba(236, 85, 64, 0.68);
}
#service-thanks li .customer {
	color: rgba(236, 85, 64, 0.68);
  font-size: 85%;
}
#service-thanks li .italic {
	font-size: 80%;
  color: rgba(236, 85, 64, 0.68);;
}

/* aboutus */
#about-wrap {
	margin: 0 auto 3em;
	width: 990px;
}
#about-wrap:after {
	display: block;
	clear: both;
	content: "";
}
#about-contaniner {
  margin: 1em auto;
  width: 90%;
  text-align: center;
}
#about-contaniner #content-wrap {
  padding: 3em;
  border-radius: 4px;
  text-align: center;
}
#about-contaniner h4 {
  margin: 1.5em 0 .5em;
}
#about-contaniner img {
  width: 430px;
}
#about-contaniner .content {
  margin: 0 auto;
  width: 90%;
  font-size: 110%;
}
#about-contaniner .content h3 {
	margin-bottom: 1em;
  letter-spacing: 1px;
}
#about-contaniner .content ul {
  width: 320px;
  margin: 0 auto;
}
#about-contaniner .content li {
	line-height: 1.8em;
}
#about-contaniner .content li:before {
  margin-right: .3em;
	content: "* ";
}
#about-contaniner .content li span {
	font-weight: bold;
}
#about-globle {
  margin: 1em auto;
  padding: 0 0 1em;
  font-size: 88%;
  text-align: left;
}
#about-globle:after {
	display: block;
	content: "";
	clear: both;
}
#about-globle .cn,
#about-globle .kr {
  padding: 10px 20px;
}
#about-globle .cn img {
	width: 12%;
}
#about-globle h3 {
  margin-bottom: 1em;
  padding: .2em 0;
  border-bottom: 2px solid #eb5e37;
  font-size: 134%;
  color: #eb5e37;
}
#about-globle h4 {
	margin-top: 1em;
}
#about-globle ul {
	margin: 1% 0 2%;
}
#about-globle li {
  margin-left: 1.5em;
	list-style: disc;
	line-height: 1.8em;
}
#about-globle .list-none {
  margin-top: 13px;
	list-style: none;
}

/* about news */
#about-news {
	text-align: left;
}
#about-news ul {
	margin-left: 0;
}
#about-news li {
  margin-left: 0;
	list-style: none;
}
#about-news a {
	display: block;
	position: relative;
  padding: .2em 1.5em;
}
#about-news a:before {
	display: block;
	position: absolute;
  top: 2px;
  left: 0;
	font-family: 'FontAwesome';	
	content: "\f054";
  color: #F28E78;
}
#about-news .date {
	padding-left: .5em;
  font-size: 80%;
  color: #999;
}

/* about bucketlist */
#about-wrap #about-bucketlist {
	padding: 2em;
	background: rgb(194, 231, 173);
	background: rgba(194, 231, 173, 0.69);
}
#about-wrap #about-bucketlist h3 {
	font-size: 177%;
  color: #2c2c2c;
}
#about-wrap #about-bucketlist p {
  margin-top: 5px;
  font-weight: bold;
  font-size: 117%;
}
#about-wrap #about-bucketlist ul:after {
	display: block;
	content: "";
	clear: both;
}
#about-wrap #about-bucketlist li {
  float: left;
  margin: 25px 10px;
  padding: 10px 10px 45px;
  width: 165px;
  height: 150px;
}
#about-wrap #about-bucketlist li img {
  display: block;
  margin: 10px auto;
	width: 70%;
}
#about-wrap #about-bucketlist li span {
  font-weight: bold;
}
#about-wrap #about-bucketlist li .number {
  font-size: 151%;
	color: #d84327;
}

/* about team */
#team-container #full-team-pic img {
	width: 100%;
	text-align: center;
}
#team-container #team-introduce {
	margin: 1em auto;
	padding: 3em 0;
	max-width: 1200px;
}
#team-container #team-introduce h3 {
	margin: 0 0 1.4em;
	text-align: center;
	font-size: 32px;
}
#team-container #member {
	margin-top: 30px;
  text-align: center;
}
#team-container #member li {
  display: inline-block;
  margin: 10px 0;
  width: 24%;
}
#team-container #member img {
  margin-bottom: 3px;
  width: 129px;
  height: 129px;
  border-radius: 63px;
}
#team-container #member span {
	display: block;
	font-size: 90%;
}
#team-container #member span.position {
	font-size: 80%;
	color: #aaa;
}
#team-container #member a {
	display: inline-block;
  font-size: 90%;
  line-height: 1.5em;
}

/* career */
#career-container {
	margin: 0 auto;
	padding: 30px 30px 50px;
	width: 850px;
	border-radius: 4px;
	background: #fff;
	line-height: 20px;
  font-size: 90%;
}
#career-container #career-banner img {
	width: 100%;
}
#career-container #career-header {
  margin: 3em;
	text-align: center;
}
#career-container h3 {
  margin-bottom: .5em;
}
#career-container .content-title {
	margin: 50px auto 0;
  line-height: 20px;
}
#career-container .content-title.fin {
	margin: 30px auto 0;
	padding: 10px 0;
	border-top: 3px solid #fecf19;
}
#career-container .content-title.fin h4 {
	padding: 0;
	background: transparent;
	color: #666;
}
#career-container h4 {
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 12px;
  background: #eb5e37;
  color: #fff;
}
#career-container .career-list {
	margin: 10px auto 30px;
}
.career-list .career-position {
  margin-bottom: 30px;
  padding-top: 30px;
	border-top: 1px solid #efefef;
}
.career-list .career-position:after {
	display: block;
	content: "";
	clear: both;
}
.career-list .career-position h5 {
	float: left;
  margin-right: 40px;
  width: 190px;
  height: 100%;
  font-size: 1em;
}
.career-list .career-position .blank {
	margin-top: 20px;
}
.career-list .career-position .description {
  float: left;
  width: 550px;
}
.career-list .career-position .description a {
	font-weight: bold;
	color: #1158aa;
}
.career-list .career-position .emphasis {
	color: #eb5e37;
}
.career-list .career-position .description li:before {
	display: block;
	position: absolute;
	margin-left: -18px;
	color: #999;
	content: "•";
	
}
#career-container .notice {
	font-weight: bold;
	color: #eb5e37;
}

#welfare-wrap {
  margin: 2em auto 5em;
  padding-bottom: 1em;
  width: 850px;
  border-radius: 4px;
  background: #fff;
  font-size: 90%;
  text-align: center;
}
#welfare-wrap h3 {
  margin: 0 auto;
  padding: 2em 0 3px;
  font-size: 29px;
}
#welfare-wrap ul {
  margin: 1em auto;
}
#welfare-wrap ul:after {
	display: block;
	content: "";
	clear: both;
} 
#welfare-wrap li {
  float: left;
  margin: 0 auto;
  padding: 1.5em;
  width: 32%;
  text-align: center;
  line-height: 20px;
}
#welfare-wrap li:after {
	display: block;
	content: "";
	clear: both;
}
#welfare-wrap li i {
  display: block;
  margin: 7px auto;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #90cdd2;
  text-align: center;
  font-size: 161%;
  color: #fff;
  line-height: 44px;
}

/* contact */
#contact-company p {
	margin-bottom: 1em;
  font-weight: bold;
}
#contact-company #about-info {
  margin: 2em auto 3em;
  padding: 0 2em 1em;
  width: 520px;
  border-radius: 6px;
  background: #fff;
  text-align: center;
}
#contact-company #about-info h4 {
	margin-bottom: .5em;
  padding: .5em 0;
  font-size: 26px;
	color: #ea4f38;
}
#contact-company #about-info li {
  line-height: 2em;
}
#contact-company #about-info li strong {
  font-size: 96%;
}
#contact-company #about-info p {
	margin: 0;
}

/* policy privacy */
#privacy-container,
#policy-container {
	margin: 1.5em auto 3em;
	padding: 2em;
	width: 90%;
	background: #fff;
  line-height: 2em;
}

@media screen and (max-width: 767px) {
	/* header */
	header {
		width: 100%;
	}
	header h1 {
		float: none;
	  margin: 0 auto;
	  padding: 0;
    height: auto;
	  text-align: center;
	}
	header h1 img {
		width: 100%;
	}
	header nav {
	  float: none;
	  margin: 0em auto;
	  padding: 1em 0;
	  width: 90%;
	  text-align: center;
	}
	header nav ul {
		float: none;
	}
	header nav li {
		display: inline-block;
		float: none;
	}
	#idx-service-wrap {
	  margin: 0 auto;
		width: 90%;
	}
	#idx-service-wrap .main-logo {
    margin-top: 30px;
    width: 40%;
	}
	#idx-service-wrap #idx-service-content {
		float: none;
		margin-top: 0;
	  text-align: center;
  	font-size: 73%;
	}
	#idx-service-wrap p {
	  font-size: 136%;
	}
	#idx-service-wrap #download-wrap {
		margin: 2em auto;
	}
	#idx-service-wrap #download-wrap a {
    width: 150px;
    height: 44px;
	  font-size: 122%;
	}
	#idx-about a {
	  margin: 1.3em .5em 0;
	}
	
	/* service */
	#service-banner {
		margin: 2em auto;
	}
	#service-introduce ul {
    width: 100%;
	}
	#service-thanks {
		width: 90%;
	}
	#service-thanks h3 {
    margin: 1em auto 0;
    border-bottom: 2px solid #ec5540;
    text-align: center;
    font-size: 32px;
	}
	#service-thanks li {
    padding: 4% 0;
		text-align: center;
	}
	#service-thanks li i {
display: block;
    float: none;
    margin: 2% auto;
    padding: 11px 15px;
    width: 55px;
    height: 55px;
    font-size: 160%;
	}
	#service-banner a.control_prev:hover,
	#service-banner a.control_next:hover {
		background: none;
	}
	#service-banner .slide img {
	  width: 40%;
	}
	#service-banner #slider .container {
		width: auto;
	}
	#service-introduce {
		font-size: 90%;
	} 
	
	/* about */
	#about-wrap {
		margin: 1em auto;
	  width: 95%;
	}
	#about-contaniner {
		width: 75%;
	}
	#about-contaniner #introduce {
	  margin: 3em auto 0;
	  width: 83%;
	}
	#about-contaniner img {
	  width: 54%;
	}
	#about-contaniner .content {
		width: 100%;
		font-size: 95%;
	}
	#about-contaniner .content p,
	#about-contaniner .content li {
    font-size: 95%;
	}
	#about-globle {
		width: 100%;
	}
	#about-globle .cn,
	#about-globle .kr {
		float: none;
	  margin: 0 0 1em;
	  padding: 0;
		width: 100%;
		height: auto;
	}
	
	/* team*/
	#team-container #team-introduce {
		width: 100%;
	}
	#team-container #member li {
		margin: 4% 1%;
    width: 27%;
	}
	
	/* career */
	#career-container {
	  margin: 2em auto;
	  padding: 1em;
	  width: 98%;
    font-size: 88%;
	}
	#career-container #career-header {
	  margin: 1em 0 0;
    text-align: left; 
	}
	#career-container .content-title {
    margin: 30px auto 0;
	}
	#career-container .career-list {
    margin: 10px auto;
	}
	.career-list .career-position h5 {
		float: none;
		width: 100%;
	}
	.career-list .career-position .description {
		float: none;
    margin: 0 0 0 20px;
    width: 90%;
	}
	.career-list .career-position {
    margin-bottom: 10px;
    padding-top: 10px;
	}
	#welfare-wrap h3 {
		width: 90%;
    border-bottom: 2px solid #8189C7;
	}
	#welfare-wrap li {
    padding: 1em;
    width: 50%;
	}
	#welfare-wrap {
		width: 90%;
	}
  
	/* contact */
	#contact-company .map {
		width: 62%;
	}
}

@media screen and (max-width: 660px) {
	/* header */
	header nav {
		padding: 0;
		text-align: left;
	}
	header nav #navtoggle {
		display: block;
	  text-align: left;
  	letter-spacing: 1px;
	}
	header nav ul {
		display: none;
		margin: 0;
		max-height: 30em;
	  background: #fff;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}
	header nav ul.show {
		display: block;
    box-shadow: 0 0 10px #ccc;
	}
	header nav li {
	  display: block;
	}
	header nav li a {
	  margin: 0;
	  padding: 1em 2.1em;
	}
	footer #companyinfo {
	  padding: 1em;
	}
	footer #top {
	  margin: 0 0 268px -26px;
	}
	#idx-service-wrap {
	  margin: 2em auto 0;
	}
	#idx-about h3 {
    font-size: 18px;
	}
	#idx-service-wrap #download-wrap a {
		margin: 1em .5em;
	}
	
	/* service */
	#service-introduce {
		padding: 0;
	}
	#service-introduce h4 {
		margin: .5em auto;
	  width: 88%;
	}
	#service-introduce p {
	  margin: 0 auto;
	  width: 88%;
	}
	#service-introduce li {
		float: none;
	  margin: .5em auto;
	  padding: 1em;
    width: 95%;
    height: auto;
	}
	.bx-wrapper {
	  font-size: 87%;
	}
	#service-banner a.control_prev,
	#service-banner a.control_next {
		width: 50px;	
	}
	
	/* about */
	#about-contaniner {
		float: none;
		margin: 0 auto;
		width: 95%;
		clear: both;
	}
	#about-contaniner #content-wrap {
		padding: 1em;
	}
	#about-contaniner #introduce h3 {
		font-size: .9em;
	}
	#about-wrap #about-news.right-container,
	#about-wrap #about-bucketlist.right-container,
	#about-wrap #team-container.right-container {
    float: none;
    margin: 1.5em auto 3em;
    width: 95%;
	}
	#about-wrap #about-bucketlist {
	  padding: 2em .5em;
	}
	#about-wrap #about-bucketlist li {
	  margin: 21px 3px 0;
  	padding: 10px 5px 0;
	}
	#about-wrap #about-bucketlist li img {
	  margin: 4px auto;
	}
	
	/* tearm */
	#team-container #member li {
    width: 90%;
	}
} 

@media screen and (max-width: 480px) {
	/* index */
	header nav li a:hover {
		background: none;
		color: #5F5940;
	}
	
	/* about */
	#about-contaniner .content {
		font-size: 78%;
	}
	#about-contaniner .content ul {
		width: 100%;
	}
	#about-globle {
    font-size: 79%;
	}
	
	/* service */
	#service-introduce li {
		text-align: center;
	}
	#service-introduce li a {
		float: none;
	}
	
	/* contact */
	#contact-company #about-info {
	  font-size: 91%;
	}
}

@media screen and (max-width: 320px) {
	#idx-service-wrap #idx-service-content {
	  font-size: 68%;
	}
	#idx-service-wrap .main-logo {
		width: 60%;
	}
	#idx-service-wrap h2 {
		font-size: 160%;
	}
}