<section id="about-wrap">
	<div id="profile-card">
		<div class="profile-pic">
			<img src="contents/img/profile.png" alt="Song Young-Jin" />
		</div>
		<h2>Service UX/UI Designer</h2>
		<h3>song young jin</h3>
	</div><!-- /profile-card -->

	<div id="column-containter">
		<div class="content">
			<h4>Work Experience</h4>
			<ul>
				<li>
					<span class="date">Mar. 2016 ~ </span>
						iPortfolio UX/UI Designer
				</li>
				<li>
					<span class="date">Apr. 2015 ~ Aug. 2016</span>
						AND UX/UI Designer
				</li>
				<li>
					<span class="date">Jul. 2013 ~ Aug. 2014</span>
						Rsupport Frontend developer
				</li>
				<li>
					<span class="date">Sep. 2012 ~ Feb. 2013</span>
						KnowRe web publisher
				</li>
				<!-- <li>
					<span class="date">Oct. 2011 - Jul. 2012</span>
					BCL COM - Fashion editor(for Japan) , illustrator
				</li> -->
			</ul>
		</div><!-- //content -->

		<div class="content">
			<h4>Awards</h4>
			<ul>
				<li>
					<span class="date">Jun. 2011</span>
						Special Prize(Textile), Korea Industrial Art Exhibition
						<!-- 한국 산업 미술 전람회 특선 -->
				</li>
				<li>
					<span class="date">Feb. 2011</span>
					Finalist(Fashion Illustration), Life is good Illustration Competition
					<!-- 미국 life is good 패션 일러스트레이션 부분 수상 -->
				</li>
				<li>
					<span class="date">Nob. 2010</span>
					Special Prize(Textile), Daegu Textile Art Exhibition
						<!-- 대구 텍스타일 대전 (한국의 향기) : Textile 부분 수상 -->
				</li>
				<li>
					<span class="date">Sep. 2010</span>
					Special Prize(Fashion Apparel), Korea Textile Design Association Art Contest.
						<!-- 대한민국 텍스타일 대전 - Fashion apparel 부분 수상 -->
				</li>
			</ul>
		</div><!-- //content -->

		<div class="content">
			<h4>Experience</h4>
			<ul>
				<li>
					<span class="date">Dec. 2012</span>
					<!-- <span class="date">2012.12.15~12.18</span> -->
						'Craft Trend Pare', COEX Exhibition
				</li>
				<li>
					<span class="date">Apr. 2012</span>
					<!-- <span class="date">2012.4.17~4.20</span> -->
					'Mapping breath', Sungshin Women's University Museum for Exhibition
						<!-- Mapping breath - 성신여대 박물관 대 전시실 전시 -->
				</li>
				<li>
					<span class="date">Mar. 2012 - Apr. 2012 </span>
					<!-- <span class="date">2012.3.28~4.1</span> -->
						'SWITCH PASS' Young-eun Museum Exhibition
						<!-- Exhibition 'SWITCH PASS' - 영은 미술관 제2전시실 영은 홀 전시 -->
				</li>

				<li>
					<span class="date">Dec. 2011</span>
					'CARRE', Gallery Hong Exhibition
						<!-- 'CARRE', Gallery Hong, 스카프 전시 -->
				</li>

				<li>
					<span class="date">Jun. 2009</span>
						Fashion design industry engineer
				</li>
				<li>
					<span class="date">Jul. 2007</span>
						Shop master(Grade3)
				</li>
			</ul>
		</div><!-- //content -->

		<div class="content education">
			<h4>Education</h4>
			<ul>
				<li>
					<span class="date">Mar. 2012</span>
					Graduate in Sungshin Women's University (a Bachelor of Arts). I majored in Fabric Design and Fashion Design at the university.
				</li>
				<li>
					<span class="date">Mar. 2006</span>
					I graduated from Seocho High School.
				</li>
			</ul>
		</div><!-- //content -->

		<div class="content">
			<h4>Skills</h4>
			<ul class="skill">
				<li>sketch</li>
				<li>Photoshop</li>
				<li>illustration</li>
				<li>invision</li>
				<li>html / html5</li>
				<li>css / css3</li>
				<li>js / jquery</li>
			</ul>
		</div><!-- //content -->

		<div class="content">
			<h4>Contact</h4>
			<ul>
				<li>
					<a href="mailto:ssongki@gmail.com">ssongki@gmail.com</a>
				</li>
			</ul>
		</div><!-- //content -->
	</div><!-- //column container -->
</section>
