<div id="page-home">
  <section id="introduction-wrap" class="fixed-wrap">
    <h2>
      Welcome!<br />
      I’m Youngjin Song
      <span class="icon hand">👋</span>
    </h2>
    <p class="introduction">
      I’m a UI/UX Designer and <a href="#weekly-drawing">Motion Graphic enthusiast</a>.<br />
      Send me an
      <a href="mailto:ssongki@gmail.com">email</a> or read my
      <a href="https://www.linkedin.com/in/colorbridge" target="_blank">LinkedIn</a>.
    </p>
  </section>
  <section id="list-wrap">
    <div class="projects-list vertical-view fixed-wrap"></div>
  </section>
</div>
