<section id="projects-wrap">
	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-momtalk-mobile.png">
			<div class="thumbnail-wrap">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk-mobile.png">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk-web.png">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk.png">
			</div>
		</div>
		<div class="content">
			<h2>Momtalk Web Mobile</h2>
			<p>
				serviec momtalk ∙ web mobile
				<span class="date">Nor. 2015 -</span>
			</p>

			<h3>Role</h3>
			<p>
				Lead UX Designer
			</p>

			<h3>Tools</h3>
			<ul>
				<li>Photoshop</li>
				<li>Illustration</li>
				<li>InVision</li>
			</ul>
			<!-- <a href="#">Wait</a> -->
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-momtalk-web.png">
			<div class="thumbnail-wrap">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk-web.png">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk-ios.png">
				<img class="thubmnail" src="contents/img/projects/projects-momtalk.png">
			</div>
		</div>
		<div class="content">
			<h2>Momtalk Web</h2>
			<p>
				serviec momtalk ∙ web
				<span class="date">Sep. 2015 -</span>
			</p>

			<h3>Role</h3>
			<p>
				Lead UX Designer
			</p>

			<h3>Tools</h3>
			<ul>
				<li>Photoshop</li>
				<li>Illustration</li>
			</ul>
			<!-- <a href="#" class="commingSoon">visit website</a> -->
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-momtalk-ios.png">
		</div>
		<div class="content">
			<h2>IOS App</h2>
			<p>
				serviec momtalk ∙ ios app design
				<span class="date">Apr. 2015 -</span>
			</p>

			<h3>Role</h3>
			<p>
				Lead UX Designer
			</p>

			<h3>Tools</h3>
			<ul>
				<li>Photoshop</li>
				<li>Illustration</li>
			</ul>
			<!-- <a href="#" class="commingSoon">visit website</a> -->
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-momtalk.png">
		</div>
		<div class="content">
			<h2>Momtalk Brand Site</h2>
			<p>
				company and ∙ brand site
				<span class="date">Apr. 2015 -</span>
			</p>

			<h3>Role</h3>
			<p>
				Lead UX Designer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
				<li>Responsive</li>
			</ul>
			<!-- <a href="http://www.mom-talk.com/" target="_blank">visit website</a> -->
			<a href="contents/develop/mom/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-mobizen-blog.png">
		</div>
		<div class="content">
			<h2>Mobizen blog</h2>
			<p>
				company rsupport ∙ service center Wordpress
				<span class="date">Aug. 2014</span>
			</p>

			<h3>Role</h3>
			<p>
				Lead Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
			</ul>

			<h3>Tool</h3>
			<ul>
				<li>Wordpress</li>
				<li>Responsive</li>
			</ul>
			<a href="http://help.mobizen.com/kr" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-mobizen.png">
		</div>
		<div class="content">
			<h2>Mobizen</h2>
			<p>
				Working part ∙ backup ∙ setting ∙ help
				<span class="date">Nor. 2013 - Jul. 2014</span>
			</p>

			<h3>Role</h3>
			<p>
				Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
			</ul>
			<a href="https://www.mobizen.com/" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-mobi-junior.png">
		</div>
		<div class="content">
			<h2>Junior project</h2>
			<p>
				company probation project ∙ renewal responsive.
				<span class="date">Jul. 2013</span>
			</p>

			<h3>Role</h3>
			<p>
				Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
				<li>Responsive</li>
			</ul>
			<a href="contents/develop/r-project/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-knowre.png">
		</div>
		<div class="content">
			<h2>knowre</h2>
			<p>
				Content publishing
				<span class="date">Jul. 2012 - Feb. 2013</span>
			</p>

			<h3>Role</h3>
			<p>
				Web publisher
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
			</ul>
			<a href="http://www.knowre.com/" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-leica.png">
		</div>
		<div class="content">
			<h2>Self project</h2>
			<p>
				Leica Web responsive ∙ brand site ∙ imaginary
				<span class="date">Aus.2012</span>
			</p>

			<h3>Role</h3>
			<p>
				UX Designer, Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
				<li>Responsive</li>
			</ul>
			<a href="contents/develop/ver5/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-leica-m.png">
		</div>
		<div class="content">
			<h2>Self project</h2>
			<p>
				Leica jQuery mobile ∙ brand site ∙ imaginary
				<span class="date">Jul. 2012</span>
			</p>

			<h3>Role</h3>
			<p>
				UX Designer, Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
			</ul>

			<h3>Plugin</h3>
			<ul>
				<li>jQuery Mobile</li>
			</ul>
			<a href="contents/develop/ver4/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-seycell.png">
		</div>
		<div class="content">
			<h2>Self project </h2>
			<p>
				seycell brand site ∙ imaginary
				<span class="date">Mar. 2012</span>
			</p>

			<h3>Role</h3>
			<p>
				UX Designer, Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>JS</li>
			</ul>
			<a href="contents/develop/ver3/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-raduree.png">
		</div>
		<div class="content">
			<h2>Self projects</h2>
			<p>
				raduree brand site ∙ imaginary
			<span class="date">Fer. 2012</span>
			</p>

			<h3>Role</h3>
			<p>
				UX Designer, Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
			</ul>
			<a href="contents/develop/ver2/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->

	<div class="row">
		<div class="projects-img">
			<img class="main-image" src="contents/img/projects/projects-evian.png">
		</div>
		<div class="content">
			<h2>Self projects</h2>
			<p>
				evian brand site ∙ imaginary
				<span class="date">Jan. 2012</span>
			</p>

			<h3>Role</h3>
			<p>
				UX Designer ∙ Frontend Developer
			</p>

			<h3>Languages</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
			</ul>
			<a href="contents/develop/ver1/index.html" target="_blank">visit website</a>
		</div>
	</div><!--/ row -->
</section
projects-imgs
