<seciton id="projects-wrap">
	<section class="row">
		<h2 class="content__title">Design Project</h2>
		<div class="grid grid--effect-altair">
			<!-- morleymom -->
			<a href="contents/projects/d-morleymom/index.html" target="_blank" class="grid__item grid__item--c1">

				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-morleymom.png">
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">MorleyMom App ∙ Android</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Tools</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Dec. 2016 ~ Jen.2017</span>
						<span class="column__text">Lead UX Designer</span>
						<span class="column__text">Sketch, Illustration</span>
					</div>
				</div>
			</a><!-- /morleymom -->
			<!-- momtalk -->
			<!-- <a href="#" class="grid__item grid__item--c1">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-momtalk-mobile.png">
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Momtalk Web Mobile</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Tools</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Nor. 2015 ~ Dec.2015</span>
						<span class="column__text">Lead UX Designer</span>
						<span class="column__text">Photoshop, Illustration, InVision</span>
					</div>
				</div>
			</a>
			<a href="#" class="grid__item grid__item--c1">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-momtalk-web.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Momtalk Web</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Tools</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Sep. 2015 ~ Nor.2015</span>
						<span class="column__text">Lead UX Designer</span>
						<span class="column__text">Photoshop, Illustration</span>
					</div>
				</div>
			</a>
			<a href="#" class="grid__item grid__item--c1">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-momtalk-ios.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Momtalk IOS App</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Tools</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Apr. 2015 -</span>
						<span class="column__text">Lead UX Designer</span>
						<span class="column__text">Photoshop, Illustration</span>
					</div>
				</div>
			</a> -->
			<a href="contents/projects/dev-momtalk-brand/index.html" target="_blank" class="grid__item grid__item--c1">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-momtalk.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Momtalk Web (Responsive)</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Apr. 2015 ~ May.2015</span>
						<span class="column__text">Lead UX Designer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a><!-- /momtalk -->
		</div>
	</section><!-- /design Project -->

	<section class="row">
		<h2 class="content__title">Develop Project</h2>
			<div class="grid grid--effect-vega">
			<a href="http://help.mobizen.com/kr" target="_blank" class="grid__item grid__item--c2">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-mobizen-blog.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Mobizen Web ∙ Wordpress</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Aug. 2014</span>
						<span class="column__text">Lead Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a>
			<a href="https://www.mobizen.com/" target="_blank" class="grid__item grid__item--c2">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-mobizen.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Mobizen Web ∙ Part: backup, setting, help</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Nor. 2013 - Jul. 2014</span>
						<span class="column__text">Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a>
			<a href="contents/projects/dev-mobizen-probation/index.html" target="_blank" class="grid__item grid__item--c2">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-mobi-junior.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Mobizen Web ∙ company probation project</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Jul. 2013</span>
						<span class="column__text">Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a>
			<a href="http://www.knowre.com/" target="_blank" class="grid__item grid__item--c2">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-knowre.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">knowre Web ∙ Content publishing</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Jul. 2012 - Feb. 2013</span>
						<span class="column__text">Web publisher</span>
						<span class="column__text">HTML5, CSS3</span>
					</div>
				</div>
			</a>
		</div>
	</section><!-- /development Project -->

	<section class="row">
		<h2 class="content__title">Self Project</h2>
		<div class="grid grid--effect-rigel">
			<a href="contents/projects/s-leica/index.html" target="_blank" class="grid__item grid__item--c3">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-leica.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Leica Web (Responsive)</h3>

					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Aus.2012</span>
						<span class="column__text">UX Designer, Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a>
			<a href="contents/projects/s-leica-jq-mobile/index.html" target="_blank" class="grid__item grid__item--c3">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-leica-m.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Leica Mobile</h3>

					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Jul. 2012</span>
						<span class="column__text">UX Designer, Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a><!-- /Leica jqueryMobile-->
			<a href="contents/projects/s-seycell/index.html" target="_blank" class="grid__item grid__item--c3">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-seycell.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Seycell Web</h3>

					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Mar. 2012</span>
						<span class="column__text">UX Designer, Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a><!-- /seycell-->
			<a href="contents/projects/s-raduree/index.html" target="_blank" class="grid__item grid__item--c3">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-raduree.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Raduree Web</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Fer. 2012</span>
						<span class="column__text">UX Designer, Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a><!-- /Laduree-->
			<a href="contents/projects/s-evian/index.html" target="_blank" class="grid__item grid__item--c3">
				<div class="stack">
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__deco"></div>
					<div class="stack__figure">
						<img class="stack__img" src="contents/img/projects/projects-evian.png" alt="Image"/>
					</div>
				</div>
				<div class="grid__item-caption">
					<h3 class="grid__item-title">Evian Web</h3>
					<div class="column column--left">
						<span class="column__text">Date</span>
						<span class="column__text">Role</span>
						<span class="column__text">Skill</span>
					</div>
					<div class="column column--right">
						<span class="column__text">Jan. 2012</span>
						<span class="column__text">UX Designer, Frontend Developer</span>
						<span class="column__text">HTML5, CSS3, jQuery</span>
					</div>
				</div>
			</a><!-- /evian-->
		</div>
	</section>
</section>
<script src="contents/js/lib/prj/anime.min.js"></script>
<script src="contents/js/lib/prj/main.js"></script>
<script>
(function() {
[].slice.call(document.querySelectorAll('.grid--effect-vega > .grid__item')).forEach(function(stackEl) {
	new VegaFx(stackEl);
});
[].slice.call(document.querySelectorAll('.grid--effect-altair > .grid__item')).forEach(function(stackEl) {
	new AltairFx(stackEl);
});
[].slice.call(document.querySelectorAll('.grid--effect-rigel > .grid__item')).forEach(function(stackEl) {
	new RigelFx(stackEl);
});
})();
</script>
