#layout-wrap {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

#gnb {
  position: relative;
  padding-top: 38px;
  margin-bottom: 60px;
  display: flex;
  z-index: 100;

  .selected {
    font-weight: bold;
  }

  a {
    color: #222;
  }

  #bi, #menus {
    flex-basis: 50%;
  }

  #menus {
    text-align: right;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }
}


#bi {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}


#content {
  margin-bottom: 50px;
  min-height: 550px;
}

footer {
  display: flex;
  margin-bottom: 50px;
  font-size: 12px;

  span, nav {
    flex-basis: 50%;
  }

  nav {
    text-align: right;

    a {
      margin-right: 15px;
    }
  }
}

ul.circle {
  list-style: disc;
  margin-left: 30px;
}