@import './variables';

#gnb {
  position: relative;
  padding-top: 38px;
  margin-bottom: 60px;
  z-index: 100;

  .fixed-wrap {
    display: flex;
  }

  #bi {
    display: inline-block;
    flex-basis: 32%;
    height: 28px;
    color: #222;
    background: url('/contents/img/logo.svg') no-repeat 0 center;
    font-size: 0;
    font-weight: bold;
    text-decoration: none;
  }

  #menus {
    flex-basis: 68%;
    text-align: right;

    a {
      display: inline-block;
      color: #222;
      text-decoration: none;
      text-align: center;

      &.selected {
        color: $linkFontColor;
        font-weight: 500;
      }
    }

    li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin: 0;
      }

      &:nth-child(1) a {
        width: 70px;
      }

      &:nth-child(2) a {
        width: 124px;
      }

      &:nth-child(3) a {
        width: 50px;
      }
    }
  }
}

#content {
  margin-bottom: 50px;
  min-height: $minCalcHeight;
}

#site-footer {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  z-index: 100;

  div,
  nav {
    flex-basis: 50%;
  }

  nav {
    font-size: 1.2rem;
    text-align: right;

    a {
      margin-right: 15px;
      opacity: 0.9;
    }
  }

  div {
    font-size: 1.2rem;
  }
}

#btn-top {
  display: none;
  position: fixed;
  bottom: 6%;
  right: 3%;
  z-index: 100;
  width: 56px;
  height: 40px;
  background: #000;
  box-shadow: 0 14px 33px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;

  &.shown {
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}

.fixed-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1150px;

  &.wide {
    padding: 0;
  }

  &.small-wide {
    padding: 0 20px !important;
  }

  &.w1440 {
    width: 1440px;
  }

  &.w850 {
    width: 850px;
  }
}

.thema-white {
  #gnb {
    #bi {
      background-image: url('/contents/img/logo-wh.svg');
    }
    #menus a {
      color: #fff;
    }
  }
}

// for page scroll animation
.sa-v1,
.sa-v2 {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center !important;
}
