.button {
  display: inline-block;
  padding: 18px 50px;
  min-width: 208px;
  border-radius: 2px;
  border: solid 1px #979797;
  background-color: #ffffff;
  color: #222;

  &:hover {
    text-decoration: none;
    color: #4a90e2;
    border-color: #4a90e2;
  }
}
