.loader-wrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #FF3E49;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #FF6B8E;
  animation-delay: .18s;
}
.loading-bar:nth-child(3) {
  background-color: #FEBF24;
  animation-delay: 0.27s;
}
.loading-bar:nth-child(4) {
  background-color: #5F5DD3;
  animation-delay: .37s;
}
.loading-bar:nth-child(5) {
  background-color: #15CDFB;
  animation-delay: .47s;
}
.loading-bar:nth-child(6) {
  background-color: #30EBC6;
  animation-delay: .57s;
}
.loading-bar:nth-child(7) {
  background-color: #BFC3FC;
  animation-delay: .67s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}