// pc 1150
// <= 1024
// <= 768
// <= 425
// >= 320

// PC
@media screen and (max-width: 1149px) {
  #page-home {
    width: calc(100vw - 10vw);
  }

  .fixed-wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-details {
    article {
      padding-top: calc(20vw);
    }

    section {
      margin-bottom: 120px;
    }
  }
}

// Tablet
@media screen and (max-width: 768px) {
  // 포트폴리오 상세
  .portfolio-details {
    header {
      height: calc(86vw);
    }

    article {
      padding-top: 24vw;
    }

    section {
      margin-bottom: 100px;
    }

    #overview dl {
      flex-basis: 30%;
    }
  }

  .rolling-frame-border {
    height: calc(71.4% - (4.4% * 2));
  }

  // 프로필
  #page-about {
    #visual {
      #profile {
        margin-right: 46px;
      }
    }
  }
}

// Mobile L 425 (작은 브라우저 화면에도 포함하기 위해 500이하로 적용)
@media screen and (max-width: 500px) {
  #gnb {
    padding-top: 20px;
    margin-bottom: 20px;

    .fixed-wrap {
      display: block;
    }

    #bi, #menus {
      display: block;
      text-align: center;
    }

    #bi {
      margin-bottom: 12px;
      background-position-x: center;
    }
  }

  #content {
    margin-bottom: 20px;
  }

  #site-footer {
    display: block;
    position: relative;
    margin-bottom: 10px;
    height: 50px;

    div, nav {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      text-align: center;
    }

    nav {
      top: 0;

      a:last-child {
        margin: 0;
      }
    }

    div {
      bottom: 0;
    }
  }

  // 메인
  #page-home {
    background-position-y: 10%;
  }

  // 포트폴리오 리스트
  .portfolio-list {
    li {
      margin-right: 0;
      width: 100%;
    }

    .image-wrap {
      margin-bottom: 6px;
    }
  }

  // 포트폴리오 상세
  .portfolio-details {
    margin-top: -144px;

    h3 {
      font-size: 3rem;
    }

    header {
      height: calc(90vw);

      p {
        margin-top: 20px;
        font-size: 1.8rem;
      }

      h2 {
        margin-bottom: 30px;
        font-size: 2.5rem;
        line-height: 1;
      }
    }

    article {
      padding-top: 110px;
    }

    .button {
      width: 100%;
    }

    #overview {
      display: block;

      dt, h1 {
        font-size: 1.4rem;
      }

      h1 {
        margin-bottom: 6px;
      }
    }

    .description {
      margin-bottom: 30px;
    }

    .visual {
      min-height: auto;

      &:not(.wide) {
        padding: 20px;
      }

      .fixed-wrap {
        padding: 0;
      }
    }

    #the-project .description {
      margin-bottom: 40px;
    }
    section {
      margin-bottom: 80px;
    }
  }

  .rolling-frame-border {
    height: calc(71.4% - (4.4% * 2));
  }

  // 프로필
  #page-about {
    h1 {
      .profile {
        display: block;
        width: 50%;
        margin: 20px auto;
      }

      text-align: center;
    }

    .introduction {
      margin-bottom: 40px;
      text-align: center;
    }

    .graph {
      width: 100% !important;
    }

    #visual {
      text-align: center;

      .profile {
        display: none;
      }
    }
  }
}

// Mobile M
@media screen and (max-width: 375px) {
  //.portfolio-details {
  //  header {
  //    height: calc(116vw);
  //  }
  //}

  // 프로필
  #page-about {
    h1 span {
      font-size: 3.2rem;
    }
  }
}

// Mobile S
@media screen and (max-width: 320px) {
  //.portfolio-details {
  //  header {
  //    height: calc(128vw);
  //  }
  //}
}