// pc 1150
// <= 1024
// <= 768
// <= 425
// >= 320

// PC
@media screen and (max-width: 1149px) {
  #page-home {
    width: calc(100vw - 10vw);
  }

  .fixed-wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-details {
    article {
      padding-top: calc(20vw);
    }

    section {
      margin-bottom: 120px;
    }
  }
}

// Tablet
@media screen and (max-width: 768px) {
  // 포트폴리오 상세
  .portfolio-details {
    header {
      height: calc(86vw);
    }

    article {
      padding-top: 24vw;
    }

    section {
      margin-bottom: 100px;
    }

    #overview dl {
      flex-basis: 30%;
    }
  }

  .rolling-frame-border {
    height: calc(71.4% - (4.4% * 2));
  }

  // 프로필
  #page-about {
    #visual {
      #profile {
        margin-right: 50px;
      }
    }
  }
}

// Mobile L 425 (작은 브라우저 화면에도 포함하기 위해 500이하로 적용)
@media screen and (max-width: 500px) {
  #gnb {
    padding-top: 20px;

    .fixed-wrap {
      display: block;
    }

    #bi, #menus {
      display: block;
      text-align: center;
    }

    #bi {
      margin-bottom: 12px;
    }
  }

  #site-footer {
    display: block;
    position: relative;
    margin-bottom: 10px;
    height: 50px;

    span, nav {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      text-align: center;
    }

    nav {
      top: 0;
    }

    span {
      bottom: 0;
    }
  }

  // 메인
  #page-home {
    height: calc(100vh - 260px);
    background-position-y: 10%;
  }

  .portfolio-list {
    li {
      margin-right: 0;
      width: 100%;
    }
  }

  // 포트폴리오 상세
  .portfolio-details {
    margin-top: -144px;

    h3 {
      font-size: 3rem;
    }

    header {
      height: calc(110vw);

      p {
        font-size: 2rem;
      }

      h2 {
        margin-bottom: 40px;
        font-size: 3.8rem;
      }
    }

    article {
      padding-top: 80px;

      dl {
        margin-bottom: 50px;
      }
    }

    #overview {
      display: block;
    }

    .description {
      margin-bottom: 30px;
    }

    .visual {
      min-height: auto;

      &:not(.wide) {
        padding: 20px;
      }

      .fixed-wrap {
        padding: 0;
      }
    }

    section,
    #the-project .description {
      margin-bottom: 80px;
    }
  }

  .rolling-frame-border {
    height: calc(71.4% - (4.4% * 2));
  }

  // 프로필
  #page-about {
    h1 span {
      font-size: 3.6rem;
    }

    #visual {
      text-align: center;

      #profile {
        width: 50%;
        margin: 0 0 50px 0;
      }

      #graph {
        width: 100%;
      }
    }
  }
}

// Mobile M
@media screen and (max-width: 375px) {
  .portfolio-details {
    header {
      height: calc(116vw);
    }
  }

  // 프로필
  #page-about {
    h1 span {
      font-size: 3.2rem;
    }
  }
}

// Mobile S
@media screen and (max-width: 320px) {
  .portfolio-details {
    header {
      height: calc(128vw);
    }
  }
}