
.rolling-wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  max-width: 830px;
  max-height: 688px;
}

.rolling-frame-bg {
  position: relative;
  z-index: 2;
}

.rolling-frame-border {
  position: absolute;
  top: 4.4%;
  left: 3.9%;
  width: calc(100% - (3.9% * 2));
  height: calc(71.3% - (4.4% * 2));
  overflow: hidden;
}

.rolling-content {
  //display: none; // TODO
  position: relative;
  width: calc(100% * 6.2);
  height: 100%;
  z-index: 1;
  animation: 15s sliding ease 3s infinite;

  li {
    float: left;
    display: block;
    height: 100%;
  }

  img {
    width: auto !important;
    height: 100%;
  }
}

@keyframes sliding {
  0% { margin-left: 0; }

  10% { margin-left: calc(-100% * 1); }
  20% { margin-left: calc(-100% * 1); }

  30% { margin-left: calc(-100% * 2); }
  40% { margin-left: calc(-100% * 2); }

  50% { margin-left: calc(-100% * 3); }
  60% { margin-left: calc(-100% * 3); }

  70% { margin-left: calc(-100% * 4); }
  80% { margin-left: calc(-100% * 4); }

  90% { margin-left: calc(-100% * 5); }
  100% { margin-left: calc(-100% * 5); }
}