
.rolling-wrap {
  position: relative;
  margin: 0 auto;
  width: 830px;
  height: 688px;
  overflow: hidden;
}

.rolling-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/contents/img/portfolio/ipf/bg-monitor.png) no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
}

.rolling-frame-border {
  position: relative;
  margin-left: 31px;
  width: 765px;
}

.rolling-content {
  position: absolute;
  width: 4590px;
  left: 0;
  top: 31px;
  animation: 15s sliding ease 3s infinite;
  z-index: 1;

  li {
    display: block;
    float: left;
    width: 765px;
    height: 430px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .item1 {
    background-image: url(/contents/img/portfolio/ipf/slide1.png);
  }
  .item2 {
    background-image: url(/contents/img/portfolio/ipf/slide2.png);
  }
  .item3 {
    background-image: url(/contents/img/portfolio/ipf/slide3.png);
  }
  .item4 {
    background-image: url(/contents/img/portfolio/ipf/slide4.png);
  }
  .item5 {
    background-image: url(/contents/img/portfolio/ipf/slide5.png);
  }
  .item6 {
    background-image: url(/contents/img/portfolio/ipf/slide1.png);
  }
}

@keyframes sliding {
  0% { left: 0; }

  10% { left: calc(-765px * 1); }
  20% { left: calc(-765px * 1); }

  30% { left: calc(-765px * 2); }
  40% { left: calc(-765px * 2); }

  50% { left: calc(-765px * 3); }
  60% { left: calc(-765px * 3); }

  70% { left: calc(-765px * 4); }
  80% { left: calc(-765px * 4); }

  90% { left: calc(-765px * 5); }
  100% { left: calc(-765px * 5); }
}