#ar {
  header {
    p, h2 {
      color: #fff;
    }

    &::after {
      background-image: linear-gradient(to bottom, #6642dd, #885de9 44%, #718fe2);
    }
  }

  #the-project {
    .description {
      margin-bottom: 0;
    }
  }
}

/*******************************************************************
  반응형
 *******************************************************************/