#ar {
  header {
    p, h2 {
      color: #fff;
    }

    &::after {
      background-image: linear-gradient(to bottom, #6642dd, #885de9 44%, #718fe2);
    }
  }

  .visual {
    background-image: linear-gradient(to bottom, greenyellow, #fff);
  }
}


