#era {
  header {
    p,
    h2 {
      color: #fff;
    }

    &::after {
      background-image: linear-gradient(178deg, #43c6e8, #74e068);
    }
  }

  .process {
    margin-bottom: 80px;
  }

  #logo-design {
    .description {
      img {
        margin-top: 60px;
        width: 100%;
        max-width: 720px;
      }
    }
  }

  #color-scheme {
    h4 {
      margin-bottom: 40px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-bottom: 15px;

      &::before {
        display: block;
        content: '';
        margin-right: 16px;
        width: 38px;
        height: 38px;
        background-color: #8add76;
        border-radius: 50%;
      }

      &:nth-child(2) {
        &::before {
          background-color: #7ec46a;
        }
      }

      &:nth-child(3) {
        &::before {
          background-color: #2ea1da;
        }
      }

      &:nth-child(4) {
        &::before {
          background-color: #6d24bb;
        }
      }
    }
  }

  #wireframe {
    padding-top: 170px;
    background-image: linear-gradient(to bottom, #a0f18d, #45c7e8 42%, #72de6f);

    h3 {
      margin-bottom: 130px;
      color: #fff;
    }

    img:first-child {
      margin-bottom: 160px;
    }

    img:last-child {
      margin-bottom: 80px;
    }
  }
}

/*******************************************************************
  반응형
 *******************************************************************/
@media screen and (max-width: 768px) {
  #era {
    #wireframe {
      padding-top: 80px;

      h3 {
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  #era {
    .process {
      margin-bottom: 50px;
    }
  }
}
