#ipf {
  header {
    &::after {
      background-color: #fbfbfb;
    }
  }

  .visual {
    background-color: #eeeeee;
  }

  #idea-sketch {
    .image-pieces {
      flex-wrap: nowrap;
    }

    li {
      flex-basis: 38.2%;

      img {
        height: 100%;
      }
    }

    li:last-child {
      flex-basis: 20%;
    }
  }

  #device {
    .visual {
      padding-top: 1vw;
    }
  }

  #website-design {
    ol {
      flex-wrap: nowrap;
    }

    li {
      flex-basis: auto;

      &:first-child {
        flex-basis: 28% !important;
        margin-right: 4%;
      }

      &:last-child {
        flex-basis: 72% !important;
      }

      p {
        margin-bottom: 12px;
        text-align: center;
      }

      img {
        box-shadow: 0 15px 36px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

/*******************************************************************
  반응형
 *******************************************************************/
