#ipf {
  header {
    background-color: #fbfbfb;
  }

  .visual {
    background-color: #eeeeee;
  }

  #idea-sketch {
    li:first-child {
      flex-basis: 62.8%;
    }

    li:last-child {
      flex-basis: 36.2%;
    }
  }
}
