#ipf {
  header {
    &::after {
      background-color: #fbfbfb;
    }
  }

  .visual {
    background-color: #eeeeee;
  }

  #points {
    .visual {
      padding: 70px 0;
    }
  }

  #points .visual,
  #effect .visual {
    background-color: #f9f9f9;
  }

  #idea-sketch {
    .image-pieces {
      flex-wrap: nowrap;
    }

    li {
      flex-basis: 38.2%;
      margin-bottom: 0;

      img {
        height: 100%;
      }

      &:last-child {
        flex-basis: 20%;
      }
    }
  }

  #concept {
    .visual {
      background-color: transparent;
    }
  }

  #website-design {
    ol {
      flex-wrap: nowrap;
    }

    li {
      flex-basis: auto;

      &:first-child {
        flex-basis: 28% !important;
        margin-right: 4%;
      }

      &:last-child {
        flex-basis: 72% !important;
      }

      p {
        margin-bottom: 12px;
        text-align: center;
      }

      img {
        box-shadow: 0 15px 36px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

/*******************************************************************
  반응형
 *******************************************************************/
