#lms {
  header {
    p, h2 {
      color: #fff;
    }

    &::after {
      background-color: #060714;
    }

    img {
      box-shadow: none;
    }
  }

  .main-visual,
  .features {
    background-color: #060714;

    h4,
    p {
      color: #fff;
    }
  }

  .main-visual {
    padding-bottom: 170px;
    text-align: center;
    background-image: url("/contents/img/projects/lms/bg-pattern1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    .description {
      margin-bottom: 0 !important;
      padding-bottom: 0;
    }

    img {
      margin-bottom: 100px;
    }

    h2 {
      margin-bottom: 20px;
      color: #313349;
      font-size: 9rem;
      font-family: Anton;
      font-weight: normal;
    }

    p {
      margin-bottom: 0;
    }
  }

  .features {
    padding-bottom: 170px;
    background-image: url("/contents/img/projects/lms/bg-pattern2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden;

    > ul {
      display: flex;
      margin-bottom: 170px;
      padding: 0 145px;

      h4 {
        margin-top: 50px;
        display: block;
        text-transform: none;
        font-weight: normal;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 20px;
      }

      > li {
        &:nth-child(1) {
          flex-basis: 50%;
          margin-right: 5%;
        }

        &:nth-child(2) {
          flex-basis: 45%;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        p {
          margin-bottom: 20px;
        }
      }

      ul {
        margin-left: 6px;
        list-style: none;
        color: #fff;

        li {
          font-size: 1.4rem;

          &::before {
            display: inline-block;
            content: '・';
            margin-right: 10px;
            font-weight: bold;
          }
        }
      }

      &:nth-child(2) {
        > li {
          &:nth-child(2) {
            flex-basis: 50%;
            padding-left: 0;
            padding-right: 20px;
          }

          &:nth-child(1) {
            flex-basis: 50%;
            margin-right: 0;
            order: 1
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*******************************************************************
  반응형
 *******************************************************************/
@media screen and (max-width: 1439px) {
  .fixed-wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    &.w1440 {
      width: 100%;
    }
  }

  #lms {
    .main-visual {
      h2 {
        font-size: 7rem;
      }
    }

    .features {
      > ul {
        padding: 0 20px;
      }
    }
  }
}

// Tablet
@media screen and (max-width: 768px) {
  #lms {
    header h2 {
      font-size: 4.5rem;
    }

    .main-visual {
      h2 {
        font-size: 5.6rem;
      }
    }

    .features {
      > ul {
        h4 {
          margin-top: 40px;
        }

        > li:nth-child(1) {
          margin-right: 1%;
        }

        > li:nth-child(2) {
          flex-basis: 50%;
        }
      }
    }
  }
}

// PC samll, Mobile bic (작은 브라우저, 큰 스마트폰 화면에도 포함하기 위해 720이하로 적용)
@media screen and (max-width: 720px) {
  #lms {
    .main-visual {
      padding-bottom: 100px;
      margin-bottom: -1px;

      h2 {
        font-size: 3rem;
      }
    }

    .features {
      > ul {
        flex-wrap: wrap;
        margin-bottom: 100px;

        > li {
          margin: 0;
          flex-basis: 100% !important;

          p {
            margin-bottom: 10px;
          }
        }


        h4 {
          margin: 0 0 10px;
          font-size: 2rem;
        }

        img {
          margin-bottom: 20px;
        }

        li:nth-child(2) {
          padding-left: 0;
        }

        &:nth-child(2) {
          li:nth-child(1) {
            order: 0;
          }
        }
      }
    }
  }
}