#momtalk {
  header {
    p,
    h2 {
      color: #222222;
    }

    &::after {
      background-color: #ffda03;
    }
  }

  .features {
    display: flex;
    justify-content: space-between;

    > div {
      h4 {
        margin-bottom: 30px;
        color: #76522e;
        text-transform: uppercase;
        font-size: 7rem;
        line-height: 1.5;
        font-family: Anton;
        font-weight: normal;
      }
    }

    .image-wrap {
      flex-basis: 50%;
      max-width: 536px;
    }

    .description-wrap {
      flex-basis: 42%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  #the-project {
    .visual {
      padding-top: 100px;
      text-align: center;
      background: #ffda05 url('/contents/img/projects/momtalk/project-pt@2x.png') no-repeat center center;
      background-size: cover;

      img {
        max-width: 328px;
        width: 40vw;
      }
    }
  }

  #concept-img-wrap {
    margin-bottom: 170px;
    text-align: center;

    img:first-child {
      margin-bottom: 80px;
    }

    img:last-child {
      max-width: 940px;
    }
  }

  #talk {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }

  #event {
    margin-top: 50px;
    margin-bottom: 170px;
  }

  #mypage {
    margin-bottom: 100px;

    .visual {
      padding-top: 54px;
      text-align: center;
      background: #ffcf01;

      img {
        max-width: 610px;
      }
    }

    .features {
      margin-top: 20px;
    }
  }

  /*******************************************************************
    반응형
   *******************************************************************/
  @media screen and (min-width: 1000px) {
    #mypage {
      .features {
        margin-top: -85px !important;
      }
    }
  }

  @media screen and (max-width: 768px) {
    #the-project {
      .visual {
        padding-top: 40px;
      }
    }

    .features {
      display: flex;

      .image-wrap {
        max-width: 100%;
      }

      p {
        br {
          display: none;
        }
      }
    }

    #talk .image-wrap,
    #event .image-wrap {
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 768px) {
    #the-project {
      .visual {
        padding-top: 40px;
      }
    }

    .features {
      display: flex;

      div h4 {
        margin-bottom: 0 !important;
        line-height: 1.4;
        font-size: 6rem;
      }

      br {
        display: none;
      }
    }
  }

  // Mobile L
  @media screen and (max-width: 720px) {
    .features {
      display: block;

      div h4 {
        font-size: 5rem;
      }

      .description-wrap {
        margin-bottom: 30px;
      }

      .image-wrap {
        max-width: 100%;
        margin: 0;
      }
    }

    #concept-img-wrap,
    #event,
    #infomation {
      margin-bottom: 100px;
    }

    #talk {
      border: 0;
    }

    #mypage {
      margin-bottom: 30px;

      .visual {
        margin-bottom: 60px;
      }
    }
  }
}
