#rebranding {
  header {
    &::after {
      background-color: #fdfdfd;
    }
  }

  .process-content {
    padding-top: 70px;
    height: 768px;

    > .fixed-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    h4 {
      line-height: 1.8;
      font-size: 2rem;
      font-weight: 500;
      border-bottom: solid 1px #d8d8d8;
    }

    .description {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  #before-logo {
    height: 720px;

    .description {
      margin-bottom: 0;
    }

    img {
      max-width: 668px;
      max-height: 399px;
    }
  }

  #logo-design {
    .visual {
      max-height: 720px;
      padding: 110px 0;
      background-color: #303e46;

      img {
        max-width: 645px;
        max-height: 503px;
      }
    }
  }

  #motif {
    background-color: #fdfdfd;

    img {
      margin-bottom: 50px;
      max-width: 840px;
      max-height: 110px;
    }
  }

  #symbol {
    background-color: #f9f9f9;

    img {
      max-width: 282px;
      max-height: 282px;
    }
  }

  #basic {
    background-color: #efefef;

    img {
      max-width: 634px;
      max-height: 190px;
    }
  }

  #logo-type {
    height: 100%;
    margin-bottom: 150px;

    h4 {
      margin-bottom: 90px;
    }

    #cards {
      margin-bottom: 150px;

      li {
        flex-basis: 31.8%;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        margin-bottom: 38px;
      }
    }
  }

  #color-system {
    display: flex;

    li:nth-child(1) {
      flex-basis: 34%;
      text-align: left;

      h5 {
        margin-bottom: 30px;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    .color-wrap {
      flex-basis: 66%;
      display: flex;
      flex-wrap: wrap;

      div {
        flex-basis: 48%;
        margin-bottom: 35px;
        font-size: 1.6rem;
        &:nth-child(odd) {
          margin-right: 4%;
        }

        &::before {
          float: left;
          content: "";
          display: block;
          width: 141px;
          height: 141px;
          margin-right: 40px;
          border-radius: 5px;
        }

        &:nth-child(1) {
          &::before {
            background-color: #303e46;
          }
        }

        &:nth-child(2) {
          &::before {
            background-color: #61b97e;
          }
        }

        &:nth-child(3) {
          &::before {
            border: solid 1px #cccccc;
            background-color: #ffffff;
          }
        }

        &:nth-child(4) {
          &::before {
            background-color: #0c9eda;
          }
        }

        .title {
          display: inline-block;
          margin-bottom: 59px;
        }

        p {
          strong {
            display: inline-block;
            width: 80px;
          }
        }
      }
    }
  }

  #tails {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      padding: 20px;
      flex-basis: 50%;
      max-height: 378px;
      height: 40vw;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: inline-block;
        width: 100%;
        max-width: 341px;
        max-height: 52.7px;
      }

      &:nth-child(1) {
        background-color: #303e46;
      }

      &:nth-child(2) {
        background-color: #61b97e;
      }

      &:nth-child(3) {
        background-color: #ffffff;
      }

      &:nth-child(4) {
        background-color: #0c9eda;
      }
    }
  }
}