#rebranding {
  header {
    &::after {
      background-color: #fdfdfd;
    }
  }

  .process-content {
    padding-top: 70px;
    height: 768px;

    > .fixed-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    h4 {
      line-height: 1.8;
      font-size: 2rem;
      font-weight: 500;
      border-bottom: solid 1px #d8d8d8;
    }

    .description {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  #before-logo {
    height: 720px;
    background: #fdfdfd;

    .description {
      margin-bottom: 0;
    }

    img {
      max-width: 668px;
      max-height: 399px;
    }
  }

  #logo-design {
    .visual {
      max-height: 720px;
      padding: 110px 20px;
      background-color: #303e46;

      img {
        max-width: 645px;
        max-height: 503px;
      }
    }
  }

  #motif {
    background-color: #fdfdfd;

    img {
      margin-bottom: 50px;
      max-width: 840px;
      max-height: 110px;
    }

    p {
      text-align: center;
    }
  }

  #symbol {
    background-color: #f9f9f9;

    img {
      max-width: 282px;
      max-height: 282px;
    }
  }

  #basic {
    background-color: #efefef;

    img {
      max-width: 634px;
      max-height: 190px;
    }
  }

  #logo-type {
    height: 100%;
    margin-bottom: 170px;

    h4 {
      margin-bottom: 90px;
    }

    #cards {
      margin-bottom: 150px;

      li {
        flex-basis: 31.8%;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;

        strong {
          font-size: 2rem;
        }
      }

      img {
        margin-bottom: 38px;
      }
    }
  }

  #color-system {
    display: flex;

    li:nth-child(1) {
      flex-basis: 34%;
      padding-right: 2.5%;
      text-align: left;

      h5 {
        margin-bottom: 30px;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    .color-wrap {
      flex-basis: 66%;
      display: flex;
      flex-wrap: wrap;

      strong {
        font-weight: 500;
      }

      div {
        flex-basis: 48%;
        margin-bottom: 35px;
        font-size: 1.6rem;
        &:nth-child(odd) {
          margin-right: 4%;
        }

        &::before {
          float: left;
          content: "";
          display: block;
          width: 141px;
          height: 141px;
          margin-right: 40px;
          border-radius: 5px;
        }

        &:nth-child(1) {
          &::before {
            background-color: #303e46;
          }
        }

        &:nth-child(2) {
          &::before {
            background-color: #61b97e;
          }
        }

        &:nth-child(3) {
          &::before {
            border: solid 1px #cccccc;
            background-color: #ffffff;
          }
        }

        &:nth-child(4) {
          &::before {
            background-color: #0c9eda;
          }
        }

        .title {
          display: inline-block;
          margin-bottom: 59px;
        }

        p {
          strong {
            display: inline-block;
            width: 80px;
          }
        }
      }
    }
  }

  #tails {
    padding: 0;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      padding: 24px;
      flex-basis: 50%;
      max-height: 378px;
      height: 40vw;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: inline-block;
        width: 100%;
        max-width: 341px;
        max-height: 52.7px;
      }

      &:nth-child(1) {
        background-color: #303e46;
      }

      &:nth-child(2) {
        background-color: #61b97e;
      }

      &:nth-child(3) {
        background-color: #f9f9f9;
      }

      &:nth-child(4) {
        background-color: #0c9eda;
      }
    }
  }


  /*******************************************************************
    반응형
   *******************************************************************/
  @media screen and (max-width: 768px) {
    $margin-bottom-default: 100px;

    .process-content {
      height: 550px;
    }

    #logo-type {
      margin-bottom: $margin-bottom-default;

      #cards {
        margin-bottom: $margin-bottom-default;

        li {
          img {
            margin-bottom: 10px;
          }
          strong {
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }

      #color-system {
        display: block;

        li:nth-child(1) {
          margin-bottom: 30px;

          h5 {
            margin-bottom: 10px;
            font-size: 1.8rem;
          }

          p br:nth-child(2) {
            display: none;
          }
        }

        .color-wrap {
          p strong {
            width: 50px;
          }
        }
      }
    }

    #tails {
      height: auto;

      li {
        height: 25vw;
      }
    }
  }

  @media screen and (max-width: 720px) {
    $margin-bottom-default: 50px;

    .process-content {
      height: 500px;

      h4 {
        font-weight: 500;
        font-size: 1.8rem;
      }
    }

    #before-logo {
      height: 500px;
    }

    #logo-design {
      .visual {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    #logo-type {
      height: auto;
      margin-bottom: $margin-bottom-default;

      h4 {
        margin-bottom: $margin-bottom-default;
      }

      #cards {
        display: block;
        margin-bottom: 10px;

        li {
          margin-bottom: $margin-bottom-default;
        }

        img {
          min-height: auto;
        }
      }

      #color-system {
        .color-wrap {
          div {
            &::before {
              float: none;
              margin-bottom: 10px;
              width: 100%;
            }

            .title {
              margin-bottom: 10px;
            }

            strong {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  // Mobile L
  @media screen and (max-width: 425px) {
    .process-content {
      padding-top: 50px;
    }

    #before-logo,
    .process-content {
      height: 400px;
    }

    #symbol img {
      max-width: 180px;
      max-height: 180px;
    }

    #color-system {
      h5 {
        font-size: 1.6rem;
      }

      .color-wrap {
        div::before {
          height: 120px;
        }
      }
    }
  }
}