#remember {
  header {
    p,
    h2 {
      color: #fff;
    }

    &::after {
      background-color: #2d235e;
    }
  }

  #the-project {
    .visual {
      padding-top: 72px;
      padding-bottom: 72px;
      background: #5f3dac;
      text-align: center;

      img {
        max-width: 726px;
      }
    }
  }

  #persona {
    #needs {
      padding: 90px 0;
      background: #f9f9f9;
    }

    .comment-black {
      padding: 30px 40px;
      border-radius: 2px;
      background: #000;
      color: #fff;
      font-size: 18px;
      font-weight: 600;

      p {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #approach {
    #concept {
      padding: 216px 0;
      background: #494d58;
      * {
        color: #fff;
      }

      h4 {
        font-size: 1.6rem;
      }

      .piece {
        flex-basis: auto;
        &:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &:last-child {
          flex-basis: 490px;
        }
      }

      .font-wrap {
        margin-bottom: 40px;
      }
    }

    #remember-logo-wrap {
      width: 490px;
      height: 308px;
      border-radius: 15px;
      box-shadow: 0 12px 44px 0 rgba(39, 38, 38, 0.2);
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 316px;
      }
    }

    .features {
      background: #4b75ff;
    }

    .color-palette {
      li {
        &:nth-child(1) {
          &::before {
            background-color: #fff;
          }
        }

        &:nth-child(2) {
          &::before {
            background-color: #000;
          }
        }

        &:nth-child(3) {
          &::before {
            background-color: #5f3dac;
          }
        }
      }
    }

    #layout {
      padding: 170px 0;
    }

    #screen-shots {
      padding-bottom: 100px;

      .images {
        margin-bottom: 60px;

        img:not(.active) {
          display: none;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
      }

      button {
        flex-basis: 100%;
        margin: 0 8px;
        padding: 8px 10px;
        color: #fff;
        border-radius: 20px;
        border: solid 0.6px #fff;

        &.active,
        &:hover {
          border: solid 0.6px #0c33bd;
        }

        &:hover {
          background: rgba(18, 57, 186, 0.7);
        }

        &.active {
          background: rgba(18, 57, 186, 1);
        }
      }
    }
  }

  #final-design {
    .visual {
      background: #5f3dac;
    }
  }

  /*******************************************************************
    반응형
   *******************************************************************/
  @media screen and (max-width: 768px) {
    $paddingSize: 70px 0;
    #the-project {
      img {
        width: 70vw;
      }
    }

    #persona {
      .comment-black {
        padding: 10px 15px;
        font-size: 16px;

        br {
          display: none;
        }
      }

      #needs {
        padding: $paddingSize;
      }
    }

    #approach {
      #concept,
      .features {
        padding: $paddingSize;
      }

      #concept {
        .pieces {
          flex-direction: column;
        }

        #style-wrap {
          order: 1;
        }

        #remember-logo-wrap {
          padding: 0 50px;
          order: 0;
          width: auto;
          flex-basis: 160px;
          margin-bottom: 50px;
          border-radius: 3px;
        }
      }
    }
  }
}
