@charset "utf-8";
/* SYJ 2013-02-04 */

/* reset */
*{margin:0;padding:0}
html{overflow-y:scroll}
body{zoom:1;/*ie 5,6,7 bug fix*/filter:alpha(opacity=90);opacity:0.9;font-family:Dotum;font-size:100%;color:#666}
a:link,a:visited{color:#999;text-decoration:none;cursor:pointer}
a:hover{color:#6f8ebb;text-decoration:none}
img{border:none}
table{border-collapse:collapse}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
input{border:1px solid #b0b0b0;color:#979797;width:190px;padding:3px 5px 4px}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}
ul,li,dl,dt,dd{list-style-type:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:before,q:after{content:''}
div .clear{clear:both}
a:link,a:visited{color:#666;text-decoration:none;cursor:pointer}
fieldset,img,abbr,acronym{border:0}

/* Common */
::selection,::-webkit-,::-moz-,::-o-,::-ms-{background:#DBFFCE;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
@font-face {
    font-family: 'ItaliannoRegular';
    src: url('font/Italianno-Regular-OTF-webfont.eot');
    src: url('font/Italianno-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Italianno-Regular-OTF-webfont.woff') format('woff'),
         url('font/Italianno-Regular-OTF-webfont.ttf') format('truetype'),
         url('font/Italianno-Regular-OTF-webfont.svg#ItaliannoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
::selection {
	background: #faf5e2;
	color: #2c2c2c;
}

/* Layout */
#wrap{width:970px;text-align:center;background:#fff;margin:0 auto 30px;}

/* Quickmenu */
#qmenu{width:66px;text-align:center;position:absolute;z-index:9990000;top:300px;left:50%;margin-left:430px;font-weight:700;font-size:12px}
#qmenu ul{
	padding: 28px 0 60px;
	background:url(img/qmenubg.jpg) no-repeat;
	line-height:20px;
}
#qmenu ul li { width: 100%; }
#qmenu ul:after { display: block; content: ""; clear: both; }
#qmenu a{color:#BCBCBB}
#qmenu a:hover{color:#B3C785}

/* Header */
header{width:960px;background:#fff;margin:0 auto}
header nav ul,li{float:left}
header nav .logo{float:left;cursor:pointer;margin:0 170px 0 30px}
header nav li{overflow:hidden;text-align:center;font-size:16px;line-height:11.5em;display:inline;border:1px solid #eee;box-shadow:3px 1px 3px #eee;border-radius:0 0 8px 8px;-webkit-box-shadow:3px 1px 3px #eee;-moz-box-shadow:3px 1px 3px #eee;-o-box-shadow:3px 1px 3px #eee;-webkit-border-radius:0 0 8px 8px;-moz-border-radius:0 0 8px 8px;-o-border-radius:0 0 8px 8px;color:#8a7057}
header nav li a{display:block;overflow:hidden;width:120px;height:103px;}
header nav li:hover{background:#faf5e2;border-radius:0 0 8px 8px;-webkit-border-radius:0 0 8px 8px;-moz-border-radius:0 0 8px 8px;-o-border-radius:0 0 8px 8px}

header nav li .mi1{background:url(img/micon1.gif) 0 0px no-repeat}
header nav li .mi2{background:url(img/micon2.gif) 0 -4px no-repeat}
header nav li .mi3{background:url(img/micon3.gif) 0 -2px no-repeat}
header nav li .mi4{background:url(img/micon4.gif) 0 -4px no-repeat}
header nav li .mi5{background:url(img/micon5.gif) 0 -2px no-repeat}
header nav li .mi1:hover,header nav li .mi2:hover,header nav li .mi3:hover,header nav li .mi4:hover,header nav li .mi5:hover{background-position:0 -100px}

/* Footer */
footer{position:relative;width:960px;border-top:1px solid #eee; line-height:23px;font-size:14px}
footer .iconfooter{position:absolute;top:-13px;left:450px;display:inline-block}
footer span.copyright{font-weight:bold;font-family:ItaliannoRegular;font-size:20px;line-height:45px;color:#666}
footer span.red{color:red}

/**** Content ****/
/* index */
section.container1 #slide{position:relative;width:924px;height:476px;z-index:100;overflow:hidden;margin:40px auto}
section.container1 .slider{overflow:visible!important;position:relative;z-index:2;width:924px;height:476px;margin:0 auto}
section.container1 .items{display:none}
section.container1 .prev{position:absolute;bottom:6px;left:441px;z-index:9999;width:33px;height:33px;background:url(img/icon01.png) 0 0 no-repeat}
section.container1 .next{position:absolute;bottom:6px;right:402px;z-index:9999;width:33px;height:33px;background:url(img/icon02.png) 0 0 no-repeat}

/* sub1 */
article.wraper1 table#sub1ban{width:800px;height:340px;border-collapse:collapse;margin:0 auto}
article.wraper1 table#sub1ban .stylefont{font-family:ItaliannoRegular;font-size:27px;line-height:1.3em;color:#666}
section.container2{width:940px;font-size:16px;overflow:hidden;margin:30px 10px 0}
section.container2 ul.tab{width:940px;border-top:1px solid #ccc}
section.container2 ul.tab li{list-style-type:none;width:130px;height:25px;padding-top:4px}
section.container2 ul.tab li a{display:block}
section.container2 ul.tab li a.selected{color:#000;border-bottom:none;text-decoration:none;cursor:default}
section.container2 ul.panel{clear:both;border-bottom:1px solid #ccc;box-shadow:0 0 1px rgba(0,0,0,0.4), inset 0 1px 0 #fff;text-shadow:0 1px #fff;padding:0}
section.container2 ul.panel li{list-style-type:none;color:#333;padding:5px}
section.container2 ul.panel #tab1 #aboutus{width:800px;height:300px;background-image:url(img/pic2.jpg);background-repeat:no-repeat;margin:33px 47px}
section.container2 ul.panel #tab1 #aboutus .headbox{width:400px;padding-left:375px}
section.container2 ul.panel #tab1 #aboutus .headbox .heading{font-family:ItaliannoRegular;font-size:30px;color:#754c24;line-height:1.6em}
section.container2 ul.panel #tab1 #aboutus .headbox .bonmun{font-size:14px;color:#81757c;line-height:1.8em}
section.container2 ul.panel #tab2 #historymap{border-spacing:20px;margin:20px}
section.container2 ul.panel #tab2 #historymap td{width:410px;border:1px solid #ccc;font-size:14px;-webkit-box-shadow:3px 1px 3px #eee;-moz-box-shadow:3px 1px 3px #eee;-o-box-shadow:3px 1px 3px #eee;border-radius:5px}
section.container2 ul.panel #tab2 #historymap .heading{display:block;font-size:15px;padding-top:5px}
section.container2 ul.panel #tab2 #historymap .bonmun{font-size:14px;line-height:2em}
section.container2 ul.panel #tab3 #japumsoga{width:870px;margin:20px auto}
section.container2 ul.panel #tab3 #japumsoga td{background:#F9E6E4}
section.container2 ul.panel #tab3 #japumsoga .heading{padding-top:15px;font-family:ItaliannoRegular;font-size:35px;font-weight:700;color:#fc4c7e;line-height:60px}
section.container2 ul.panel #tab3 #japumsoga .bonmun{padding-left:380px;font-size:14px;color:#c15272;line-height:1.5em;text-align:left}
section.container2 ul.panel #tab2 #historymap .mapimg,section.container2 ul.panel #tab3 #japumsoga .left{float:left}

/* sub2 */
section.container3 h3{width:80%;font-family:ItaliannoRegular;font-size:34px;border-bottom:1px dashed #E8C1A6;color:#A38B7B;margin:50px auto}
article.wraper2 .link{display:inline-block;color:#444;text-shadow:0 -1px 0 #eee;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out}
article.wraper2 .link:hover{color:#739B86}
article.wraper2 #content{margin:20px auto}
article.wraper2 .item{display:block;float:left;width:170px;background:#fff;border:1px solid #ccc;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;box-shadow:0 0 3px #ccc;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;-o-box-shadow:0 0 3px #ccc;transition:left .4s ease-in-out, top .4s ease-in-out .4s;-webkit-transition:left .4s ease-in-out, top .4s ease-in-out .4s;-moz-transition:left .4s ease-in-out, top .4s ease-in-out .4s;-ms-transition:left .4s ease-in-out, top .4s ease-in-out .4s;-o-transition:left .4s ease-in-out, top .4s ease-in-out .4s;margin:0 10px 10px 0;padding:10px}
article.wraper2 .item img{margin-bottom:10px}
article.wraper2 .heading{padding-top:3px;border-bottom:2px solid #EDF5E5;font-family:ItaliannoRegular;font-size:19px}
article.wraper2 .bonmun{font-size:13px;line-height:23px;padding:0 5px}

/* sub3 */
article.wraper3{text-align:left}
article.wraper3 #page-wrap{width:970px;margin:35px auto}
article.wraper3 .slider-wrap{width:970px;position:relative;top:0;left:0;margin:0 auto}
article.wraper3 .panel ul{margin:0}
article.wraper3 .stripViewer{position:relative;overflow:hidden;width:950px;background:url(img/bg.png) 430px -80px no-repeat}
article.wraper3 .stripViewer .panelContainer{position:relative;left:0;top:0}
article.wraper3 .stripViewer .panelContainer .panel{position:relative;float:left;width:950px}
article.wraper3 .stripNavL,.stripNavR,.stripNav{display:none}
article.wraper3 .left{float:left}
article.wraper3 h3{font-weight:700;font-size:14px;color:#A52A2A;letter-spacing:2px;padding:5px 0}
article.wraper3 h2{font-weight:700;font-size:19px;color:red;padding:5px 0}
article.wraper3 .heading1{font-weight:700;font-size:14px;line-height:25px;padding:10px 0}
article.wraper3 .heading2{float:left;font-weight:700;font-size:16px;line-height:25px}
article.wraper3 .bonmun1{font-size:105%;line-height:23px}
article.wraper3 .more{font-size:12px;font-weight:700;padding:6px 0}
article.wraper3 .ltclick{position:absolute;top:120px;left:5px;z-index:999999999999999}
article.wraper3 .rtclick{position:absolute;top:120px;left:925px;z-index:999999999999999}
article.wraper3 #movers-row{position:relative;overflow:hidden;width:970px;height:300px;background:#eee;margin:0}
article.wraper3 #movers-row a.cross-link{float:left;display:inline-block}
article.wraper3 #seebox{width:2200px;height:300px;background:#fff}
article.wraper3 .nav-thumb{float:left;position:relative}
article.wraper3 .cross-link{display:block;width:62px;z-index:9999;margin:30px 125px 0 47px}
article.wraper3 .recipe{display:inline-block}

/* sub4 */
section.wraper4{width:960px;text-align:center;font-size:14px;margin:0 auto}
section.wraper4 .sub2ban{height:20px;padding-top:45px;margin:0 auto}
section.wraper4 .sub2ban span.heading{font-family:ItaliannoRegular;font-size:35px;color:#666}
section.wraper4 #pum{width:900px;margin:20px auto}
section.wraper4 #pum td{border:1px solid #ccc;font-size:19px;-webkit-box-shadow:3px 1px 3px #eee;-moz-box-shadow:3px 1px 3px #eee;-o-box-shadow:3px 1px 3px #eee;padding:35px}
section.wraper4 article.container4 .pumpannel{width:853px;height:427px;background-image:url(img/panel.jpg);background-repeat:no-repeat;margin:50px auto}
section.wraper4 article.container4 dl.pumalign1{float:left;padding:45px 0 0 55px}
section.wraper4 article.container4 dl.pumalign{float:left;padding:45px 17px 0 15px}
section.wraper4 article.container4 dl.pumtextalign{float:left;padding:60px 20px 0 37px}
section.wraper4 article.container4 dl dt .pumheading{font-family:ItaliannoRegular;font-size:34px}
section.wraper4 article.container4 dl dd .pumbounmun{font-family:ItaliannoRegular;font-size:20px;font-style:italic;line-height:34px;color:#777}
section.wraper4 article.container4 dl.pumalign3{float:left;padding:40px 0 0 55px}
section.wraper4 article.container4 dl.pumalign3sub{float:left;padding:40px 17px 0 15px}

article.container5 ul.tab{width:890px;height:30px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 auto}
article.container5 ul.tab li{list-style-type:none;width:130px;height:25px;padding-top:9px}
article.container5 ul.tab li a{display:block;text-decoration:none}
article.container5 ul.tab li a.selected{color:#000;border-bottom:none;text-decoration:none;cursor:default}
article.container5 ul.panel{clear:both;width:890px;box-shadow:0 0 1px rgba(0,0,0,0.4), inset 0 1px 0 #fff;text-shadow:0 1px #fff;margin:0 auto;padding:0}
article.container5 ul.panel li{list-style-type:none;color:#333;padding:5px 5px 20px}
article.container5 ul.panel #tab1 table#recipe1{width:900px;margin:15px 10px}
article.container5 ul.panel #tab1 table#recipe1 .rcpum1{margin:5px}
article.container5 ul.panel #tab1 table#recipe1 .heading{font-size:18px;color:#bf0c0c;padding-bottom:20px}
article.container5 ul.panel #tab1 table#recipe1 .ready{text-align:left;font-size:15px;color:#87767d;margin-left:30px}
article.container5 ul.panel #tab2 table#recipe2 .rcpum2{margin:15px 3px}
article.container5 ul.panel #tab2 table#recipe2 .heading{font-size:18px;color:#4e1207;padding-bottom:20px}
article.container5 ul.panel #tab2 table#recipe2 .ready{font-size:15px;color:#462c27}
article.container5 ul.panel #tab3 table#recipe3 .rcpum3{margin:15px 10px 0 0}
article.container5 ul.panel #tab3 table#recipe3 .heading{font-size:18px;color:#4e1207;padding:15px}
article.container5 ul.panel #tab3 table#recipe3 .ready{font-size:15px;color:#462c27;line-height:37px}
article.container5 ul.panel #tab3 table#recipe3 .bonmun{text-align:left;font-size:15px;line-height:24px}
article.container5 ul.panel #tab3 table#recipe3 .point{color:red}
article.container5 ul.panel #tab1 table#recipe1 .bonmun,article.container5 ul.panel #tab2 table#recipe2 .bonmun{text-align:left;font-size:15px;line-height:22px;margin-left:30px}

/* sub5 */
article.container6 #faqban{width:900px;text-align:center;font-size:17px;color:#648a2d;margin:50px 30px;padding:3px}
article.container6 #faqban .red{color:#fa1a22;font-size:17px;font-weight:700}
article.container6 #faqban .blue{color:#025ab2;font-size:17px;font-weight:700}
article.container6 #faqban .green{color:#54b581;font-size:17px;font-weight:700}
article.container6 #faqban .faqbox2{color:#547561;font-size:15px;padding:2px}
article.container6 #faqban .faqbox2-1{color:#025ab2;font-size:17px;padding:5px}
section.wraper5 dl.faqacodion{width:685px;float:left;text-align:left;margin:10px 20px 40px 28px}
section.wraper5 dt.heading{height:35px;line-height:35px;text-indent:2em;font-size:15px;color:#444;border-bottom:1px solid #ccc}
section.wraper5 .heading:hover{color:#666;background-color:#f8e7a2;cursor:pointer}
section.wraper5 .heading.selected{color:#fff;background:#D3BBAF;cursor:default}
section.wraper5 dt.heading .q{font-size:17px;color:#fb5100}
section.wraper5 dd.bonmun .a{font-weight:700;font-size:15px;color:#005fb1}
section.wraper5 dd.bonmun{padding-left:22px;background:#FCF7F0}
section.wraper5 dd.bonmun p.bonmuntext{line-height:25px;font-size:14px;color:#555;padding:20px}
section.wraper5 dd.bonmun span.red{color:#fe5037}
section.wraper5 dd.bonmun span.ready{color:#2f4376}
section.wraper5 #subnav{width:187px;height:450px;float:left;margin-top:10px;background:#f8efd0;box-shadow:2px 2px 3px #f6ecb6;border-radius:0 0 8px 8px;-webkit-box-shadow:2px 2px 3px #f6ecb6;-moz-box-shadow:2px 2px 3px #f6ecb6;-o-box-shadow:2px 2px 3px #f6ecb6;-webkit-border-radius:8px 8px 8px 8px;-moz-border-radius:8px;-o-border-radius:8px 8px 8px 8px;padding:5px 0 0}
section.wraper5 #subnav .heading{color:#362f2d;padding:7px}
section.wraper5 #subnav .subnavheading{font-size:15px;color:#754c24;border-top:1px dashed #87767d;padding:7px}
section.wraper5 #subnav .subnavbonmun{font-size:13px;color:#87767d;padding:2px}
