<div id="ar" class="portfolio-details" data-thema="white">
	<header>
		<p class="sa-v1">iOS APP FOR</p>
		<h2 class="sa-v1">EBS Reading Club</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/portfolio/ar/main@2x.png" alt="EBS Reading Club AR" class="sa-v2" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap sa-v2">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>EBS Readingclub</dd>
				<dt>DATE</dt>
				<dd>2018.01~2018.02</dd>
				<dt>ROLE</dt>
				<dd>UX/UI Design</dd>
				<dt>URL</dt>
				<dd>비공개</dd>
			</dl>

			<div>
				<h1>EBS 리딩클럽 (iOS/App)</h1>
				<p>
					[기여도] 디자인 (100%)<br>
					EBS 리딩클럽의 AR 서비스.<br>
					해당 기능은 출시 되지 않아 비공개 상태입니다.
				</p>
			</div>
		</section>
	</article>

	<footer class="fixed-wrap sa-v2">
		<h3>More projects</h3>
		<div class="portfolio-list"></div>
	</footer>
</div>
