<div id="ar" class="portfolio-details">
	<header>
		<p>iOS APP FOR</p>
		<h2>EBS Reading Club</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/portfolio/ar/main.png" alt="EBS Reading Club AR" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>EBS Readingclub</dd>
				<dt>DATE</dt>
				<dd>2018.01~2018.02</dd>
				<dt>ROLE</dt>
				<dd>UX/UI Design</dd>
				<dt>URL</dt>
				<dd>비공개</dd>
			</dl>

			<div>
				<h1>EBS 리딩클럽 (iOS/App)</h1>
				<p>
					[기여도] 디자인 (100%)<br>
					EBS 리딩클럽의 AR 서비스.
					해당 기능은 출시 되지 않아 비공개 상태입니다.<br><br>

					[목표]<br>
					영어라는 언어의 학습에 대한 문제를 해결하고 수요를 충족시켜 줄 수 있는 솔루션을 제시합니다.
				</p>
			</div>
		</section>
	</article>

	<footer class="fixed-wrap">
		<h3>More projects</h3>
		<div class="portfolio-list"></div>
	</footer>
</div>
