<div id="ebsrc" class="portfolio-details">
	<header>
		<p class="sa-v1">WEBSITE FOR</p>
		<h2 class="sa-v1">EBS Reading Club</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/portfolio/ebsrc/main@2x.png" alt="EBS 리딩클럽 (Web/App)" class="sa-v2" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap sa-v2">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>EBS Readingclub</dd>
				<dt>DATE</dt>
				<dd>2016.04~2018.04</dd>
				<dt>ROLE</dt>
				<dd>UX/UI Design</dd>
				<dt>URL</dt>
				<dd><a href="http://www.ebsreadingclub.com" target="_blank">www.ebsreadingclub.com</a></dd>
			</dl>

			<div>
				<h1>EBS 리딩클럽 (Web/App)</h1>
				<p>
					[기여도] 디자인 (100%)<br>
          EBS 리딩클럽은 EBS 미디어, 옥스포드 대학 출판부,글로벌 교육 기술 기업 iPortfolio가 합작하여 만든 ELT eReading 서비스 플랫폼입니다.
          차별화된 전자 책 기술은 웹 로그 분석, 게임, 레벨 테스트, 사전 및 통합 도서 기능 등을 제공합니다.<br><br>

					[목표]<br>
          영어라는 언어의 학습에 대한 문제를 해결하고 수요를 충족시켜 줄 수 있는 솔루션을 제시합니다.
				</p>
			</div>
		</section>

		<section id="the-project" class="sa-v2">
			<div class="description fixed-wrap">
				<h3>THE PROJECT</h3>
				<p>
          iOS, Android, Web을 제공하고 있는 멀티 크로스 플랫폼입니다.<br>
          모든 콘텐츠는 Oxford의 베스트셀링 시리즈들로 구성되어 있으며 자체적으로 개발한 멀티디멘션 리딩(MDR)기술은
          자연스럽게 영어에 노출시켜 영어에 쉽게 접근할 수 있게 해줍니다.<br>
          체계적이고 지속적인 학습을 위해 레벨 테스트 및 메달 시스템, LMS 기능을 제공하고 있습니다.
				</p>
				<a href="http://www.ebsreadingclub.com" target="_blank" class="button">사이트 바로가기</a>
			</div>

			<div class="visual">
				<div class="fixed-wrap">
					<img src="/contents/img/portfolio/ebsrc/device@2x.png" alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경" class="sa-v3" />
				</div>
			</div>
		</section>

		<section class="sa-v2">
			<div class="description fixed-wrap">
				<h3>SITE FLOW</h3>
				<p>
          입사 후 처음 맡게 되는 프로젝트로서 서비스의 UI/UX를 진행했습니다.<br>
          디자인, 개발이 동시에 진행되다 보니 디테일한 부분에서 Web, Android, iOS 개발자가 생각하는 완성된 기준이 달랐고,<br>
          제공되는 기능 또한 적지 않아서 커뮤니케이션의 혼선을 줄이기 위해서 초기 작업은 프로세스 플로어 및 UI 가이드라인 작업에 집중했습니다.
        </p>
			</div>

			<ol class="image-pieces piece3 fixed-wrap">
				<li><img src="/contents/img/portfolio/ebsrc/sketch1@2x.png" alt="sketch1" /></li>
				<li><img src="/contents/img/portfolio/ebsrc/sketch2@2x.png" alt="sketch2" /></li>
				<li><img src="/contents/img/portfolio/ebsrc/sketch3@2x.png" alt="sketch3" /></li>
			</ol>
		</section>

		<section id="design" class="sa-v2">
			<div class="description fixed-wrap">
				<h3>DESIGN</h3>
				<p>
					PC와 모바일의 반응형 디자인
				</p>
			</div>

			<ol class="image-pieces fixed-wrap">
				<li><img src="/contents/img/portfolio/ebsrc/design1@2x.png" alt="design1" /></li>
        <li><img src="/contents/img/portfolio/ebsrc/design2@2x.png" alt="design2" /></li>
				<li><img src="/contents/img/portfolio/ebsrc/design3@2x.png" alt="design3" /></li>
        <li><img src="/contents/img/portfolio/ebsrc/design4@2x.png" alt="design4" /></li>
			</ol>
		</section>

    <!--<section>-->
      <!--<div class="description fixed-wrap">-->
        <!--<h3>SERVICE DESIGN PROCESS</h3>-->
        <!--<p>-->
          <!--간단한 설명 필요-->
        <!--</p>-->
      <!--</div>-->

      <!--<ol class="image-pieces fixed-wrap">-->
        <!--<li><img src="/contents/img/portfolio/ipf/site-before.png" alt="before" /></li>-->
        <!--<li><img src="/contents/img/portfolio/ipf/site-after.png" alt="after" /></li>-->
      <!--</ol>-->
    <!--</section>-->
	</article>

	<footer class="fixed-wrap sa-v2">
		<h3>More Projects</h3>
		<div class="portfolio-list"></div>
	</footer>
</div>
