<div id="ipf" class="portfolio-details">
	<header>
		<p>WEBSITE FOR</p>
		<h2>iPortfolio</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/portfolio/ipf/main.png" alt="iPortfolio의 회사 브랜드 사이트" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>Corporate Brand Site</dd>
				<dt>DATE</dt>
				<dd>2018.08~2018.09</dd>
				<dt>ROLE</dt>
				<dd>Design & Web develop</dd>
				<dt>URL</dt>
				<dd><a href="http://www.iportfolio.co.kr" target="_blank">www.iportfolio.co.kr</a></dd>
			</dl>

			<div>
				<h1>iPortfolio 회사 브랜드 사이트</h1>
				<p>
					[기여도] 디자인 (100%), 웹 개발 (100%)<br>
					입사 전에 개발되었던 브랜드 사이트는 Wix에서 제공하는 템플릿으로 사이트가 개발되었었습니다.
					그로 인해 모바일 디바이스에서 지원되지 않는 이슈, 제한된 커스터마이징으로 인한 디자인의 한계로 변경했으면 좋겠다는
					많은 피드백을 받았습니다. 또 회사의 얼굴인 브랜드 사이트가 오래전에 개발된 상태로 외부에 공개되는게 줄곧 신경이 쓰여
					작업을 시작하게 되었습니다.<br><br>

					[목표]<br>
					홈페이지의 타켓이 되는 대상은 주로 협력/제휴업체, 입사 지원자, 서비스 이용 중 회사에 대한 호기심을 가진 자,
					어떤 회사에 다니고 있는지 궁금해하는 임직원의 친지/가족이라 판단했고 회사가 가진 미션과 비전,
					제공하는 서비스와 채용에 관련된 정보를 최대한 잘 보여주는 것을 목표로 설정하였습니다.
				</p>
			</div>
		</section>

		<section id="the-project">
			<div class="description fixed-wrap">
				<h3>The Project</h3>
				<p>
					반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경으로 콘텐츠를 볼 수 있게 적용했고,<br>
					회사가 추구하는 이념과 가치, 서비스 정보를 시각적으로 재미있게 보여줄 수 있게 Parallax 기능을 넣었습니다.<br>
					또 개발자가 아닌 임직원이 뉴스/채용 게시판에 대한 잦은 업데이트 요청을 줄이기 위해 Admin 사이트를 구축 등 웹사이트 개선 작업을 진행했습니다.
				</p>
				<a href="http://www.iportfolio.co.kr" target="_blank" class="button">사이트 바로가기</a>
			</div>

			<div class="visual">
				<div class="fixed-wrap">
					<img src="/contents/img/portfolio/ipf/device.png" alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경" />
				</div>
			</div>
		</section>

		<section>
			<div class="description fixed-wrap">
				<h3>Wireframe</h3>
				<p>
					한개의 싱글 페이지로 제작,<br>
					여러개의 프로젝트 들이 어떻게 잘 보일 수 있을까 고민,<br>
					페레럴스 스크롤 효과를 생각함
				</p>
			</div>

			<ol class="image-pieces fixed-wrap">
				<li><img src="/contents/img/portfolio/ipf/wireframe1.png" alt="wireframe1" /></li>
				<li><img src="/contents/img/portfolio/ipf/wireframe2.png" alt="wireframe2" /></li>
				<li><img src="/contents/img/portfolio/ipf/wireframe3.png" alt="wireframe3" /></li>
				<li><img src="/contents/img/portfolio/ipf/wireframe4.png" alt="wireframe4" /></li>
				<li><img src="/contents/img/portfolio/ipf/wireframe5.png" alt="wireframe5" /></li>
				<li><img src="/contents/img/portfolio/ipf/wireframe6.png" alt="wireframe6" /></li>
			</ol>
		</section>

		<section>
			<div class="description fixed-wrap">
				<h3>Before / After</h3>
				<p>
					간단한 설명 필요
				</p>
			</div>

			<ol class="image-pieces fixed-wrap">
				<li><img src="/contents/img/portfolio/ipf/site-before.png" alt="before" /></li>
				<li><img src="/contents/img/portfolio/ipf/site-after.png" alt="after" /></li>
			</ol>
		</section>

		<section>
			<div class="description">
				<h3>Admin</h3>
				<p>
					간단한 설명 필요
				</p>
			</div>

			<div class="visual">
				<div class="rolling-wrap">
					<img src="/contents/img/portfolio/ipf/bg-monitor.png" class="rolling-frame-bg" />
					<div class="rolling-frame-border">
						<ul class="rolling-content">
							<li>
								<img src="/contents/img/portfolio/ipf/slide1.png" />
							</li>
							<li>
								<img src="/contents/img/portfolio/ipf/slide2.png" />
							</li>
							<li>
								<img src="/contents/img/portfolio/ipf/slide3.png" />
							</li>
							<li>
								<img src="/contents/img/portfolio/ipf/slide4.png" />
							</li>
							<li>
								<img src="/contents/img/portfolio/ipf/slide5.png" />
							</li>
							<li>
								<img src="/contents/img/portfolio/ipf/slide1.png" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</article>

	<footer class="fixed-wrap">
		<h3>More projects</h3>
		<div class="portfolio-list"></div>
	</footer>
</div>
