<div id="page-about">
	<h1>안녕하세요</h1>
	<p class="introduce">
		I am a Product designer based in Seoul Area.
		<br /><br />
		I have over five years of experience in UX with Product such as WhatsApp, Yahoo and Samsung.
		I have delivered more than fifty products with over a billion people using them everyday.
		During this time, I met a variety of users whose perspectives taught me to fine0tune the creation of more effective, user-friendly mobile designs.
		I have learned that it’s very important for a designer to deeply understand what users care about when designing and creating new features and product for the market.
		<br /><br />
		I run multiple side Projects when I have free time.
		androidux.com which is the most popular android UX pattern site and car-ux.com that is a collection of vehicle interface site. If you are interseted in any of those subjects, please visit and spend some time.
	</p>

	<ul class="circle">
		<li><a href="mailto:ssongki@gmail.com">ssongki@gmail.com</a></li>
		<li><a href="https://www.linkedin.com/in/colorbridge" target="_blank">LinkedIn</a></li>
	</ul>

	<h2>Work Experience</h2>
	<div class="description">
		<h3>iPortfolio</h3>
		<strong>2016 - Present</strong>
		<p>Product Designer</p>
	</div>

	<div class="description">
		<h3>AND</h3>
		<strong>2015 - 2016</strong>
		<p>
			UX/UI Designer<br/>
			The Project included creating a seamless live streaming experience to NFL fans all around the world.
			I led the design across all plaforms, including iOS, Android and the Web. More than 33 million users watched the game and it made internet history.
			<br/><br/>
			Lead Designer. Yahoo News Digest android
			The application provides a definitive summary of all the important, need-to-know news in a compact manner.
			It received 4.5 stars and great feedback from its users. It was named “Top 10 Best News App” and the “The Best app of 2014” from Google.
		</p>
	</div>

	<div class="description">
		<h3>Rsupport</h3>
		<strong>2013 - 2014</strong>
		<p>
			Frontend developer<br />
			Galaxy Note was the first 5 inch device on the market. I was one of six core designer to creat this product.
			The device has sold over 50 million unites and quickly became the company’s flagship.
			<br /><br />
			Mobile UX Designer. North America Market
			From tiny pixels to large screen, I commuicated with multiple teams to create the right user experience and successfully launched 40 + devices.
		</p>
	</div>

	<div class="description">
		<h3>KnowRe</h3>
		<strong>2012 - 2013</strong>
		<p>
			web publisher<br />
			I led the mobile product. More than 40% of total users were using its mobile application.
		</p>
	</div>


	<h2>Education</h2>
	<div class="description">
		<h3>성신 여자 대학교</h3>
		<p>공예과 ∙ 섬유 공예 예술 학사</p>
	</div>


	<h2>Awards</h2>
	<div class="description">
		<h3>미국 life is good ∙ 2011.02</h3>
		<p>패션 일러스트 부분, 수상</p>
	</div>

	<div class="description">
		<h3>한국 산업 미술 전람회 ∙ 2011.01</h3>
		<p>텍스타일 부분, 특선</p>
	</div>

	<div class="description">
		<h3>대구 텍스타일 대전 (한국의 향기) ∙ 2010.11</h3>
		<p>텍스타일 부분, 특선</p>
	</div>

	<div class="description">
		<h3>대한민국 텍스타일 대전 ∙ 2010.09 </h3>
		<p>패션 어페럴 부분, 특선</p>
	</div>


	<h2>Experience</h2>
	<div class="description">
		<h3>Opic(IM2) ∙ 2014.04</h3>
		<p>기본적인 영어 회화 가능</p>
	</div>

	<div class="description">
		<h3>공예 트랜드 페어 ∙ 2012.12.15 ~ 2012.12.18</h3>
		<p>COEX 전시</p>
	</div>

	<div class="description">
		<h3>MAPPING BREATH ∙ 2012.4.17 ~ 2012.04.20</h3>
		<p>성신여대 박물관 대전시실 전시</p>
	</div>

	<div class="description">
		<h3>SWITCH PASS ∙ 2012.3.28 ~ 2012.04.01</h3>
		<p>영은 미술관 전시</p>
	</div>

	<div class="description">
		<h3>CARRE ∙ 2011.12</h3>
		<p>Gallery Hong 스카프 전시</p>
	</div>

	<div class="description">
		<h3>FASHION DESIGN 산업기사 취득 ∙ 2009.01</h3>
	</div>

	<div class="description">
		<h3>SHOP MASTER 3급 취득 ∙ 2007</h3>
	</div>
</div>
