<div id="page-about" class="fixed-wrap">
  <h1 class="sa-v1">
    <img src="/contents/img/about/profile@2x.png" alt="profile" class="profile" />
    Hello, I’m Youngjin Song
  </h1>
	<p class="introduction sa-v1">
    I’m <a href="#portfolio">UX Designer</a> and <a href="#weekly-drawing">Motion Graphic enthusiast</a>.
    Send me an <a href="mailto:ssongki@gmail.com">email</a> or
    read my <a href="https://www.linkedin.com/in/colorbridge" target="_blank">LinkedIn</a>.
	</p>
  <div id="visual" class="sa-v1">
    <img src="/contents/img/about/profile@2x.png" alt="profile" class="profile" />
    <img src="/contents/img/about/graph@2x.png" alt="graph" class="graph" />
  </div>

  <div id="work-experience" class="sa-v3">
    <h2>Work Experience</h2>
    <div class="description">
      <h3>iPortfolio ∙ Product Designer</h3>
      <strong>2016.03 ~ 재직중</strong>
      <p>
        UX 제품에 대한 고민과 더불어 온라인/오프라인 디자인의 다양한 경험을 쌓았습니다. 국내 외 해외(중국, 영국) 프로젝트도 경험했습니다.
        브랜드 컨셉이 일관적으로 적용될 수 있도록 흐름을 잃지 않는 것이 중요했고 국가별, 서비스 성격 별 다양한 방식으로 접근 해야 한다는 걸 배웠습니다.
        프로젝트를 통해 다른 분야의 사람들과 협업하거나 소통하는 스킬을 쌓을 수 있었습니다.
        또 효과적이고 사용자 친화적인 디자인에 대한 고민을 하는 계기가 되었습니다.
        디자이너가 시장을 위한 새로운 기능과 제품을 디자인 하고 만들 때 사용자가 무엇을 중요하게 생각 하는지 깊이 이해하는 것이 매우 중요하다는 것을 깨닫게 되었습니다.
      </p>
    </div>

    <div class="description">
      <h3>AND ∙ UX/UI Designer</h3>
      <strong>2015 - 2016</strong>
      <p>
        안드로이드만 제공했던 서비스 영역을 플랫폼(iOS, Web)에 적절한 형태로 UI/UX 구성했습니다. 웹과 앱 서비스를 통합하여 사용하는 부분에 초첨을 두고 디자인을 진행해 사용자의 진입 장벽을 낮출 수 있게 도왔습니다. 스스로도 디자인의 힘을 직접 느끼고 더불어 집중해야 할 솔루션 디자인의 범위를 고민할 수 있었던 좋은 계기였습니다.
      </p>
    </div>

    <div class="description">
      <h3>Rsupport ∙ Frontend developer</h3>
      <strong>2013 - 2014</strong>
      <p>
        웹 개발의 기본부터 고급 과정까지 가장 많이 배우고 성장할 수 있던 좋은 경험이었습니다. 웹표준, 크로스 브라우징, 장차법에 맞춰 구현하고, UI/UX 분야를 경험해 연구 분석하는 토대를 경험을 배웠습니다. 하나의 고정관념으로 작업을 하면 안된다는 것을 깨달았습니다.
      </p>
    </div>

    <div class="description">
      <h3>KnowRe ∙ web publisher</h3>
      <strong>2012 - 2013</strong>
      <p>
        수학 교육 서비스 회사에서 디자인 + 퍼블리싱 작업을 진행했습니다. 그 과정에서 비주얼과 콘텐츠를 조화롭게 보여주는 부분에 초점을 맞추어 진행했습니다. 그 결과 딱딱하기만 한 정보 제공이 아닌 풍부한 콘텐츠를 가진 결과물로 사용자에게 제공할 수 있었습니다.
      </p>
    </div>
  </div>

  <div id="education" class="sa-v3">
    <h2>Education</h2>
    <div class="description">
      <h3>성신 여자 대학교</h3>
      <p>공예과 ∙ 섬유 공예 예술 학사</p>
    </div>
  </div>

  <div id="awards" class="sa-v3">
    <h2>Awards</h2>
    <div class="description">
      <h3>미국 LIFE IS GOOD ∙ 2011.02</h3>
      <p>패션 일러스트 부분, 수상</p>
    </div>

    <div class="description">
      <h3>한국 산업 미술 전람회 ∙ 2011.01</h3>
      <p>텍스타일 부분, 특선</p>
    </div>

    <div class="description">
      <h3>대구 텍스타일 대전 (한국의 향기) ∙ 2010.11</h3>
      <p>텍스타일 부분, 특선</p>
    </div>

    <div class="description">
      <h3>대한민국 텍스타일 대전 ∙ 2010.09</h3>
      <p>패션 어페럴 부분 - 특선</p>
    </div>
  </div>

  <div id="experience" class="sa-v3">
    <h2>Experience</h2>
    <div class="description">
      <h3>OPIC(IM2) ∙ 2014.04</h3>
      <p>기본적인 영어 회화 가능</p>
    </div>

    <div class="description">
      <h3>공예 트랜드 페어 ∙ 2012.12.15 ~ 2012.12.18</h3>
      <p>Creft Trend Pare In COEX, 2012</p>
    </div>

    <div class="description">
      <h3>MAPPING BREATH ∙ 2012.4.17 ~ 2012.04.20</h3>
      <p>성신여대 박물관 대 전시실 전시</p>
    </div>

    <div class="description">
      <h3>SWITCH PASS ∙ 2012.3.28 ~ 2012.04.01</h3>
      <p>영은 미술관 제2전시실, 영은 홀 전시</p>
    </div>

    <div class="description">
      <h3>CARRE ∙ 2011.12</h3>
      <p>Gallery Hong 스카프 전시</p>
    </div>

    <div class="description">
      <h3>FASHION DESIGN 산업기사 취득 ∙ 2009.01</h3>
      <p>패션 디자인 공부를 하며 배운것을 정리 하는 시간을 갖자 다짐하고, 자격증 공부를 겸해 취득 하였습니다.</p>
    </div>

    <div class="description">
      <h3>SHOP MASTER 3급 취득 ∙ 2007</h3>
      <p>패션 디자인 공부를 하며 배운것을 정리 하는 시간을 갖자 다짐하고, 자격증 공부를 겸해 취득 하였습니다.</p>
    </div>
  </div>
</div>
