<div class="container demo-1">
  <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">

            <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="motion balloon"></div>
                        <h2>
                            Welcome to
                            <div id="color-wrap">
                                <span class="title-color1">c</span>
                                <span class="title-color2">o</span>
                                <span class="title-color3">l</span>
                                <span class="title-color4">o</span>
                                <span class="title-color5">r</span>
                                <span class="title-color6">b</span>
                                <span class="title-color7">r</span>
                                <span class="title-color8">i</span>
                                <span class="title-color9">d</span>
                                <span class="title-color10">g</span>
                                <span class="title-color11">e</span>
                            </div>
                        </h2>
                </div>
            </div>

            <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner">
                    <div class="motion sheep"></div>
                    <h2>I'M PRETTY GOOD AT,</h2>
                    <blockquote>
                        <cite>
                            <a href="about.html">SEE MORE</a>
                        </cite>
                    </blockquote>
                </div>
            </div>

            <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                    <div class="motion apple"></div>
                    <h2>Projects</h2>
                    <blockquote>
                        <cite>
                            <a href="develop.html">SEE MORE</a>
                        </cite>
                    </blockquote>
                </div>
            </div>

            <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                    <div class="motion drawing"></div>
                    <h2>Weekly Drawing</h2>
                    <blockquote>
                        <cite>
                            <a href="design.html">SEE MORE</a>
                        </cite>
                    </blockquote>
                </div>
            </div>

            <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                    <div class="motion gallery"></div>
                    <h2>Contact</h2>
                    <blockquote>
                        <cite>
                            <a href="mailto:ssongki@gmail.com">ssongki@gmail.com</a>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div><!-- /sl-slider -->

        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div><!-- /slider-wrapper -->
</div>
