<div id="page-portfolio">
	<ul>
		<li>
			<a href="#portfolio/iportfolio" title="iPortfolio">
				<img src="/contents/img/portfolio/ipf.png" alt="iPortfolio" />
				<strong>iPortfolio</strong>
				<p>Responsive Web Design/Development</p>
			</a>
		</li>
		<li>
			<a href="#portfolio/ebsrc" title="EBS Reading Club">
				<img src="/contents/img/portfolio/ebsrc.png" alt="EBS Reading Club" />
				<strong>EBS Reading Club</strong>
				<p>Product UI/UX Design, Web/App Design</p>
			</a>
		</li>
		<li>
			<a href="#" title="POP Reader">
				<img src="/contents/img/portfolio/popleader.png" alt="POP Reader" />
				<strong>POP Reader</strong>
				<p>Product UI/UX Design, Web/App Design</p>
			</a>
		</li>
		<li>
			<a href="#" title="Big Reading Club">
				<img src="/contents/img/portfolio/brc.png" alt="Big Reading Club" />
				<strong>Big Reading Club</strong>
				<p>Product UI/UX Design, Web/App Design</p>
			</a>
		</li>
		<li>
			<a href="#" title="AR">
				<img src="/contents/img/portfolio/ar.png" alt="AR" />
				<strong>AR</strong>
				<p>Product UI/UX Design, iOS Design</p>
			</a>
		</li>
		<li>
			<a href="#" title="ERA">
				<img src="/contents/img/portfolio/era.png" alt="ERA" />
				<strong>ERA</strong>
				<p>Product UI/UX Design, App Design</p>
			</a>
		</li>
		<li>
			<a href="#" title="Mobizen">
				<img src="/contents/img/portfolio/mobizen.png" alt="Mobizen" />
				<strong>Mobizen</strong>
				<p>Frontend Developer (Back Up, Setting, Help)</p>
			</a>
		</li>
		<li>
			<a href="#" title="Mobizen Help">
				<img src="/contents/img/portfolio/mobizen-help.png" alt="Mobizen Help" />
				<strong>Mobizen Help</strong>
				<p>Frontend Developer</p>
			</a>
		</li>
		<li>
			<a href="#" title="Mom Talk">
				<img src="/contents/img/portfolio/momtalk.png" alt="Mom Talk" />
				<strong>Mom Talk</strong>
				<p>Responsive Web Design/Development</p>
			</a>
		</li>
		<li>
			<a href="#" title="Knowre">
				<img src="/contents/img/portfolio/knowre.png" alt="Knowre" />
				<strong>Knowre</strong>
				<p>Responsive Web Design/Development</p>
			</a>
		</li>
	</ul>
</div>
