<div id="ar" class="projects-detail" data-thema="white">
  <header>
    <p class="sa-v1">iOS APP FOR</p>
    <h2 class="sa-v1">Augmented-Reality</h2>

    <div class="fixed-wrap">
      <img src="/contents/img/projects/ar/main@2x.jpg" alt="EBS Reading Club AR" class="sa-v2" />
    </div>
  </header>

  <article>
    <section id="overview" class="fixed-wrap sa-v1">
      <dl>
        <dt>PROJECT NAME</dt>
        <dd>AR for EBS Reading Club</dd>
        <dt>DATE</dt>
        <dd>2018.05 ~ 2018.07</dd>
        <dt>ROLE</dt>
        <dd>UX/UI Design</dd>
        <dt>URL</dt>
        <dd>Beta 서비스라 현재 지원하지 않음</dd>
      </dl>

      <div>
        <h1>AR for EBS Reading Club (iOS/App)</h1>
        <div>
          <p id="contribution">[기여도] 디자인 (100%)</p>
          EBS 리딩클럽의 서비스에 AR 기능을 적용한 파일럿 버전입니다. 매년 상/하반기에 참가하는 국제 교육 전시에서 (e.g
          'Frankfurt Book Fair', 'London Bett') 신기능을 선보이기 위해 iOS에서 제공하는 AR 기능을 활용해 영어 학습을
          도와주는 UI/UX 디자인을 진행했습니다. AR 기능은 오래전부터 화두가 되어 있었고 다른 경쟁 IT 스타트업 또한 그
          흐름을 따라가는 추세입니다.<br />앱을 통한 학습 방법이 한 방향이었다면 AR 기능을 적용해 다른 이와 쌍방향으로
          학습하는 방식을 추구하였습니다.<br />해당 기능은 출시되지 않은 상태로 자세한 내용은 비공개입니다.

          <p id="target">[목표]</p>
          AR 기술을 통한 새로운 학습 시스템을 제시합니다.
        </div>
      </div>
    </section>

    <section id="the-project" class="sa-v2">
      <div class="description fixed-wrap w850">
        <h3>THE PROJECT</h3>
        <p>
          특정 책을 다 읽으면 체험할 수 있는 매직 키가 반짝거리며 등장합니다. 매직 키를 클릭하면 AR 기능을 사용할 수
          있습니다. 카메라를 사용하여 증강현실 기능을 체험합니다. 서비스에서 제공하는 용지를 인식하면 캐릭터가
          등장합니다. 파일럿 버전으로 서비스에는 기능이 적용되지 않아 자세한 내용을 전부 담을 수는 없습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <img src="/contents/img/projects/ar/ar-main@2x.jpg" alt="AR" />
      </div>
    </section>
  </article>

  <footer class="fixed-wrap sa-v2">
    <h3>More Projects</h3>
    <div class="projects-list card-view"></div>
  </footer>
</div>
