<div id="ebsrc" class="projects-detail">
  <header>
    <p class="sa-v1">WEBSITE FOR</p>
    <h2 class="sa-v1">EBS Reading Club</h2>

    <div class="fixed-wrap">
      <img src="/contents/img/projects/ebsrc/main@2x.jpg" alt="EBS 리딩클럽 (Web/App)" class="sa-v2" />
    </div>
  </header>

  <article>
    <section id="overview" class="fixed-wrap sa-v1">
      <dl>
        <dt>PROJECT NAME</dt>
        <dd>EBS Reading Club</dd>
        <dt>DATE</dt>
        <dd>2016.03 ~ 2019 진행중</dd>
        <dt>ROLE</dt>
        <dd>UX/UI Design</dd>
        <dt>URL</dt>
        <dd><a href="http://www.ebsreadingclub.com" target="_blank">www.ebsreadingclub.com</a></dd>
      </dl>

      <div>
        <h1>EBS 리딩클럽</h1>
        <div>
          <p id="contribution">[기여도] 디자인 (100%)</p>
          iPortfolio에서 가장 많이 기여한 프로젝트로 자사 대표 서비스의 UX/UI 디자인 업무를 맡고 있습니다.<br />
          한국 영어 교육에 대한 문제점을 인지하고 교육을 개혁하기 위해 만들어진 서비스입니다.<br />
          EBS 리딩클럽에서 시작한 B2C/B2B 사업을 시작으로 중국, 일본, 터키 등 다양한 국가에 차별화된 서비스를
          제공합니다.

          <p id="target">[목표]</p>
          국내 영어 교육에 대한 문제를 해결하고 자체 교육에 대한 수요를 충족시켜 줄 수 있는 솔루션을 제시합니다.
        </div>
      </div>
    </section>

    <section id="the-project">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>THE PROJECT</h3>
        <p class="uppercase">
          한국에 거주하고 있는 사람이라면 영어와 뗄 수 없는 관계를 이어갑니다. 학생 시절에는 성적을 잘 받기 위해서,
          학교를 졸업한 뒤에는 취업을 위해 학원이나 온라인 강의를 듣지만 정작 외국인을 만나면 쓸모가 없었습니다.
          학원에서 배운 기술은 커뮤니케이션을<br />
          목적으로 습득한 기술은 아니었으니까요. EBS 리딩클럽은 그런 고민을 해결해 주기 위해 탄생한 서비스입니다.<br />
          듣기, 읽기, 말하기, 게임, 레벨 테스트 등 자연스럽게 영어에 친숙해질 수 있도록 도와줍니다.
        </p>
      </div>

      <ol class="image-pieces piece3 no-border fixed-wrap sa-v2">
        <li><img src="/contents/img/projects/ebsrc/app-mobile1@2x.jpg" alt="sketch1" /></li>
        <li class="align-center">
          <img src="/contents/img/projects/ebsrc/app-icon@2x.png" alt="sketch2" />
          <p>
            시간과 비용이 부족한 당신을 위해 온라인과 오프라인에서 반복적으로 쉽게 함께 할 수 있는 서비스를 제공합니다.
          </p>
        </li>
        <li><img src="/contents/img/projects/ebsrc/app-mobile2@2x.jpg" alt="sketch3" /></li>
      </ol>

      <div id="concept" class="description fixed-wrap sa-v2">
        <h4>Concept</h4>
        <p>
          국내 교육 시장에서 신뢰를 받는 EBS 미디어, 100년 이상의 오랜 역사와 전통을 가진 옥스퍼드 대학 출판부의
          이미지를 시각화하기 위해 그린 컬러와 블루 컬러를 배치함으로써 파트너사가 가진 아이덴티티를 표현하였습니다.
          디자인 업무를 진행하면서 EBS 리딩클럽을 기준으로 파생된 국내(B2B)외 해외 프로젝트(중국, 일본, 터키, 베트남)도
          진행했습니다.<br />사이트가 가진 Look&Feel을 유지할 수 있도록 한/중/일 언어를 제공하는 Noto Sans CJK 폰트를
          사용하여 서비스의 일관성을 유지하도록 했고 자주 사용하는 심볼 컴포넌트들을 모아 하나의 라이브러리 파일을
          만들었습니다. 이를 토대로 디자인 시스템을 만들어 플랫폼(Web, Android, iOS)의 반복적인 작업을 효율적으로 줄일
          수 있었습니다.
        </p>

        <div class="pieces">
          <div id="concept-color">
            <h5>Color Palette</h5>
            <ul>
              <li>#78cd13</li>
              <li>#1f2d5f</li>
              <li>#ff4141</li>
              <li>#92cd33</li>
              <li>#e59708</li>
              <li>#666666</li>
              <li>#114dba</li>
              <li>#fdfdfd</li>
            </ul>
          </div>
          <div id="concept-font">
            <h5>Typography</h5>
            <h6>Noto Sans CJK KR</h6>
            <p>
              AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz123456789!@#$%
            </p>
          </div>
          <div id="concept-icons">
            <h5>Icons</h5>
            <img src="" />
          </div>
        </div>
      </div>
    </section>

    <section id="site-flow">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Service Flow</h3>
        <p class="uppercase">
          별도 기획 포지션이 없었기 때문에 사용자의 편의성을 개선하기 위한 선행 작업으로 서비스 사용 순서를 작성하여
          흐름을 명확히<br />
          하는 것부터 시작하였습니다. 그리고 Design System 안에서 통일된 사용자 경험을 주기 위해 Sketch에서 Symbol과
          Library 기능을 적극적으로 활용했습니다. Sketch nested symbol, override의 컴포넌트 조합을 활용해 심볼의 낱개
          형태가 아닌<br />
          최소한의 심볼로 최대한의 활용 가짓수를 적용한 디자인 시스템을 만들었습니다. 그 결과 Web/App 플랫폼별로 다양한
          UI를 통일감 있게 제작할 수 있었습니다.
        </p>
      </div>

      <div class="fixed-wrap wide">
        <img src="/contents/img/projects/ebsrc/site-flow.jpg" alt="Site flow" class="sa-v2" />
      </div>
    </section>

    <section id="signin" class="no-margin">
      <div class="fixed-wrap wide">
        <img src="/contents/img/projects/ebsrc/signin@2x.png" alt="signin" class="signin-img sa-v2" />
      </div>
    </section>

    <section id="features">
      <div id="bookshelf" class="wide">
        <div class="fixed-wrap">
          <div class="content sa-v2">
            <h3>Bookshelf</h3>
            <p>
              회원 가입을 하면 시리즈를 대표하는 도서 20권이 무료로 제공됩니다.<br />
              자체적으로 개발한 MDR 학습법은 도서를 읽는 기능과 더불어 책 속에 있는<br />
              단어와 문장들로 스펠링/카드 게임, 듣기, 말하기 기능을 제공합니다.<br />
              Web으로 접근 시 데스크톱에서만 이용할 수 있고,<br />
              태블릿과 모바일 디바이스를 사용하고 싶으면 앱을 다운로드 받아 사용할 수 있습니다.
            </p>
          </div>
          <img src="/contents/img/projects/ebsrc/bookshelf@2x.png" alt="Bookshelf" class="sa-v2" />
        </div>
      </div>

      <div id="attendance" class="wide">
        <div class="fixed-wrap sa-v2">
          <div class="content">
            <h3>Attendance</h3>
            <p>
              최초 시나리오는 사용자가 출석 버튼을 직접 눌러 기록하는 방식이었습니다.<br />
              그로 인해 발생한 문제점은 출석에 대한 보상 효과가 메달 아이콘 이외는 제공되지 않아 사용자는 기능이
              존재하는지 모르는 경우가 대부분이었습니다.<br />
              개선하는 방법으로 사용자가 로그인하면 자동 출석 되는 시스템으로 변경하였습니다.<br />
              서비스를 언제 이용했는지 학습일을 기록할 수 있어 변경된 방식이 만족스럽다는 피드백을 받았습니다.
            </p>
          </div>

          <img src="/contents/img/projects/ebsrc/deco-jump.png" class="deco" />
          <img src="/contents/img/projects/ebsrc/attendance@2x.png" alt="attendance" class="sa-v2" />
        </div>
      </div>

      <div id="medal">
        <div class="fixed-wrap sa-v2">
          <h3>Medal system</h3>
          <p>
            출석 및 단어 암기, 녹음 문장 작성하기 등 보상을 위해 매달 시스템을 만들었습니다.
          </p>
          <img src="/contents/img/projects/ebsrc/deco-medal.png" class="deco" />
        </div>

        <div class="process fixed-wrap sa-v2">
          <h4>initial logo concept</h4>
          <ul class="image-pieces nowrap no-border">
            <li><img src="/contents/img/projects/ebsrc/sketch-medal1@2x.png" alt="sketch1" /></li>
            <li><img src="/contents/img/projects/ebsrc/sketch-medal2@2x.png" alt="sketch2" /></li>
            <li><img src="/contents/img/projects/ebsrc/sketch-medal3@2x.png" alt="sketch3" /></li>
            <li><img src="/contents/img/projects/ebsrc/sketch-medal4@2x.png" alt="sketch4" /></li>
          </ul>
        </div>

        <div class="process fixed-wrap sa-v2">
          <h4>Final Design</h4>
          <img src="/contents/img/projects/ebsrc/medal@2x.png" alt="Final Design" />
        </div>
      </div>

      <div id="viewer">
        <div class="fixed-wrap">
          <div class="content sa-v2">
            <h3>Viewer</h3>
            <p>
              게임을 통해 책 속에 있는 단어에 자연스럽게 익숙해질 수 있는 방식을 제안했습니다.<br />
              그림 카드 맞추기, 스펠링 맞추기 게임을 제공합니다. 또 책 속 이미지를 Drag and Drop 하여<br />
              이야기 순서 맞추기, 지문의 내용 맞히기, 빈칸에 들어갈 낱말 선택하기 등 다섯 종류의 스토리 게임을
              제공합니다.<br />
              이 방식은 게임을 통해 단어의 의미를 이해할 수 있고,<br />
              영어에 대한 자신감과 사운드(청각), 그림 카드(시각)를 통해 영어에 두 번 이상 자연스럽게 노출되는 효과를
              줍니다.<br />
            </p>
          </div>

          <img src="/contents/img/projects/ebsrc/viewer@2x.jpg" alt="viewer" class="sa-v2" />
        </div>
      </div>
    </section>
  </article>

  <footer class="fixed-wrap sa-v2">
    <h3>More Projects</h3>
    <div class="projects-list card-view"></div>
  </footer>
</div>
