<div id="ipf" class="projects-detail">
  <header>
    <p class="sa-v1">WEBSITE FOR</p>
    <h2 class="sa-v1">iPortfolio</h2>

    <div class="fixed-wrap">
      <img src="/contents/img/projects/ipf/main@2x.jpg" alt="iPortfolio의 회사 브랜드 사이트" class="sa-v2" />
    </div>
  </header>

  <article>
    <section id="overview" class="fixed-wrap sa-v1">
      <dl>
        <dt>PROJECT NAME</dt>
        <dd>Corporate Brand Site</dd>
        <dt>DATE</dt>
        <dd>2018.04 ~ 2018.09</dd>
        <dt>ROLE</dt>
        <dd>· UI/UX Design Lead<br />· Web Development</dd>
        <dt>URL</dt>
        <dd><a href="http://www.iportfolio.co.kr" target="_blank">www.iportfolio.co.kr</a></dd>
      </dl>

      <div>
        <h1>iPortfolio 회사 브랜드 사이트</h1>
        <div>
          <p id="contribution">[기여도] UI/UX Design (100%), Web Development 100%</p>
          아이포트폴리오는 ‘교육을 개혁한다’는 사명으로 교육 시장에서 영향력을 키우고 있는 Ed-Tech 기업입니다.<br />
          이전에 개발되었던 브랜드 사이트는 Wix에서 제공하는 템플릿으로 사이트가 개발되었었습니다. 이 과정에서 모바일
          디바이스가 지원되지 않는 이슈, 제한된 커스터마이징으로 인한 디자인의 한계로, 변경되었으면 좋겠다는 많은
          피드백을 받았습니다. 또 회사의 얼굴인 브랜드 사이트가 오래전에 개발된 상태로 외부에 공개되는 게 줄곧 신경이
          쓰여 작업을 시작하게 되었습니다.<br />서비스 아이덴티티 정의와 화면에 대한 디자인 리뉴얼, 개발을 진행했습니다.

          <p id="target">[목표]</p>
          회사의 미션과 비전, 새로이 추가된 서비스와 기능, 비즈니스 모델이 표현되도록 웹 사이트 리뉴얼을 했습니다.
        </div>
      </div>
    </section>

    <section id="the-project" class="sa-v2">
      <div class="description fixed-wrap w850">
        <h3>THE PROJECT</h3>
        <p>
          반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경으로 콘텐츠를 볼 수 있게 적용했습니다. 콘텐츠에 관한
          정보를 시각적으로<br />재미있게 표현할 수 있도록 Parallax 스크롤 효과를 넣었습니다. 또 뉴스/채용 게시판 등록
          등, 빈번한 업데이트 요청에 빠르게 대응할 수 있도록 Admin 사이트 구축 작업도 함께 진행했습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <img src="/contents/img/projects/ipf/about@2x.png" alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경" />
      </div>
    </section>

    <section id="points" class="sa-v2">
      <div class="description fixed-wrap w850">
        <h3>points of improvement</h3>
        <p>
          홈페이지에 들어오는 대상은 협력/제휴업체, 입사 지원자, 회사에 대한 호기심을 가진 자, 어떤 회사에 다니고 있는지
          궁금해하는 임직원의 지인이라 판단했습니다. 회사의 주요 정보와 서비스중인 프로젝트를 효과적으로 전달하고
          싶었습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <div class="fixed-wrap">
          <img
            src="/contents/img/projects/ipf/improvement-point@2x.png"
            alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경"
          />
        </div>
      </div>
    </section>

    <section id="idea-sketch">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>WIREFRAME sketch</h3>
        <p>
          홀로 기획, 디자인, 개발을 진행하다 보니 많은 페이지 작업을 진행하는 것 보다는 양질의 콘텐츠를 효과적으로
          표현할 방법에 대해 고민했습니다. 그래서 리서치를 통해 페레럴즈 스크롤 디자인이 적합하다고 생각하여
          적용하였습니다.
        </p>
      </div>

      <ol class="image-pieces no-border fixed-wrap sa-v3">
        <li><img src="/contents/img/projects/ipf/sketch1@2x.png" alt="sketch1" /></li>
        <li><img src="/contents/img/projects/ipf/sketch2@2x.png" alt="sketch2" /></li>
        <li><img src="/contents/img/projects/ipf/sketch3@2x.png" alt="sketch3" /></li>
      </ol>
    </section>

    <section id="effect" class="sa-v2">
      <div class="description fixed-wrap w850">
        <h3>Parallels Effect</h3>
        <p>
          페레럴즈 스크롤 기능은 사내의 모든 프로젝트를 효과적으로 보여줄 수 있는 최고의 선택이었습니다. 착시를 일으키듯
          이미지가 자연스럽게 이어지는 효과로 콘텐츠에 관한 정보를 시각적으로 재미있게 풀어낼 수 있었습니다. 또한,
          작업이 완료되었을 때 좋은 피드백을 받았습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <div class="fixed-wrap">
          <img src="/contents/img/projects/ipf/parallels-effect@2x.png" alt="Parallels Effect" />
        </div>
      </div>
    </section>

    <section id="concept">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>CONCEPT DESIGN</h3>
        <p>
          사내 디자인의 경우 BX에 대해 고민했거나, 그 중요성을 알고 있다 하더라고 타 프로젝트와 비교하면 우선순위가
          낮다고 여겨져<br />
          실행될 여유가 없던 상황이었습니다. 정립되지 않은 아이덴티티의 비주얼 작업은 메인 이미지를 시각화하는 과정에서
          수많은 고민을 하게 만들었습니다. 아래 이미지는 회사의 철학과 비전, 핵심 가치 및 E-Tech를 나타낼 수 있는
          키워드와 서비스 제품 이미지의<br />
          연관성을 매칭해 나온 디자인 컨셉 작업입니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <div class="fixed-wrap">
          <img src="/contents/img/projects/ipf/concept-design@2x.jpg" alt="디자인 컨셉 작업" />
        </div>
      </div>
    </section>

    <section id="website-design">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Final Design</h3>
        <p>
          좌측의 이미지가 개편 전, 우측 이미지가 리뉴얼 된 화면입니다. 아이덴티티를 표현하는 콘셉트 이미지, 미션 &
          비전을 추가했고,<br />뉴스 / 채용 게시판을 만들어 업데이트되는 소식을 실시간으로 볼 수 있게 했습니다.
          마지막으로 회사의 일상을 보여줄 수 있게 이미지 슬라이드 기능을 적용했습니다.
        </p>
      </div>

      <ol class="image-pieces no-border fixed-wrap sa-v3">
        <li>
          <p>개편전</p>
          <img src="/contents/img/projects/ipf/site-before@2x.jpg" alt="before" />
        </li>
        <li>
          <p>개편후</p>
          <img src="/contents/img/projects/ipf/site-after@2x.png" alt="after" />
        </li>
      </ol>
    </section>

    <section id="device">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>MULTI DEVICES</h3>
        <p>
          기존에 만들어진 사이트 템플릿은 멀티 디바이스 스크린을 지원하지 않았습니다. 개편한 웹 사이트는 반응형 웹으로
          제작해<br />
          모바일, 태블릿, 데스크톱 등의 모든 화면에서 같은 환경으로 콘텐츠를 볼 수 있도록 디자인, 개발되었습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <div class="fixed-wrap wide">
          <img
            src="/contents/img/projects/ipf/multi-device@2x.png"
            alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Admin Dashboard</h3>
        <p>
          사내 문화(뉴스, 채용)에 대한 기능을 추가할 당시 빈번한 업데이트 요청에 빠르게 대응할 수 있도록 Admin 사이트
          구축 작업도 함께 진행했습니다. 채용/뉴스 게시글 작성 시 저를 통하지 않고 등록, 수정, 삭제할 수 있게 하여
          반복적으로 발생되는 업무상의 요청을 줄일 수 있었습니다.
        </p>
      </div>

      <div class="visual wide sa-v3">
        <img src="/contents/img/projects/ipf/admin@2x.png" alt="Admin 사이트" />
      </div>
    </section>
  </article>

  <footer class="fixed-wrap sa-v2">
    <h3>More Projects</h3>
    <div class="projects-list card-view"></div>
  </footer>
</div>
