<div id="lms" class="projects-detail" data-thema="white">
	<header>
		<p class="sa-v1">Website for</p>
		<h2 class="sa-v1">Learning Management System</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/projects/lms/main@2x.png" alt="Learning Management System" class="sa-v2" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap sa-v2">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>Learning Management System</dd>
				<dt>DATE</dt>
				<dd>2018.10~2019.03</dd>
				<dt>ROLE</dt>
				<dd>Web UX/UI Design</dd>
				<dt>URL</dt>
				<dd><a href="http://lms.ebsreadingclub.com" target="_blank">lms.ebsreadingclub.com</a></dd>
			</dl>

			<div>
				<h1>LMS (Learning Management System)</h1>
				<p>
					[기여도] 디자인 (80%)<br>
					EBS 리딩클럽의 B2B를 위한 시스템입니다. 교육기관의 학생들과 관리자에게 필요한 다양한 학습 콘텐츠, 학습 자원을 제공합니다.<br>
					또 학생들의 학습 과정 관리를 도와 관리자가 진행 상황 파악이 쉽게 도와줍니다.<br>
					전임자의 작업을 이어받아 높은 확장성과 유동적인 시스템을 제공하기 위해 UI 수정 및 UX 개선 작업을 진행했습니다.<br><br>

					[목표]<br>
					관리자가 학생의 학습 과정 참여 및 활동을 측정하고, 과정을 기록 분석해 원활한 학습 활동을 할 수 있는 시스템을 제공합니다.<br>
				</p>
			</div>
		</section>

		<section id="the-project" class="sa-v2">
			<div class="description fixed-wrap">
				<h3>THE PROJECT</h3>
				<p>
					과거 작업된 LMS 사이트는 아이콘 위주의 버튼 작업이 많았습니다.
					버튼의 아이콘만으로 의미를 파악하기 어려운 문제점과 사용성 개선을 위해 버튼은 아이콘과 텍스트를 포함한 형태로 변경하였고,
					테이블 형태의 데이터를 확인할 때 사용자가 원하는 값을 한눈에 볼 수 있도록 Sort 기능을 추가했습니다.
					컬러의 경우 여러 교육기관에 서비스를 제공하다 보니 기관별로 컬러를 맞출 수 없는 단점이 있었습니다.
					그 점을 보완하기 위해 사이트의 Theme을 그레이쉬한 컬러톤으로 변경하였고 그 결과 이전보다 훨씬 가독성이 좋다는 피드백을 받았습니다.
				</p>
				<a href="http://lms.ebsreadingclub.com" target="_blank" class="button">사이트 바로가기</a>
			</div>

			<div class="main-visual fixed-wrap w1440 wide">
				<img src="/contents/img/projects/lms/project@2x.png" alt="LMS" class="sa-v2" />
				<div class="description fixed-wrap">
					<h2>Learning Management System</h2>
					<p>
						EBS 리딩클럽 LMS 시스템은 교육기관에서 학생들의 학습의 진행 상황 및 관리를 용이하게 도와줍니다.<br>
						직관적인 인터페이스로 간편하게 학생들의 학습 기록을 확인할 수 있습니다.<br>
						이를 통해 사용 중인 예산, 잠재 고객,  관리 및 진행 상황을 쉽게 파악할 수 있습니다.
					</p>
				</div>
			</div>

      <div class="features fixed-wrap w1440 wide">
        <ul>
          <li class="sa-v2">
            <img src="/contents/img/projects/lms/feature1@2x.png" alt="class" />
          </li>
          <li class="sa-v3">
            <h4>Class</h4>
            <p>
              진행 중인 수업 관리를 정의하고 설계 작업을 할 수 있습니다.<br>
              교사는 학습자를 위한 수업을 설정하고 구성할 수 있으며
              관리 및 진행 상황을 쉽게 파악할 수 있습니다.<br><br>
              진행 중인 수업 교재와 담당 선생님,<br>
              추가로 필요한 학습 이용권 수를 알려줍니다.
            </p>
          </li>
        </ul>

        <ul>
          <li class="sa-v2">
            <img src="/contents/img/projects/lms/feature2@2x.png" alt="class" />
          </li>
          <li class="sa-v3">
            <h4>Student</h4>
            <p>
              학생의 학습 통계를 디테일하게 파악할 수 있습니다.<br>
              필요한 기간에 맞춰 검색할 수 있으며
              다음과 같은 기능을 제공하고 있습니다.
            </p>
            <ul>
              <li>5단계 읽기 진행률</li>
              <li>읽은 책의 수</li>
              <li>읽은 총 단어 수</li>
              <li>독서에 소비된 시간</li>
            </ul>
          </li>
        </ul>

        <ul>
          <li class="sa-v2">
            <img src="/contents/img/projects/lms/feature3@2x.png" alt="class" />
          </li>
          <li class="sa-v3">
            <h4>Progress Report</h4>
            <p>
              인쇄 가능한 월별 보고서는<br>
              각 학습자의 독서 활동에 대한 요약을 제공합니다.
            </p>
            <ul>
              <li>학습일, 읽은 권 수, 하루 평균 독서 시간, 총 독서 시간</li>
              <li>이달의 독서 패턴</li>
              <li>최근 읽은 책</li>
              <li>올해 독서량, 누적 독서량을 제공합니다.</li>
            </ul>
          </li>
        </ul>
      </div>
		</section>
	</article>

	<footer class="fixed-wrap sa-v2">
		<h3>More Projects</h3>
		<div class="projects-list"></div>
	</footer>
</div>
