<div id="momtalk" class="projects-detail">
	<header>
		<p class="sa-v1">iOS APP FOR</p>
		<h2 class="sa-v1">MOMTALK</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/projects/momtalk/main@2x.png" alt="MOMTALK" class="sa-v2" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap sa-v2">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>MOMTALK</dd>
				<dt>DATE</dt>
				<dd>2015.04 ~ 2016.02</dd>
				<dt>ROLE</dt>
				<dd>iOS UX/UI Design</dd>
				<dt>URL</dt>
				<dd>www.momtalk.kr</dd>
			</dl>

			<div>
				<h1>MOMTALK (iOS/App)</h1>
				<div>
					<p id="contribution">[기여도] 디자인 (100%)</p>
					“임신한 순간 똑똑하고 경험 많은 비서를 고용했다”란 슬로건으로 엄마를 위한 서비스 Momtalk의 메인 디자이너로 업무를 진행했습니다.
					입사 전에는 Android 앱만 제공했기에 입사 후 iOS 사용자의 니즈가 많았다는 피드백을 전달받았습니다.
					다양한 사용자를 확보하고 개인화된 정보 제공을 위해 작업에 들어가기 전 iOS의 human interface guidelines을 읽고
					UI/UX 디자인을 진행했습니다.

					<p id="target">[목표]</p>
					서비스 출시 및 사용자의 연령, 임신 개월 수에 따른 세분화된 목표에 대한 정보 추천, 개인화 시스템을 목표로 했습니다.
				</div>
			</div>
		</section>

		<section id="the-project" class="sa-v2">
			<div class="description fixed-wrap w850">
				<h3>THE PROJECT</h3>
				<p>
					서비스되고 있던 Android 앱을 참고하여 iOS 앱의 UI/UX는 개인화된 사용자 경험을 발전시키는 것에 집중했습니다.
					프로젝트 진행 도중 개발자의 퇴사로 제공되는 OS의 범위가 PC로 확장되었습니다.
					개발은 라이트브레인이라는 외주회사와 함께했고 약 3개월의 제한시간 내에 기획, 디자인, 개발이 진행됐습니다.
					서비스가 출시되고 Android 사용자를 포함해 iOS, PC까지 접근할 수 있게 되어 사용자의 만족도 높은 피드백을 받았습니다.
					서비스가 출시되고 새로운 캠페인과 사용성 개선을 목적으로 하는 몇 가지 업데이트를 통해
					앱이 사용자에게 좋은 경험을 주고 있는지 확인했습니다.
				</p>
			</div>

			<div class="visual wide sa-v3">
				<img src="/contents/img/projects/momtalk/project@2x.png" alt="MOMTALK" />
			</div>
		</section>

		<section id="concept" class="sa-v2">
			<div class="description fixed-wrap w850">
				<h3>concept</h3>
				<p>
					홈 화면은 앱의 모든 항목을 직접 액세스 할 수 있도록 설계되었습니다.
					사용자는 로그인을 하지 않고도 글을 볼 수 있고 제품을<br>검색할 수 있으며,
					쇼핑 목록을 작성하며 프로모션에 액세스하고 카테고리에 맞는 정보를 찾을 수 있습니다.
					이전 테마를 상징했던 오렌지 컬러 대신 태양을 상징하는 다홍색과 노란색의 밝은 컬러로 사용자에게 따듯함과 활력을 전달합니다.
				</p>
			</div>

			<div id="concept-img-wrap" class="fixed-wrap sa-v2">
				<img src="/contents/img/projects/momtalk/concept@2x.png" alt="concept" />
				<img src="/contents/img/projects/momtalk/compare@2x.png" alt="compare" />
			</div>

			<div id="talk" class="features reverse fixed-wrap wide sa-v2">
				<div class="image-wrap">
					<img src="/contents/img/projects/momtalk/talk@2x.png" alt="talk" />
				</div>
				<div class="description-wrap">
					<h4>talk</h4>
					<p>
						사용자는 Talk 메뉴에서 원하는 카테고리를 선택해 대화를 할 수 있습니다.<br>
						검색으로도 안풀리는 궁금증을 다른 엄마들과의 대화를 통해 문제를 해결해주는 방향을 제시합니다.<br><br>

						소소한 일상을 이야기 하는 일상톡,<br>
						내 레시피를 공유하고 멋지게 만든 음식을 자랑하는 요리톡,<br>
						여자들만의 숨겨놓은 고민을 이야기 할 수 있는 비밀톡,<br>
						동네 사람들과 공감대를 형성하고 이야기를 나눌 수 있는 동네톡,<br>
						아이가 자라서 안쓰는 물건을 공유할 수 있는 드림톡<br>
						병원에 가지 않고도 문제를 해결해주는 홈닥톡,<br>
						할인 소식이나 아이와 함께 할 수 있는 전시를 알려주는 홍보톡,<br>
						매달 맘톡에서 진행하는 이벤트 지식맘이 있습니다
					</p>
				</div>
			</div>

			<div id="event" class="features fixed-wrap wide sa-v2">
				<div class="image-wrap">
					<img src="/contents/img/projects/momtalk/talk@2x.png" alt="talk" />
				</div>
				<div class="description-wrap">
					<h4>event</h4>
					<p>
						자체적으로 진행하는 내부 이벤트가 있었고 광고비로 진행하는 이벤트가 있었습니다.
						둘 다 사용자의 참여를 받아가는 방식으로 실제 매출에 많은 도움을 주는 메뉴였습니다.
						맘톡 회원을 활용한 체험단 진행 및 홍보를 통해 이벤트 기간 내 제품 홍보가 되는 효과와 SNS를 활용해
						타겟 홍보가 증대되는 효과를 누렸습니다.
					</p>
				</div>
			</div>

			<div id="infomation" class="features reverse fixed-wrap wide sa-v2">
				<div class="image-wrap">
					<img src="/contents/img/projects/momtalk/talk@2x.png" alt="talk" />
				</div>
				<div class="description-wrap">
					<h4>infomation</h4>
					<p>
						정보 메뉴에서는 카테고리별로 원하는 정보를 찾을 수 있습니다.
						SEO를 맞추기 위해서 자체적으로 이미지와 텍스트 형태의 카드 뉴스 UI를 제작했으며 약 2,000개가량의 콘텐츠가 등록되어 있습니다.
						전체 회원 중 54%는 임신 또는 아이 정보를 입력하여 7.2만 명 이상의 회원들이 맞춤형 정보를 받아볼 수 있었습니다.
					</p>
				</div>
			</div>
		</section>

		<section id="mypage">
			<div class="visual wide sa-v3">
				<img src="/contents/img/projects/momtalk/mypage@2x.png" alt="my page" />
			</div>

			<div class="features reverse fixed-wrap wide sa-v2">
				<div class="image-wrap">
					<img src="/contents/img/projects/momtalk/talk@2x.png" alt="talk" />
				</div>
				<div class="description-wrap">
					<h4>my page</h4>
					<p>
						사용자의 등급, 포인트, 배송 조회나 내가 등록한 게시글에 관한 확인을 빠르게 볼 수 있습니다.
						사용자가 필요한 정보를 따로 검색하지 않고도 앱에서 모든 정보를 받을 수 있도록 아이 정보를 등록하면
						이벤트와 아이의 연령 및 임신 주기에 맞는 알림을 제공합니다. 이 모든 건 My Page에서 확인할 수 있습니다.
					</p>
				</div>
			</div>
		</section>
	</article>

	<footer class="fixed-wrap sa-v2">
		<h3>More Projects</h3>
		<div class="projects-list card-view"></div>
	</footer>
</div>
