<div id="rebranding" class="projects-detail">
  <header>
    <p class="sa-v1">REBRANDING</p>
    <h2 class="sa-v1">Logo Design</h2>

    <div class="fixed-wrap">
      <img src="/contents/img/projects/rebranding/main@2x.png" alt="Design Renewal for EBS Reading Club " class="sa-v2" />
    </div>
  </header>

  <article>
    <section id="overview" class="fixed-wrap sa-v2">
      <dl>
        <dt>PROJECT NAME</dt>
        <dd>Rebranding</dd>
        <dt>DATE</dt>
        <dd>2019.01~2019.03</dd>
        <dt>ROLE</dt>
        <dd>BX Design</dd>
        <dt>URL</dt>
        <dd>
          <a href="http://www.ebsreadingclub.com" target="_blank">www.ebsreadingclub.com</a><br>
          (2019.06.01 적용 예정)
        </dd>
      </dl>

      <div>
        <h1>Design Renewal for EBS Reading Club</h1>
        <p>
          [기여도] 디자인 (100%)<br>
          EBS 리딩클럽 서비스가 국내 시장 외 해외 시장으로 서비스를 확장함에 따라 사용자가 쉽게 인지할 수 있고,<br>
          주목도 있는 브랜드로 도약하기 위한 리브랜딩 작업을 진행했습니다.<br><br>

          [목표]<br>
          서비스 네임 변경으로 인한 신규 로고 작업 및 리브랜딩
        </p>
      </div>
    </section>

    <section id="the-project" class="sa-v2">
      <div class="description fixed-wrap">
        <h3>THE PROJECT</h3>
        <p>
          개편되기 전 로고 모습입니다. EBS의 브랜드의 신뢰성은 전달되지만 해당 브랜드를 알지 못하는 해외 사용자의 경우 떠올릴 수 있는 시각적 연상 이미지가 없다는 점에서 문제가 있었습니다.
          로고에 포함된 많은 컬러들은 단색 배경에 적용할 경우 주목성이 떨어지며 소비자가 일관적으로 인지할 수 있는 심볼 역시 필요했습니다.<br>
          리브랜딩을 작업을 진행하기 전에 서비스가 어떤 방향으로 발전될지 고려하고, 기존에 사용했던 로고의 형태에서 불편했던 점을 개선하고 보완하기 위한 방법에 대해 정리해 보았습니다.
        </p>
      </div>

      <div id="before-logo" class="process-content wide sa-v2">
        <div class="fixed-wrap">
          <h4>EBS 심볼+텍스트 Type Logo</h4>
          <div class="description">
            <img src="/contents/img/projects/rebranding/logo-original@2x.png" alt="EBS 심볼+텍스트 Type Logo" />
          </div>
        </div>
      </div>
    </section>

    <section id="logo-design">
      <div class="description fixed-wrap sa-v2">
        <h3>logo design</h3>
        <p>
          기존에 사용하던 로고의 형태에서 개선, 보완하기 위한 내용은 이렇습니다. 컬러와 심볼은 어떻게 표현할 것인지, 로고 타입이라면 어떤 폰트를 사용할 것인지,
          글자의 서체를 고르는 것은 목소리를 고르는 일이라는 글을 본 적이 있습니다. 같은 문장을 침착하게 말할지, 진지하게 말할지, 담백하게 말할지, 농담처럼 말할지 선택하는 일이죠.
          아래와 같은 키워드를 잡고 어울리는 폰트를 찾아가는 방향으로 작업을 진행했습니다.
        </p>
      </div>

      <div class="visual wide">
        <div class="fixed-wrap align-center">
          <img src="/contents/img/projects/rebranding/logo-design@2x.png" alt="logo design" class="sa-v2" />
        </div>
      </div>

      <div id="motif" class="process-content">
        <div class="fixed-wrap sa-v2">
          <h4>logo graphic motif</h4>
          <div class="description">
            <img src="/contents/img/projects/rebranding/motif@2x.png" alt="logo graphic motif" />
            <p>
              브랜드 네임인 ‘리딩앤’의 단어 뜻에 맞추어 &의 형태를 책을 보는 아이의 형상 모티브 잡아 심볼화 시켰습니다.<br>
              심볼 하단에는 그림자를 적용해 시각적 안정감을 표현했습니다.
            </p>
          </div>
        </div>
      </div>

      <div id="symbol" class="process-content">
        <div class="fixed-wrap sa-v2">
          <h4>symbol type grid</h4>
          <div class="description">
            <img src="/contents/img/projects/rebranding/symbol@2x.png" alt="symbol type grid" />
          </div>
        </div>
      </div>

      <div id="basic" class="process-content">
        <div class="fixed-wrap sa-v2">
          <h4>basic logotype grid</h4>
          <div class="description">
            <img src="/contents/img/projects/rebranding/logotype@2x.png" alt="basic logotype grid" />
          </div>
        </div>
      </div>

      <div id="logo-type" class="process-content">
        <div class="fixed-wrap sa-v2">
          <h4>logo type</h4>
          <ul id="cards" class="image-pieces piece3 no-border">
            <li>
              <img src="/contents/img/projects/rebranding/logo-type-1@2x.png" />
              <strong>standard</strong>
            </li>
            <li>
              <img src="/contents/img/projects/rebranding/logo-type-2@2x.png" />
              <strong>green - background</strong>
            </li>
            <li>
              <img src="/contents/img/projects/rebranding/logo-type-3@2x.png" />
              <strong>yellow- background</strong>
            </li>
          </ul>

          <ul id="color-system">
            <li>
              <h5>color system</h5>
              <p>
                기존에 사용하는 컬러에 배리에이션을 주었습니다.<br>
                밝기와 채도를 조정하여보다 정력적이고<br>
                밝게 느껴지는 브랜드 이미지를 표현 했습니다.
              </p>
            </li>
            <li class="color-wrap">
              <div>
                <strong class="title">Primary Color</strong>
                <p>
                  <strong>RGB</strong>
                  <span>48 62 70</span>
                </p>
                <p>
                  <strong>HEX</strong>
                  <span>#303E46</span>
                </p>
              </div>
              <div>
                <strong class="title">Sub Color</strong>
                <p>
                  <strong>RGB</strong>
                  <span>97 185 126</span>
                </p>
                <p>
                  <strong>HEX</strong>
                  <span>#61B97E</span>
                </p>
              </div>

              <div>
                <strong class="title">Primary Color</strong>
                <p>
                  <strong>RGB</strong>
                  <span>48 62 70</span>
                </p>
                <p>
                  <strong>HEX</strong>
                  <span>#303E46</span>
                </p>
              </div>
              <div>
                <strong class="title">Sub Color</strong>
                <p>
                  <strong>RGB</strong>
                  <span>12 158 218</span>
                </p>
                <p>
                  <strong>HEX</strong>
                  <span>#0c9eda</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="tails" class="process-content">
        <div class="fixed-wrap sa-v2">
          <ul>
            <li><img src="/contents/img/projects/rebranding/color1@2x.png" alt="READING &" /></li>
            <li><img src="/contents/img/projects/rebranding/color2@2x.png" alt="READING &" /></li>
            <li><img src="/contents/img/projects/rebranding/color3@2x.png" alt="READING &" /></li>
            <li><img src="/contents/img/projects/rebranding/color2@2x.png" alt="READING &" /></li>
          </ul>
        </div>
      </div>
    </section>
  </article>

  <footer class="fixed-wrap sa-v2">
    <h3>More Projects</h3>
    <div class="projects-list"></div>
  </footer>
</div>
