<div id="remember" class="projects-detail" data-thema="white">
  <header>
    <p class="sa-v1">WEBSITE FOR</p>
    <h2 class="sa-v1">REMEMBER</h2>

    <div class="fixed-wrap">
      <img src="/contents/img/projects/remember/main@2x.png" alt="REMEMBER" class="sa-v2" />
    </div>
  </header>

  <article>
    <section id="overview" class="fixed-wrap sa-v1">
      <dl>
        <dt>PROJECT NAME</dt>
        <dd>Remeber Web Application</dd>
        <dt>DATE</dt>
        <dd>2019.06 ~ 2019.06</dd>
        <dt>ROLE</dt>
        <dd>UX/UI Design</dd>
      </dl>

      <div>
        <h1>Personal Project</h1>
        <div>
          <p id="contribution">[기여도] 디자인 (100%)</p>
          오늘날의 웹 애플리케이션은 과거의 PC 응용프로그램만큼 발전하였습니다. 그렇기 때문에 사용자들은 데스크톱
          애플리케이션 만큼의 사용성을 기대합니다. 현재 서비스에서 아쉬운 점은 그룹 목록과 명함 목록의 개수에 따라
          컨테이너들의 높이가 불규칙하게 나열되어 레이아웃이 다소 불안정한 느낌을 받았습니다. PC의 넓은 화면을 활용해
          안정감을 주고 관리가 용이한 레이아웃을 제공하는 것이 주요 개선 포인트입니다.

          <p id="target">[목표]</p>
          Remember Web UX 개선
        </div>
      </div>
    </section>

    <section id="the-project">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>THE PROJECT</h3>
        <p>
          명함은 자신을 표현할 수 있는 수단입니다. 손바닥보다 작은 종이에 적힌 내용으로 사람을 판단하는 기준이 되기도
          하고, 관계를 연결해주는 도구가 되어줍니다. 이렇듯 명함은 작은 선물과 같은 단어입니다. 애용하는 서비스인 리멤버
          웹 버전이 더 나은 사용성 개선으로 인해 다른 사용자에게도 서비스를 이용할 때마다 선물을 받는듯한 기쁨을
          받았으면 하는 마음에 필요한 부분을 정리하고 디자인에 반영하였습니다.
        </p>
      </div>

      <div class="visual wide sa-v2">
        <div class="fixed-wrap">
          <img src="/contents/img/projects/remember/the-project@2x.png" alt="project" />
        </div>
      </div>
    </section>

    <section id="persona">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Persona</h3>
        <p>
          초기 리서치 단계에서는 서비스의 타겟 집단을 세팅 했습니다. 실제 서비스를 사용할 사용자 그룹을 대표하는
          가상인물 3명을 구체화 시켰습니다. 가상의 인물이지만 Persona를 디테일하게 만들어가며 타겟 유저가 겪고 있는
          문제가 무엇이고 실제 서비스를 이용하고 있는 사용자에게 어떤 불편함을 해결할 수 있을지에 대해 고민할 기회가
          되었습니다.
        </p>
      </div>

      <div id="needs" class="wide sa-v2">
        <div class="fixed-wrap">
          <img src="/contents/img/projects/remember/persona@2x.png" alt="persona" />

          <div class="comment-black align-center">
            <p>
              종사하는 분야는 모두 다르지만 받은 명함을 서랍에서 찾아 헤매지 않고 꾸준히 비즈니스 관계를 이어 나가고
              싶은 사용자들은<br />스마트폰으로 쉽게 관리할 수 있는 리멤버 앱을 알게 되었습니다.
            </p>

            <p>
              “명함을 좀 더 효과적으로 관리하기 위해 PC 버전에 접속한 사용자들에게 모바일 버전보다 좀 더 편한 관리
              사용성을 제공할 필요가 있다. ”
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="approach">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Approach</h3>
        <p>
          리멤버는 2014년 01월 앱 오픈베타 시작으로 명함관리 부분에서 가장 강력한 브랜드 파워를 지닌 서비스입니다.
          서비스 초기 테마가 청녹색 이었다면 현재 웹서비스에 이용되는 컬러 테마는 Black&White입니다. 명함 자체가 텍스트
          기반이기 때문에 단조로움을 피할 수 있는 포인트 컬러를 추가했습니다.
        </p>
      </div>

      <div id="concept" class="wide sa-v2">
        <div class="fixed-wrap w850">
          <div class="pieces piece2">
            <div class="piece">
              <h4>Font</h4>
              <ul>
                <li>Apple SD Gothic Neo</li>
                <li>Malgun Gothic</li>
              </ul>
              <h4>Colors</h4>
            </div>
            <div id="remember-logo-wrap" class="piece">
              <img src="/contents/img/projects/remember/logo-remember-long@2x.png" alt="logo" />
            </div>
          </div>
        </div>
      </div>

      <div class="features wide sa-v2">
        <div class="fixed-wrap">
          <img src="/contents/img/projects/remember/macbook@2x.png" alt="project" />
        </div>
      </div>
    </section>

    <section id="final-design">
      <div class="description fixed-wrap w850 sa-v2">
        <h3>Final Design</h3>
      </div>

      <div class="visual wide sa-v2">
        <img src="/contents/img/projects/remember/final-design@2x.png" alt="final design" />
      </div>
    </section>
  </article>

  <footer class="fixed-wrap sa-v2">
    <h3>More Projects</h3>
    <div class="projects-list card-view"></div>
  </footer>
</div>
