#page-about {

  h1, h2 {
    //font-family: "chosin";
  }

  h1 {
    margin-bottom: 5px;
    font-size: 2.6rem;
    letter-spacing: -1px;

    img {
      display: none;
    }
  }

  .introduction {
    margin-bottom: 85px;
    line-height: 1.5;

    a {
      text-decoration: none;
      border-bottom: solid 3px transparent;

      &:hover {
        border-color: #4a90e2;
      }
    }
  }

  #visual {
    margin-bottom: 60px;

    img:first-child {
      margin-right: 74px;
      width: 27%;
      vertical-align: top;
    }

    img:last-child {
      width: 65%;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 50px;

    h3 {
      margin-bottom: 10px;
      font-size: 1.6rem;
      line-height: 24px;
    }

    strong {
      font-size: 1.6rem;
      line-height: 24px;
      font-weight: 300;
    }

    p {
      color: #666;
      line-height: 1.5;
      font-weight: 300;
    }
  }

  #work-experience {
    .description {
      margin-bottom: 70px;
    }
  }
}