@import 'modules/variables';

body[data-page='about'] {
  #content {
    padding-bottom: 0;
  }
}

#page-about {
  $block-margin-bottom-desktop: 160px;
  $block-margin-bottom-mobile: 80px;

  #introduce {
    margin-bottom: 80px;

    h1 {
      margin-bottom: 5px;
      font-size: 3rem;
      font-family: $serif;
      font-weight: bold;
    }

    h2 {
      font-size: 1.6rem;
      color: #777;
      font-family: inherit;
      font-weight: 300;
    }

    p {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: $block-margin-bottom-desktop;
      }

      color: #222;
    }

    img {
      width: 340px;
      height: 340px;
    }
  }

  & > div {
    margin-bottom: $block-margin-bottom-desktop;

    h2 {
      margin-bottom: 24px;
      font-size: 3rem;
      font-family: $serif;
      line-height: 1.2;
    }
  }

  .description {
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.6rem;
      line-height: 24px;
      text-transform: uppercase;
    }

    strong {
      font-size: 1.6rem;
      line-height: 24px;
      font-weight: 300;
    }

    p {
      color: #666;
      line-height: 1.6;
      font-weight: 300;
      letter-spacing: -0.2px;
    }
  }

  #work-experience {
    .description {
      margin-bottom: 72px;
    }
  }

  #skills {
    h3 {
      margin-bottom: 20px;
    }

    img {
      margin-bottom: 80px;
    }

    ul {
      &:first-of-type {
        margin-bottom: 80px;
      }

      &::after {
        clear: both;
      }
    }

    li {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 10px;
      min-width: 72px;

      span {
        $size: 56px;
        display: block;
        margin: 0 auto 5px;
        width: $size;
        height: $size;
        border: solid 1px rgba(0, 0, 0, 0);
        border-radius: 2px;

        background: url('/contents/img/about/skills-icons@2x.jpg') no-repeat 0 0;
        background-size: 630px 118px; // 아이콘이 추가되면 사이즈 수정 필요 (이미지 크기의 나누기 2)

        &.sketch {
          background-position: 0 0;
        }
        &.zeplin {
          background-position: -64px 0;
        }
        &.figma {
          background-position: -574px 0;
        }
        &.invision {
          background-position: -128px 0;
        }
        &.principle {
          background-position: -192px 0;
        }
        &.framer {
          background-position: -384px -64px;
        }
        &.illustrator {
          background-position: -256px 0;
        }
        &.photoshop {
          background-position: -320px 0;
        }
        &.after-effect {
          background-position: -384px 0;
        }
        &.premiere {
          background-position: -448px 0;
        }
        &.indesign {
          background-position: -512px 0;
        }

        &.html5 {
          background-position: 0 -64px;
        }
        &.css3 {
          background-position: -64px -64px;
        }
        &.sass {
          background-position: -128px -64px;
        }
        &.javascript {
          background-position: -192px -64px;
        }
        &.jquery {
          background-position: -256px -64px;
        }
        &.git {
          background-position: -320px -64px;
        }
      }

      p {
        // text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }

  /*******************************************************************
    반응형
   *******************************************************************/
  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 720px) {
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    .graph {
      width: 100% !important;
    }

    #skills {
      ul {
        display: block;

        li {
          margin-right: 0;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    #introduce {
      padding-top: 30px;
      h2 {
        text-align: center;
      }

      p {
        word-break: keep-all;
        &:first-of-type {
          br {
            display: none;
          }
        }

        &:last-of-type {
          margin-bottom: $block-margin-bottom-mobile;
        }
        color: #222;
      }
    }

    & > div {
      margin-bottom: $block-margin-bottom-mobile;
    }

    img {
      width: 100% !important;
    }
  }
}
