@import '../modules/variables';

body[data-page='home'] {
  // background-color: #0f1b41;

  #site-footer {
    * {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  #page-home {
    min-height: $minHeight;
    height: $minCalcHeight;
    // background: url('/contents/img/main.jpg') no-repeat 50% 50%;
    // background-size: contain;

    video {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 1149px) {
      width: calc(100vw - 10vw);
    }

    // PC samll, Mobile bic (작은 브라우저, 큰 스마트폰 화면에도 포함하기 위해 720이하로 적용)
    @media screen and (max-width: 720px) {
      background-position-y: 10%;
    }

    // Mobile L
    @media screen and (max-width: 425px) {
      min-height: 350px;
      height: calc(100vh - 280px);
    }
  }
}
