@import '../modules/variables';

body[data-page='home-projects-list'] {
  #gnb {
    margin-bottom: 40px;
  }

  #content {
    padding-top: 60px;
  }

  #introduction-wrap {
    margin-bottom: 100px;
    h2 {
      margin-bottom: 30px;
      font-size: 6.8rem;
      line-height: 1.15;
      letter-spacing: -1px;
      font-family: $serif;
      font-weight: bold;
    }

    .hand {
      display: inline-block;
      font-size: 5rem;
      // animation-name: hand;
      // animation-duration: 0.5s;
      // animation-iteration-count: 5;
      // animation-timing-function: ease;
    }

    @keyframes hand {
      0% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(2deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  #list-wrap {
    padding-top: 150px;
    padding-bottom: 80px;
    background: #f2f3f5;
  }

  @media screen and (max-width: 720px) {
    #introduction-wrap {
      margin-bottom: 50px;
      h2 {
        margin-bottom: 15px;
        font-size: 3rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    #content {
      padding-top: 20px;
    }

    #list-wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
