@import '../modules/variables';

body[data-page='home-projects-list'] {
  #gnb {
    margin-bottom: 40px;
  }

  #content {
    padding-top: 60px;
    padding-bottom: 0;
  }

  #introduction-wrap {
    margin-bottom: 100px;
    h2 {
      margin-bottom: 30px;
      font-size: 6.8rem;
      line-height: 1.15;
      letter-spacing: -1px;
      font-family: $serif;
      font-weight: bold;
    }

    .hand {
      display: inline-block;
      font-size: 4.8rem;
      cursor: default;

      animation-name: hand-wave;
      animation-duration: 2.4s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
    }

    @keyframes hand-wave {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      }
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      } /* Reset for the last half to pause */
      100% {
        transform: rotate(0deg);
      }
    }

    @keyframes hand {
      0% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      75% {
        transform: rotate(-1deg);
      }
      100% {
        transform: rotate(-7deg);
      }
    }

    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  #list-wrap {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f2f3f5;
  }

  @media screen and (max-width: 720px) {
    #introduction-wrap {
      margin-bottom: 50px;

      h2 {
        margin-bottom: 15px;
        font-size: 3rem;
      }

      p {
        font-size: 1.8rem;
      }

      .hand {
        font-size: 2.2rem;
      }
    }

    #content {
      padding-top: 20px;
    }

    #list-wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
