@import '../modules/variables';

body[data-page='home-projects-list'] {
  #gnb {
    margin-bottom: 40px;
  }

  #content {
    padding-top: 60px;
  }

  #introduction-wrap {
    margin-bottom: 100px;
    h2 {
      margin-bottom: 30px;
      font-size: 6.8rem;
      letter-spacing: -1px;
      font-family: $serif;
      font-weight: bold;
    }

    p {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  #list-wrap {
    padding-top: 150px;
    padding-bottom: 80px;
    background: #f2f3f5;
  }

  @media screen and (max-width: 720px) {
    #introduction-wrap {
      margin-bottom: 50px;
      h2 {
        margin-bottom: 15px;
        font-size: 3.6rem;
      }

      p {
        font-size: 2rem;
      }
    }

    #content {
      padding-top: 20px;
    }

    #list-wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
