@charset"utf-8";
/*!------------------------------------------------------------ *
 * ColorBridge.css
 * first Updated: 2014.12.24
 * Last Updated: 2015.11.28
 * Author: youngjin song
 * ------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
			 url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
			 url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
			 url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
			 url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
::selection {
	background: #b8e5d0;
	color: #000;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
/*html {
	overflow-y: scroll;
}*/
body {
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo', Calibri, Verdana,Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgba(51, 51, 51, 0.74);
  -webkit-font-smoothing: antialiased;
}
button, img {
	border: none;
	background: none;
}
a {
	color: #555;
	text-decoration: none;
}
li {
	list-style: none;
}

/* header */
#main-header {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all .5s ease;
}
#main-header nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}
body.sticky-header #main-header {
  height: 60px;
  border-bottom: 1px solid gainsboro;
}
#page-project {
	padding-top: 50px;
}

/* nav */
.overlay-menu ul {
	margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.overlay-menu ul li {
	display: inline;
	list-style: none;
	letter-spacing: 2px;
}
.overlay-menu ul li:nth-last-child(1):after {
	content: ""
}
.overlay-menu a {
  padding: 0 20px;
	font-size: 17px;
	transition: 0.2s ease;
	text-transform: uppercase;
}
.overlay-menu a:hover {
  color: rgba(250, 68, 63, 0.71);
}
.overlay-menu a.selected {
	font-weight: bold;
	color: #fa443f;
}
.button_container {
	display: none;
}

/* footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 98;
	padding: 0 0 6px 10px;
	width: 100%;
	color: #666;
}
footer a {
	-webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
footer a:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
#top {
	opacity: 0;
	position: absolute;
	bottom: 10px;
  right: 25px;
	z-index: 100;
	visibility: hidden;
  padding: 2px 6px;
  border: 3px solid #fa443f;
  border-radius: 6px;
  background: #fff;
	font-size: 1.5em;
	color: #fa443f;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: ease-in-out 500ms;
	-moz-transition: ease-in-out 500ms;
	-o-transition: ease-in-out 500ms;
	transition: ease-in-out 500ms;
	cursor: pointer;
}
#top.shown:hover {
	background: #fa443f;
	color: #eee;
}
#top.shown {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
#ft-icon-info {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 22px 6px 0;
	text-align: right;
	font-size: 1.8em;
	z-index: 98;
}
#ft-icon-info a {
	color: #8B8080;
}
#ft-icon-info a:hover {
	color: #f152a1;
}
#ft-iconlist {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 98;
	padding: 4px 22px 4px 0;
	width: 100%;
	background: #333;
	font-size: 1.5em;
	text-align: right;
}
#ft-iconlist li {
	display: inline;
}
#ft-iconlist a {
	margin: 0 2px;
	color: #eee;
}
#ft-iconlist a:hover {
	color: #5dcaea;
}

/* index */
.motion {
	position: absolute;
	bottom: 50%;
	left: 50%;
}
.balloon {
	margin: 0 0 -40px -98px;
	width: 210px;
	height: 363px;
	background: url('../img/motion-balloon.svg') left center;
	background-size: 2100px 363px;
  -ms-animation: balloon 4s steps(10) infinite;
  -moz-animation: balloon 4s steps(10) infinite;
  -webkit-animation: balloon 4s steps(10) infinite;
  animation: balloon 4s steps(10) infinite;
}
@-ms-keyframes balloon {
	100% { background-position: -2100px; }
}
@-moz-keyframes balloon {
	100% { background-position: -2100px; }
}
@-webkit-keyframes balloon {
	100% { background-position: -2100px; }
}
@keyframes balloon {
	100% { background-position: -2100px; }
}
.sheep {
	margin: 0 0 -60px -98px;
	width: 240px;
	height: 363px;
  background: url('../img/motion-sheep.svg') 0 50%;
  background-size: 2400px 363px;
  -ms-animation: sheep 3500ms steps(10) infinite;
  -moz-animation: sheep 3500ms steps(10) infinite;
  -webkit-animation: sheep 3500ms steps(10) infinite;
  animation: sheep 3500ms steps(10) infinite;
}
@-ms-keyframes sheep {
	100% { background-position: -2400px 0; }
}
@-moz-keyframes sheep {
	100% { background-position: -2400px 0; }
}
@-webkit-keyframes sheep {
	100% { background-position: -2400px 0; }
}
@keyframes sheep {
	100% { background-position: -2400px 0; }
}

.drawing {
	margin: 0 0 -40px -79px;
	width: 210px;
	height: 289px;
	background: url('../img/motion-drawing.svg') left center;
	background-size: 2730px 289px;
  -ms-animation: drawing 3s steps(13) infinite;
  -moz-animation: drawing 3s steps(13) infinite;
  -webkit-animation: drawing 3s steps(13) infinite;
  animation: drawing 3s steps(13) infinite;
}
@-ms-keyframes drawing {
	100% { background-position: -2730px; }
}
@-moz-keyframes drawing {
	100% { background-position: -2730px; }
}
@-webkit-keyframes drawing {
	100% { background-position: -2730px; }
}
@keyframes drawing {
	100% { background-position: -2730px; }
}
.apple {
	margin: 0 0 -40px -69px;
	width: 150px;
	height: 291px;
	background: url('../img/motion-apple.svg') left center;
	background-size: 1500px 291px;
  -ms-animation: apple 3s steps(10) infinite;
  -moz-animation: apple 3s steps(10) infinite;
  -webkit-animation: apple 3s steps(10) infinite;
  animation: apple 3s steps(10) infinite;
}
@-ms-keyframes apple {
	100% { background-position: -1500px; }
}
@-moz-keyframes apple {
	100% { background-position: -1500px; }
}
@-webkit-keyframes apple {
	100% { background-position: -1500px; }
}
@keyframes apple {
	100% { background-position: -1500px; }
}
.gallery {
	margin: 0 0 -58px -119px;
	width: 207px;
	height: 363px;
	background: url('../img/motion-gallery.svg') left center;
	background-size: 2070px 363px;
  -ms-animation: gallery 7s steps(10) infinite;
  -moz-animation: gallery 7s steps(10) infinite;
  -webkit-animation: gallery 7s steps(10) infinite;
  animation: gallery 7s steps(10) infinite;
}
@-ms-keyframes gallery {
	100% { background-position: -2070px; }
}
@-moz-keyframes gallery {
	100% { background-position: -2070px; }
}
@-webkit-keyframes gallery {
	100% { background-position: -2070px; }
}
@keyframes gallery {
	100% { background-position: -2070px; }
}
#color-wrap {
	display: inline;
}
.title-color1 {
	color: rgb(2, 201, 201);
}
.title-color2 {
	color: #f152a1;
}
.title-color3 {
	color: #f9a618;
}
.title-color4 {
	color: #a6df7b;
}
.title-color5 {
	color: #f99339;
}
.title-color6 {
	color: rgb(2, 201, 201);
}
.title-color7 {
	color: #5ad03e;
}
.title-color8 {
	color: #825dfa;
}
.title-color9 {
	color: #C902A1;
}
.title-color10 {
	color: rgb(2, 201, 201);
}
.title-color11 {
	color: #009c53;
}

/* temp */
.container {
	width: 100%;
	position: relative;
}
.container.demo-1 {
	height: 100%;
	position: absolute;
}
.content-wrapper p {
	padding-top: 30px;
	line-height: 26px;
}
.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 
.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */
.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}
.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}
.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}
.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}
.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}
.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	/*background: #ddd;*/
}
.sl-slide-vertical .sl-slide-inner {
	/*background: #ccc;*/
}

.demo-1 .sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Custom navigation arrows */
.nav-arrows span {
	position: absolute;
	z-index: 90;
	top: 50%;
	margin-top: -40px;
	width: 40px;
	height: 40px;
	border: 8px solid rgba(150,150,150,0.4);
  border-radius: 5px;
	text-indent: -90000px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-arrows span:hover {
	border-color: #fa443f;
}
.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}
.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}

/* Custom navigation dots */
.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 11%;
	height: 30px;
	width: 100%;
	left: 0;
  z-index: 90;
}
.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
}
.nav-dots span.nav-dot-current {
	width: 33px;
  height: 16px;
  border-radius: 22px;
	background: #fa443f;
}
/* Content elements */
.demo-1 .sl-slide h2 {
	position: absolute;
	left: 10%;
	bottom: 50%;
	margin: 0 0 -118px 0;
	padding: 20px;
	width: 80%;
	font-size: 24px;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
}
.demo-1 .sl-slide h2 span {
  display: inline-block;
  font-size: 120%;
	letter-spacing: -6px;
	-webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
  cursor: pointer;
}
.demo-1 .sl-slide h2 span:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.demo-1 .sl-slide blockquote {
	position: absolute;
	bottom: 50%;
	left: 0;
	margin: 0 0 -164px 0;
	width: 100%;
	height: 70px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
.demo-1 .sl-slide blockquote cite {
	display: inline-block;
	padding-top: 5px;
	font-size: 13px;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.demo-1 .sl-slide blockquote cite a {
	display: block;
	padding: 4px 12px;
	border: 1px solid #fa443f;
	color: #fa443f;
	-ms-transition   : .7s ease all;
	-moz-transition   : .7s ease all;
	-webkit-transition: .7s ease all;
	transition        : .7s ease all;
}
.demo-1 .sl-slide blockquote cite a:hover {
	background: #fa443f;
	color: #fff;
	-ms-transform          : rotateX(360deg);
	-moz-transform          : rotateX(360deg);
	-webkit-transform       : rotateX(360deg);
	transform               : rotateX(360deg);
	-ms-transform-origin   : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;
	transform-origin        : center;
}
/* Custom background colors for slides in first demo */
/* First Slide */
.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
	background: #fff;
}
/* Second Slide */
.demo-1 .bg-2 .sl-slide-inner,
.demo-1 .bg-2 .sl-content-slice {
	/*background: #aadcd9;*/
}
.demo-1 .bg-2 [data-icon]:after,
.demo-1 .bg-2 h2 {
	/*color: #fff;*/
}
.demo-1 .bg-2 blockquote:before {
	color: #222;
}
/* Third Slide */
.demo-1 .bg-3 .sl-slide-inner,
.demo-1 .bg-3 .sl-content-slice {
	background: #fff;
}
.demo-1 .bg-3 h2,
.demo-1 .bg-3 blockquote {
	color: #373737;
}
.demo-1 .bg-3 blockquote:before {
	color: #c46c96;
}
/* Forth Slide */
.demo-1 .bg-4 .sl-slide-inner,
.demo-1 .bg-4 .sl-content-slice {
	/*background: #ffd9c6;*/
}
.demo-1 .bg-4 blockquote:before {
	color: #379eaa;
}
/* Fifth Slide */
.demo-1 .bg-5 .sl-slide-inner,
.demo-1 .bg-5 .sl-content-slice {
	background: #fff;
}
.demo-1 .bg-5 h2,
.demo-1 .bg-5 blockquote {
	/*color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);*/
}
.demo-1 .bg-5 blockquote:before {
	color: #ecd82c;
}

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/* about */
#about-wrap {
  margin: 110px auto 50px;
  width: 88%;
  border: 4px solid #fa443f;
}
#about-wrap .page-banner {
  margin: 20px auto;
  width: 54%;
}
#about-wrap .page-banner:after {
	display: block;
	content: "";
	clear: both;
}
#about-wrap .page-banner .content-about {
  padding: 20px 0;
  font-size: 96%;
  line-height: 25px;
  text-align: center;
}
#about-wrap .page-banner .motion{
  margin: 0 auto;
}
#about-wrap #contact {
	margin: 30px auto 0;
	width: 90%;
	text-align: center;
}
#about-wrap #contact h2 {
	text-transform: uppercase;
  font-weight: bold;
  font-size: 37px;
  color: rgba(32, 32, 32, 0.7);
}
#about-wrap #contact span {
	display: inline-block;
  padding: 4px 5px;
  color: rgba(34,34,34,.8);
}
#about-wrap #contact i {
	color: rgba(135, 135, 135, 0.7);
}
#about-wrap #column-containter {
	margin: 0 auto 20px;
	padding: 25px 0;
	width: 90%;
}
#about-wrap #column-containter h4:first-child {
	border-top: none;
} 
#about-wrap #column-containter h4 {
  padding-top: 30px;
  border-top: 1px solid #eee;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#about-wrap #column-containter ul {
	margin: 10px 0 30px;
}
#about-wrap #column-containter ul.skill li {
  display: inline-block;
  position: relative;
  margin: 2px 7px 5px 0;
  padding: 5px 12px;
  border: 1px solid #666;
  text-transform: uppercase;
}
#about-wrap #column-containter li {
	margin: 7px 0;
}
#about-wrap #column-containter .date {
	display: block;
  margin-top: 13px;
  color: #666;
}

/* design */
#design-wrap {
	margin: 100px auto 50px;
}
.grid {
	position: relative;
	margin: 0 auto;
}x

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.js .grid--loaded::after {
	opacity: 0;
}
.grid__item {
	/*width: 270px;*/
	width: 310px;
	padding: 10px;
}
.grid__item img:hover {
	border: 4px solid #fa443f;
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;z
  transition: all .4s ease-in-out;
}
.grid__item--current {
	opacity: 0 !important;
}
.img-wrap {
	display: block;
}
.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}
.img-wrap img {
	display: block;
	max-width: 100%;
}
.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.preview--open {
	pointer-events: auto;
}

/* circle overlay (generated SVG) */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.overlay circle {
	-webkit-transition: fill-opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: fill-opacity 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	fill: rgba(31, 29, 29, 0.93);
	fill-opacity: 0;
}

.preview--open .overlay circle {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	fill-opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	transition: transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	text-transform: capitalize;
	color: #fff;
}

.description--grid {
	display: none;
}

.description--preview {
	position: fixed;
	z-index: 140;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2em 1em;
	text-align: center;
	opacity: 0;
	background: linear-gradient(180deg, transparent, #1f1d1d);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* Close button */
.action {
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #fa443f;
}
.action:hover,
.action:focus {
	color: rgba(250, 68, 63, 0.61);
	outline: none;
}
.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}
.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

/* projects */
#projects-wrap {
	margin: 70px auto 50px;
}
#projects-wrap .row {
	margin: 0 auto 50px;
	width: 80%;
}
#projects-wrap .row:after {
	display: block;
	content: "";
	clear: both;
}
#projects-wrap .row .img-wrap {
	float: right;
	width: 64%;
}
#projects-wrap .row img {
  width: 100%;
}
#projects-wrap .row .content {
	float: right;
  padding-right: 4%;
  width: 36%;
}
#projects-wrap .row h2 {
	font-size: 30px;
	color: rgba(250, 68, 63, 0.84);
}
#projects-wrap .row h3 {
	margin-top: 10px;
	color: rgba(32,32,32,.67);
}
#projects-wrap .row li {
	display: inline-block;
	line-height: 22px;
}
#projects-wrap .row li:after {
	margin: 0 0 0 6px;
	content: "/";
}
#projects-wrap .row li:last-child:after {
	content: "";
}
#projects-wrap .row a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
	padding: 7px 14px;
  border: 1px solid #fa443f;
  color: #fa443f;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
#projects-wrap .row a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: #fa443f;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#projects-wrap .row a:hover {
	color: #fff;
}
#projects-wrap .row a:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#projects-wrap .date {
	display: block;
	font-size: 90%;
}
#projects-wrap .role {
	display: block;
	font-size: 90%;
}

/* old-browser */
#old-browser {
	background: #A1D0C3;
}
#old-browser-wrap {
  width: 700px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin: -130px 0 0 -340px;
  top: 50%;
}
#old-browser-wrap #content {
  margin: 10px auto;
  width: 660px;
  text-align: center;
  font-weight: bold;
	letter-spacing: 1px;
}
#old-browser-wrap p {
  line-height: 20px;
  font-weight: bold;
}
#old-browser-wrap p strong {
	display: block;
  margin: 20px 0;
}
#old-browser-wrap ul:after {
	display: block;
	content: "";
	clear: both;
}
#old-browser-wrap li {
  float: left;
  width: 165px;
  text-align: center;
}
#old-browser-wrap li:hover {
	background: #5D5FA3;
}
#old-browser-wrap li a {
  display: block;
  padding: 20px;
  color: #fff;
}
#old-browser-wrap li a img {
  width: 100px;
}

@media screen and (max-width: 1190px) {
	/* index */
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}
@media screen and (max-width: 1024px) {
/*@media (min-width: 768px) and (max-width: 1024px) {*/
	/*.overlay-menu ul { background: red !important; }*/
	
	/* index */
	.cbp-rfgrid li {
		width: 33.33333333333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 767px) {
	/*.overlay-menu ul { background: orange !important; }*/
	
	.overlay-menu a:hover {
	  padding: 6px 0;
		border-top: none;
	  border-bottom: none;
	}
	
	body.sticky-header #main-header {
		height: 66px;
	}
	
	/* nav */
	.button_container {
		display: block;
	  position: fixed;
    top: 20px;
    left: 20px;
	  z-index: 100;
	  width: 35px;
	  height: 27px;
	  -webkit-transition: opacity .25s ease;
	  transition: opacity .25s ease;
	  cursor: pointer;
	}
	.button_container:hover {
	  opacity: .7;
	}
	.button_container.active .top {
	  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
	      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
	          transform: translateY(11px) translateX(0) rotate(45deg);
	  background: #FFF;
	}
	.button_container.active .middle {
	  opacity: 0;
	  background: #FFF;
	}
	.button_container.active .bottom {
	  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
	      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
	          transform: translateY(-11px) translateX(0) rotate(-45deg);
	  background: #FFF;
	}
	.button_container span {
	  background: #fa443f;
	  border: none;
	  height: 5px;
	  width: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  -webkit-transition: all .35s ease;
	  -moz-transition: all .35s ease;
	  -ms-transition: all .35s ease;
    transition: all .35s ease;
	  cursor: pointer;
	}
	.button_container span:nth-of-type(2) {
	  top: 11px;
	}
	.button_container span:nth-of-type(3) {
	  top: 22px;
	}
	
	.nav-overlay {
		display: block;
	  position: fixed;
	  background: #FF5252;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 0%;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: opacity .35s, visibility .35s, height .35s;
	          transition: opacity .35s, visibility .35s, height .35s;
	  overflow: hidden;
	}
	.nav-overlay.open {
	  height: 100%;
	  visibility: visible;
	  opacity: .9;
  	z-index: 99;
	}
	.nav-overlay.open li {
	  -webkit-animation: fadeInRight .5s ease forwards;
	          animation: fadeInRight .5s ease forwards;
	  -webkit-animation-delay: .35s;
	          animation-delay: .35s;
	}
	.nav-overlay.open li:nth-of-type(2) {
	  -webkit-animation-delay: .4s;
	          animation-delay: .4s;
	}
	.nav-overlay.open li:nth-of-type(3) {
	  -webkit-animation-delay: .45s;
	          animation-delay: .45s;
	}
	.nav-overlay.open li:nth-of-type(4) {
	  -webkit-animation-delay: .50s;
	          animation-delay: .50s;
	}
	.nav-overlay .overlay-menu {
	  position: relative;
	  height: 70%;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	      -ms-transform: translateY(-50%);
	          transform: translateY(-50%);
	  font-size: 200%;
	  text-align: center;
	}
	.nav-overlay ul {
	  list-style: none;
	  padding: 0;
	  margin: 0 auto;
	  display: inline-block;
	  position: relative;
	  height: 100%;
	}
	.nav-overlay ul li {
	  display: block;
	  height: 25%;
	  height: calc(100% / 4);
	  min-height: 50px;
	  position: relative;
	  opacity: 0;
	}
	.nav-overlay ul li a {
	  display: block;
	  position: relative;
	  font-size: 30px;
	  color: #FFF;
	  overflow: hidden;
	}
	.overlay-menu a:hover {
		color: #fff;
	}
	.overlay-menu a.selected {
		font-weight: bold;
		color: #fff;
	}
	.nav-overlay ul li a:hover:after,
	.nav-overlay ul li a:focus:after,
	.nav-overlay ul li a:active:after {
	  width: 100%;
	}
	.nav-overlay ul li a:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		height: 3px;
		background: #FFF;
		-webkit-transition: .35s;
		        transition: .35s;
	}
	@-webkit-keyframes fadeInRight {
	  0% {
	    opacity: 0;
	    left: 20%;
	  }
	  100% {
	    opacity: 1;
	    left: 0;
	  }
	}
	@keyframes fadeInRight {
	  0% {
	    opacity: 0;
	    left: 20%;
	  }
	  100% {
	    opacity: 1;
	    left: 0;
	  }
	}
	
	/* index */
	.cbp-rfgrid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
	.demo-1 .sl-slide h2 {
		font-size: 25px;
	}
	.balloon {
		margin: 0 0 -52px -103px;
		width: 160px;
		height: 277px;
		background-size: 1600px 277px;
	  -ms-animation: t-balloon 4s steps(10) infinite;
	  -moz-animation: t-balloon 4s steps(10) infinite;
	  -webkit-animation: t-balloon 4s steps(10) infinite;
	  animation: t-balloon 4s steps(10) infinite;
	}
	@-ms-keyframes t-balloon {
		100% { background-position: -1600px; }
	}
	@-moz-keyframes t-balloon {
		100% { background-position: -1600px; }
	}
	@-webkit-keyframes t-balloon {
		100% { background-position: -1600px; }
	}
	@keyframes t-balloon {
		100% { background-position: -1600px; }
	}
	.sheep {
		margin: 0 0 -101px -109px;
		width: 210px;
		height: 363px;
	  background-size: 2100px 363px;
	  -webkit-animation: t-sheep 3500ms steps(10) infinite;
	  animation: t-sheep 3500ms steps(10) infinite;
	}
	@-ms-keyframes t-sheep {
		100% { background-position: -2100px 0; }
	}
	@-moz-keyframes t-sheep {
		100% { background-position: -2100px 0; }
	}
	@-webkit-keyframes t-sheep {
		100% { background-position: -2100px 0; }
	}
	@keyframes t-sheep {
		100% { background-position: -2100px 0; }
	}
	.drawing {
		margin: 0 0 -29px -79px;
		width: 170px;
		height: 234px;
		background-size: 2210px 234px;
	  -ms-animation: t-drawing 3s steps(13) infinite;
	  -moz-animation: t-drawing 3s steps(13) infinite;
	  -webkit-animation: t-drawing 3s steps(13) infinite;
	  animation: t-drawing 3s steps(13) infinite;
	}
	@-ms-keyframes t-drawing {
		100% { background-position: -2210px; }
	}
	@-moz-keyframes t-drawing {
		100% { background-position: -2210px; }
	}
	@-webkit-keyframes t-drawing {
		100% { background-position: -2210px; }
	}
	@keyframes t-drawing {
		100% { background-position: -2210px; }
	}
	.apple {
		margin: 0 0 -43px -59px;
		width: 130px;
		height: 252px;
		background-size: 1300px 252px;
	  -ms-animation: t-apple 3s steps(10) infinite;
	  -moz-animation: t-apple 3s steps(10) infinite;
	  -webkit-animation: t-apple 3s steps(10) infinite;
	  animation: t-apple 3s steps(10) infinite;
	}
	@-ms-keyframes t-apple {
		100% { background-position: -1300px; }
	}
	@-moz-keyframes t-apple {
		100% { background-position: -1300px; }
	}
	@-webkit-keyframes t-apple {
		100% { background-position: -1300px; }
	}
	@keyframes t-apple {
		100% { background-position: -1300px; }
	}
	.gallery {
		margin: 0 0 -91px -119px;
		width: 190px;
		height: 363px;
		background-size: 1900px 363px;
	  -ms-animation: t-gallery 7s steps(10) infinite;
	  -moz-animation: t-gallery 7s steps(10) infinite;
	  -webkit-animation: t-gallery 7s steps(10) infinite;
	  animation: t-gallery 7s steps(10) infinite;
	}
	@-ms-keyframes t-gallery {
		100% { background-position: -1900px; }
	}
	@-moz-keyframes t-gallery {
		100% { background-position: -1900px; }
	}
	@-webkit-keyframes t-gallery {
		100% { background-position: -1900px; }
	}
	@keyframes t-gallery {
		100% { background-position: -1900px; }
	}
	
	/* about */
	#about-wrap {
		margin: 80px auto 30px;
	}
	
	/* project */
	#projects-wrap {
		margin: 20px auto;
	}
	#projects-wrap .row a {
    padding: 6px 11px;
    font-size: 90%;
	}
	
	/* design */
	#design-wrap {
		margin: 56px auto 30px;
	}
}
@media screen and (max-width: 660px) {
	#main-header {
		height: 70px;
	}
	body.sticky-header #main-header {
		height: 64px;
	}
	
	/* index */
	.container.demo-1 {
		min-height: 500px;
	}
	.demo-1 .sl-slide blockquote {
		margin-bottom: -176px;
	}
	.demo-1 .sl-slide h2 {
		line-height: 22px;
		font-size: 16px;
		margin-bottom: -114px;
		letter-spacing: 8px;
	}
	.demo-1 .sl-slide blockquote p:before {
		line-height: 10px;
		width: 40px;
		height: 40px;
		font-size: 120px;
		left: -45px;
	}
	
	/* footer */
	#ft-icon-info {
		padding: 0 10px 4px 0;
	}
	
	/* about */
	#about-wrap {
		margin: 66px auto 0;
		width: 95%;
		border: none;
	}
	#about-wrap #contact h2 {
		font-size: 35px;
	}
	#about-wrap #column-containter {
		padding-top: 0;
	}

	/* project */
	#projects-wrap {
		margin: 40px auto 0;
		text-align: center;
	}
	#projects-wrap .row {
    margin: 3% auto 7%;
		width: 90%;
	}
	#projects-wrap .row h2 {
		margin-top: 15px;
	}
	#projects-wrap .row h3 {
		margin-top: 15px;
	}
	#projects-wrap .row .content {
		float: none;
		padding: 0;
		width: 100%;
	}
	#projects-wrap .row a {
		margin-top: 13px;
	}
	#projects-wrap .row .img-wrap {
		float: none;
    width: 100%;
    margin-top: 20px;
	}
	
	/* weekly drawing */
	#design-wrap {
		margin: 60px auto 0;
	}
	
}

@media screen and (max-width: 480px) {
	/* nav */
	/*header .overlay-menu {
		background: green !important;
	}*/
	#color-wrap {
		display: block;
	}
	
	/* index */
	.balloon {
		margin: 0 0 -36px -83px;
		width: 140px;
		height: 252px;
		background-size: 1400px 252px;
	  -ms-animation: m-balloon 4s steps(10) infinite;
	  -moz-animation: m-balloon 4s steps(10) infinite;
	  -webkit-animation: m-balloon 4s steps(10) infinite;
	  animation: m-balloon 4s steps(10) infinite;
	}
	@-ms-keyframes m-balloon {
		100% { background-position: -1400px; }
	}
	@-moz-keyframes m-balloon {
		100% { background-position: -1400px; }
	}
	@-webkit-keyframes m-balloon {
		100% { background-position: -1400px; }
	}
	@keyframes m-balloon {
		100% { background-position: -1400px; }
	}
	.sheep {
		margin: 0 0 -79px -101px;
    width: 210px;
    height: 363px;
    background-size: 2100px 363px;
	  -webkit-animation: m-sheep 3500ms steps(10) infinite;
	  animation: m-sheep 3500ms steps(10) infinite;
	}
	@-ms-keyframes m-sheep {
		100% { background-position: -1800px 0; }
	}
	@-moz-keyframes m-sheep {
		100% { background-position: -1800px 0; }
	}
	@-webkit-keyframes m-sheep {
		100% { background-position: -1800px 0; }
	}
	@keyframes m-sheep {
		100% { background-position: -2100px 0; }
	}
	.drawing {
		margin: 0 0 -30px -58px;
		width: 130px;
		height: 179px;
		background-size: 1690px 179px;
	  -ms-animation: m-drawing 3s steps(13) infinite;
	  -moz-animation: m-drawing 3s steps(13) infinite;
	  -webkit-animation: m-drawing 3s steps(13) infinite;
	  animation: m-drawing 3s steps(13) infinite;
	}
	@-ms-keyframes m-drawing {
		100% { background-position: -1690px; }
	}
	@-moz-keyframes m-drawing {
		100% { background-position: -1690px; }
	}
	@-webkit-keyframes m-drawing {
		100% { background-position: -1690px; }
	}
	@keyframes m-drawing {
		100% { background-position: -1690px; }
	}
	.apple {
		margin: 0 0 -32px -45px;
		width: 100px;
		height: 194px;
		background-size: 1000px 194px;
	  -ms-animation: m-apple 3s steps(10) infinite;
	  -moz-animation: m-apple 3s steps(10) infinite;
	  -webkit-animation: m-apple 3s steps(10) infinite;
	  animation: m-apple 3s steps(10) infinite;
	}
	@-ms-keyframes m-apple {
		100% { background-position: -1000px; }
	}
	@-moz-keyframes m-apple {
		100% { background-position: -1000px; }
	}
	@-webkit-keyframes m-apple {
		100% { background-position: -1000px; }
	}
	@keyframes m-apple {
		100% { background-position: -1000px; }
	}
	.gallery {
		margin: 0 0 -100px -89px;
		width: 150px;
		height: 363px;
		background-size: 1500px 363px;
	  -ms-animation: m-gallery 7s steps(10) infinite;
	  -moz-animation: m-gallery 7s steps(10) infinite;
	  -webkit-animation: m-gallery 7s steps(10) infinite;
	  animation: m-gallery 7s steps(10) infinite;
	}
	@-ms-keyframes m-gallery {
		100% { background-position: -1500px; }
	}
	@-moz-keyframes m-gallery {
		100% { background-position: -1500px; }
	}
	@-webkit-keyframes m-gallery {
		100% { background-position: -1500px; }
	}
	@keyframes m-gallery {
		100% { background-position: -1500px; }
	}
	
	/* about */
	#about-wrap #contact h2 {
		font-size: 30px;
	}
	#about-wrap #contact p {
		display: none;
	}
	
	/* project */
	#projects-wrap .row {
		float: none;
		margin: 10px auto;
		width: 100%;
		max-width: 90%;
	}
	
}
@media screen and (max-width: 320px) {
	/*.overlay-menu ul { background: blue !important; }*/
	.overlay-menu ul li:after {
		content: "";
	}
}