<div id="era" class="projects-detail" data-thema="white">
	<header>
		<p class="sa-v1">ANDROID APP FOR</p>
		<h2 class="sa-v1">English Road App</h2>

		<div class="fixed-wrap">
			<img src="/contents/img/projects/era/main@2x.png" alt="English Road App" class="sa-v2" />
		</div>
	</header>

	<article>
		<section id="overview" class="fixed-wrap sa-v2">
			<dl>
				<dt>PROJECT NAME</dt>
				<dd>English Road App</dd>
				<dt>DATE</dt>
				<dd>2016.12~2017.02</dd>
				<dt>ROLE</dt>
				<dd>Android UX/UI Design</dd>
				<dt>URL</dt>
				<dd><a href="https://play.google.com/store/apps/details?id=com.ipf.era" target="_blank">Google play store</a></dd>
			</dl>

			<div>
				<h1>English Road App (Android/App)</h1>
				<p>
					[기여도] 디자인 (100%)<br>
					멀리맘 앱은 연령별로 선정된 도서들을 분석해 성장기에 맞춘 자녀에게 도서를 추천하는 큐레이션 서비스 입니다.<br>
					메인 디자이너로서 안드로이드 화면 설계 및 UI, 로고 디자인, 사용자 인터페이스 디자인 및 프로토타이핑을 진행했습니다.<br>
					서비스를 통해 큐레이션 되는 콘텐츠들과 기술력이 잘 전달되도록 컨셉 정의, 아이디어 및 variation 설계했습니다.<br><br>

					[목표]<br>
					딱딱하게 다가올 수 있는 정형화된 독서 기록 서비스를 밝고 경쾌한 스타일의 컬러로 화면 구성하였습니다.<br>
					독자적인 아이덴티티로 비슷한 종류의 타 서비스와 차별화를 시도하려 했고, 사용자의 타겟에 최적화된 콘텐츠를 제공할 수 있도록 하였습니다.
				</p>
			</div>
		</section>

		<section id="the-project" class="sa-v2">
			<div class="description fixed-wrap">
        <h3>THE PROJECT</h3>
				<p>
					망원경을 모티브로 인터렉티브한 모션을 적용하여 활동적인 느낌을 전달하고자 하였습니다.<br>
					자녀가 있는 엄마를 타겟으로 하되, 영어책을 읽으려는 타겟 층도 유지할 수 있도록, 고객의 감성을 자극하는 friendly contents 제공으로 고객반응을 유도하였습니다.<br>
					또한, 메테리얼 디자인 가이드를 최대한으로 반영하여 모바일 경험이 익숙하게 이어갈 수 있도록 화면 설계를 진행하였습니다.
				</p>
				<a href="https://play.google.com/store/apps/details?id=com.ipf.era" target="_blank" class="button">Google play store</a>
			</div>

			<div class="visual wide">
				<img src="/contents/img/projects/era/device@2x.jpg" alt="반응형 웹으로 제작해 모바일 디바이스에서 동일한 환경" />
			</div>
		</section>

		<section id="logo-design" class="sa-v2">
			<div class="description fixed-wrap">
				<h3>LOGO DESIGN PROCESS</h3>
				<p>
					멀리맘(멀리 보는 엄마)이라는 슬로건을 시각적으로 표현하기 위한 비주얼 작업을 진행했습니다.<br>
					초기 컨셉 모티브는 서비스 본질에 충실한 펼쳐진 책, 긴 목으로 멀리 볼 수 있는 기린, 멀리 있는 물체를 볼 수 있는 망원경, 지혜를 상징하는 부엉이 등<br>
					다양한 키워드로 진행해 보았습니다.
				</p>
			</div>

			<div class="process fixed-wrap">
				<h4>initial logo concept</h4>
				<img src="/contents/img/projects/era/logo-design1@2x.jpg" alt="Initial logo concept" />
			</div>

			<div class="process fixed-wrap">
				<h4>chosen concept</h4>
				<img src="/contents/img/projects/era/logo-design2@2x.png" alt="Chosen concept" />
			</div>

			<div class="process fixed-wrap">
				<h4>Final design</h4>
				<img src="/contents/img/projects/era/logo-design3@2x.png" alt="Final logo1" />
				<img src="/contents/img/projects/era/logo-design4@2x.png" alt="Final logo2" />
			</div>

			<div id="color-scheme" class="process fixed-wrap">
				<h4>Color Scheme</h4>
				<ul>
					<li>
						<span>#8ADD76</span>
					</li>
					<li>
						<span>#7EC46A</span>
					</li>
					<li>
						<span>#2EA1DA</span>
					</li>
					<li>
						<span>#6D24BB</span>
					</li>
				</ul>
			</div>
		</section>

		<section id="wireframe" class="sa-v2">
			<div class="description fixed-wrap">
				<h3>UI DESIGN & WIREFRAME</h3>
			</div>
			<div class="visual fixed-wrap small-wide">
				<img src="/contents/img/projects/era/wireframe1@2x.png" alt="wireframe1" />
			</div>
			<div class="visual fixed-wrap small-wide">
				<img src="/contents/img/projects/era/wireframe2@2x.png" alt="wireframe2" />
			</div>
      <div class="visual wide">
        <img src="/contents/img/projects/era/wireframe3@2x.png" alt="wireframe3" />
      </div>
		</section>
	</article>

	<footer class="fixed-wrap sa-v2">
		<h3>More Projects</h3>
		<div class="projects-list"></div>
	</footer>
</div>
