#ebsrc {
  header {
    background-color: #fafafa;
  }

  .visual {
    background-color: #f9f9f9;
  }

  #idea-sketch {
    .image-pieces {
      li {
        border: none;
      }
    }
  }

  #design {
    .image-pieces {
      li {
        border: 0;
      }
      li:nth-child(1n) {
        flex-basis: 36%;
      }
      li:nth-child(2n) {
        flex-basis: 13%;
      }
    }
  }
}
