$normal-color: #666;
$strong-color: #222;

.portfolio-details {
  margin-top: -126px;
  width: 100%;
  color: $normal-color;

  header {
    position: relative;
    padding-top: 140px;
    height: 780px;
    text-align: center;

    p {
      font-size: 2.4rem;
      font-weight: bold;
      color: $strong-color;
    }

    h2 {
      display: block;
      margin-bottom: 82px;
      font-size: 6.8rem;
      color: $strong-color;
    }

    img {
      //position: absolute;
      //left: 0;
      //z-index: 2;
      width: 100%;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .fixed-wrap {
    position: relative;

    img {
      width: 100%;
    }
  }

  article {
    padding-top: 295px;
  }

  h3 {
    color: $strong-color;
    font-size: 5.0rem;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  section {
    margin-bottom: 170px;
  }

  .description {
    text-align: center;
    margin-bottom: 60px;

    p {
      color: $normal-color;
      letter-spacing: -0.4px;
    }
  }

  .visual {
    font-size: 0;

    &:not(.wide) {
      padding: 60px;
    }

    img {
      width: 100%;
    }
  }

  footer {
    h3 {
      font-size: 3rem;
    }
  }
}

#overview {
  display: flex;

  dl {
    flex-basis: 25%;
    font-size: 1.6rem;

    dt {
      font-weight: bold;
      color: $strong-color;
    }

    dd {
      margin-bottom: 15px;
    }
  }

  div {
    flex-basis: 75%;

  }

  h1 {
    margin-bottom: 22px;
    font-size: 2.0rem;
    color: $strong-color;
  }
}

#the-project {
  p {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 120px;
  }
}

.image-pieces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    display: inline-block;
    flex-basis: 49.7%;
    margin-bottom: 10px;
    border: solid 1px #eeeeee;
  }

  img {
    display: block;
    width: 100%;
    min-height: 100px;
  }

  &.piece3 {
    li {
      flex-basis: 33.2%;
    }
  }

  &.no-border {
    li {
      border: none;
    }
  }
}


