@charset "utf-8";
/*
	Author: Song young jin (yjsong@rsupport.com)  
	Copyright © RSUPPORT Co., Ltd. ALL RIGHTS RESERVED.
*/
* { font-size: 0; color: red; line-height: 0; }
html { overflow-y: scroll;}
body { font-family: dotum; background: url("../images/body-bg.png") repeat-y center top #e4ebf3; }
a, a:hover, a:visited { text-decoration: none; cursor: pointer; }
img, fieldset, input, button, iframe { border: none; }
button { cursor: pointer; }
*:focus { outline: none; }
ul, li, dl, dt, dd { list-style-type: none; }
article , aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 
.hide { display: none; }
.ie-blind { display: block; overflow: hidden; position: absolute; top: 0; left: -1000em; } 
#wrap .border-none { border: none; } /* idx nav */
#wrap { margin: 0 auto; width: 968px; background-color: #fff; }
/* header */
header { margin-bottom: 10px; width: 100%; }
header:after { display: block; content: ""; clear: both; }
header h1 { float: left; padding: 18px 0 0 17px; width: 165px; }
header h1 a { font-size: 0; color: #fff; line-height: 0; }
header #gnb { float: right; padding: 30px 94px 0 0; }
header #gnb li { float: left; }
header #gnb li a { 
	display: inline-block; padding: 0 22px; border-right: 1px solid #ccc; font-weight: bold; font-size: 17px; 
	color: #666; line-height: 20px; letter-spacing: -2px; 
}
header #gnb #nav-movizen { display: none; }
header #gnb li .nav-selected { font-weight: bold; color: #e06e56; }
#gnb-icon { position: relative; float: right; width: 12%; }
#gnb-icon .social-fb { 
	position: absolute; top: 22px; left: 50%; margin-left: 374px; padding: 0; width: 32px; height: 32px; 
	background: url("../images/icon.png") no-repeat -8px -7px;	
}	
#gnb-icon .social-tw { 
	position: absolute; top: 22px; left: 50%; margin-left: 415px; padding: 0; width: 32px; height: 32px; 
	background: url("../images/icon.png") no-repeat -50px -7px;
}	
/* 모달 창 컨벤션 이용 */
.dialog-wrap { 
	display: none; position: fixed; top: 0; left: 0; z-index: 999999999999999999; width: 400px: height: 400px;  
	background: #eee;
}
.dialog-overlay { 
	width: 100%; height: 100%; position: inherit; top: 0; left: 0; background-color: #000; z-index: 21; opacity: 0.6; 
	filter: alpha(opacity=60);
}
.dialog { 
	min-width: 750px; position: fixed; _position: absolute; top: 50%; left: 50%; z-index: 22; background-color: #fff; 
	box-shadow: 0 0 6px rgba(0,0,0,0.33); font-size: 18px; border: 3px solid #999; border-radius: 6px; color: #474747; 
	 margin: -300px 0 0 0;
}
.dialog-header { border-bottom: 1px solid #eee; background-color: #fefefe; border-radius: 3px 3px 0 0; }
.dialog-close {
	width: 18px; height: 18px; position: absolute; top: 8px; right: 8px; font-size: 24px; font-weight: bold; 
	color: #666; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 20px;
}
.dialog-close:hover { opacity: 0.6; filter: alpha(opacity=60); }
.dialog-header { margin: 0; padding: 16px 9px;  }
.dialog-body p { width: auto; font-size: 1.1em; line-height: 18px; }
.dialog-body iframe { width: 100%; min-height: 448px; }
.dialog-footer {
	padding: 5px; border-top: 1px solid #eee; background-color: #f6f6f6; text-align: right; border-radius: 0 0 3px 3px; 
}
.btn { line-height: 20px; font-size: 14px; font-weight: bold; color: #666; }

/**** index ****/
#idx-banner { position: relative; width: 968px; background: url("../images/bg-header.png") no-repeat 0px 0px; }
#content-txt-wrap { padding: 50px 22px 20px; width: 500px; }
#idx-banner h3 { margin: 51px 0 29px; }
#idx-banner #baner-btn { margin-top: 47px; }
#idx-banner #baner-btn a { display: block; float: left; margin: 33px 8px 0 0; width: 180px; height: 100px; }
#idx-banner #baner-btn #pc-down { background: url("../images/btn-download.png") no-repeat; }						
#idx-banner #baner-btn #easy-setting { background: url("../images/btn-install.png") no-repeat; }
#idx-banner #baner-btn:after { display: block; content: ""; clear: both; }	
#motion-ani { position: absolute; top: 0; left: 50%; margin-left: 64px; padding-top: 35px; width: 423px; height: 400px; }
#motion-ani .move-phone { position: absolute; top: -350px; left: 50%; margin-left: -320px; z-index: 99999; }
#motion-ani .move-phone.addMove { top: 190px; } /* jquery AddClass */		
#motion-ani .move-tv { position: absolute; left: 50%; margin-left: -349px; }
#idx-banner #main-video { margin: 0px auto 0px; padding-bottom: 65px; width: 502px; text-align: center; clear: both; cursor: pointer; }
#idx-banner #main-video:after { display: block; content: ""; clear: both; }
#idx-banner #main-video .mobi-vdo-frame { position: relative; float: left; *margin-top: -50px; width: 251px; }
#main-video span { 
	display: block; margin-left: 15px; *margin-left: 0; padding: 2px 0; width: 219px; line-height: 20px; font-size: 13px; color: #fff;
	 background-color: #000;
}	
#idx-banner #main-video img { width: 218px; height: 123px; *width: 218px; }
#idx-banner #main-video iframe { display: none; }
/* 태블릿과 모바일에서만 보여질 비디오 */
.tab-vdo { display: none; }	
/* 6가지 설명부분 */ 
#idx-main-container .main-content { 
	margin: 48px auto 0; padding: 0 0 42px 38px; width: 95%; border-bottom: 1px solid #ccc; background-color: #fff;
}
#idx-main-container .main-content * {  font-size: 0; color: #fff; line-height: 0; }
#idx-main-container .main-content:after { display: block; content: ""; clear: both; }
#idx-main-container .main-content div { width: 435px; *width: 430px; }
#idx-main-container .main-content h2 { display: none; }
#idx-main-container .main-content h4 { margin: 26px 0 19px; }
#idx-main-container .main-content h4 .btn-video { display: none; }
#idx-main-container .main-content h4 .m-icon { display: none; }
#idx-main-container .main-content .content { margin-top: 19px; font-size: 12px; line-height: 20px; color: #666; }
#idx-main-container .main-content div.left { float: left; } 
#idx-main-container .main-content div.right { float: right; } 
#idx-main-container .main-content div a { 
	display: inline-block; width: 126px; height: 25px; font-weight: bold; font-size: 13px; line-height: 20px; color: #fff;		
}
#idx-main-container .btn-wrap { margin-top: 12px; }
#idx-main-container .btn-review { 
	padding-top: 3px; *padding-top: 5px;  background: url("../images/btn-review.png") no-repeat;
}
#idx-main-container div.btn-video { 
	float: left; padding-left: 5px; width: 127px; height: 26px; background: url("../images/btn-video.png") no-repeat;
	font-size: 13px; line-height: 20px; color: #fff; cursor: pointer;
}
#idx-main-container .btn-video iframe { display: none; }
#idx-main-container .btn-review span { 
	display: inline-block; width: 28px; height: 22px; background: url("../images/icon.png") no-repeat -2px -53px; 
*background: url("../images/icon.png") no-repeat -2px -55px; vertical-align: top;
}
#idx-main-container .btn-video span { 
	display: inline-block; width: 30px; height: 17px; background: url("../images/icon.png") no-repeat -37px -43px;
}	
/**** blog ****/
#blog-main-wrap { margin: 10px auto; *margin: 10px auto 50px; _margin: 10px auto 30px; width: 968px; }
#blog-main-wrap:after { display: block; content: ""; clear: both; }
#blog-leftmain-container { float: left; margin-top: 10px; }
#blog-banner { 
	margin: 0 0 41px 12px; width: 710px; height: 140px; background: url("../images/bg-blog-banner.png") no-repeat left top;
}
#blog-board-container { margin-left: 11px; width: 710px; }
#blog-banner #content-txt-wrap { margin: 0; padding: 37px 0 0 22px; width: 678px; line-height: 20px; font-weight: bold; }
#blog-banner #content-txt-wrap h2 { 
	margin: 0 0 12px; letter-spacing: -2px; font-size: 22px; color: #517281;
}
#blog-banner #content-txt-wrap h2 span { font-size: 26px; color: #517281; }
#blog-banner #content-txt-wrap p { line-height: 20px; font-size: 12px; color: #666; }
#blog-banner p a { line-height: 20px; font-weight: bold; font-size: 13px; color: #1c648d; }
#blog-banner span { line-height: 20px; font-weight: bold; font-size: 13px; color: #1c648d; }
#blog-banner a span { 
	display: inline-block; width: 10px; height: 13px; background: url("../images/icon.png") no-repeat -183px -11px; 
	vertical-align: middle;
}
#categori { display: none; } 
	
/* 게시판 */
#main-content { width: 98%; line-height: 20px; font-weight: bold; font-size: 20px; color: #666 }
#main-content h3 {
	margin-bottom: 10px; border-bottom: 1px solid #eee; line-height: 20px; font-weight: bold; font-size: 12px; 
	color: #f16c51;
}
#main-content ul { margin: 0 0 14px 20px; list-style: circle; }
#main-content li * { line-height: 20px; font-size: 12px; color: #333; }
#main-content li a { font-weight: normal; }
#lately-topic * { line-height: 20px; font-size: 12px; color: #666; }
#lately-topic h3 { font-weight: bold; color: #f16c51; }
#lately-topic #subnav-context { padding: 5px 0 5px 4px; font-weight: normal; color: #999; }
#lately-topic .icon-user { 
	display: inline-block; margin-right: 4px; width: 14px; height: 14px;
	border: 3px double #ddd; background: url("../images/icon.png") no-repeat -97px -10px; vertical-align: bottom; 
}
#lately-topic #tab-topic { width: 700px; text-align: center; }
#lately-topic #tab-topic th { font-weight: normal; background: #f3f3f3; }
#lately-topic #tab-topic th#tab-th-topic { padding: 3px 0; width: 397px; }
tr { padding: 5px 0; }
#lately-topic #tab-topic tr.odd { background-color: #fbfbfb; }
/* #lately-topic #tab-topic td { width: 102px; height: 48px; line-height: 20px; background: pink; } */
#lately-topic #tab-topic td.tab-content { padding-left: 13px; text-align: left; }
#lately-topic #tab-topic p.headline { width: 397px; font-weight: bold; color: #333; }
#lately-topic #tab-topic a { line-height: 20px; font-size: 12px; color: #666; }	

#blog-aside { 
	float: right; margin: 10px 20px 0 0; _margin: 10px 10px 0 0; width: 220px; background-color: #e2e2e2; overflow: hidden;
	}
#blog-aside .vdo-mobi-hansup img { width: 100%; cursor: pointer; }
#blog-aside .vdo-mobi-hansup iframe { display: none; }
#blog-aside #mobi-user-comunity { margin: 14px auto 20px; text-align: center; }
#blog-aside #mobi-user-comunity a { display: block; margin: 32px auto; width: 181px; height: 105px; background: url("../images/icon.png") no-repeat -185px -50px; }
#blog-aside #categori { display: none; }
#blog-aside nav { margin-left: 23px; }
#blog-aside nav ul { margin-top: 4px; width: 207px; }
#blog-aside ul li { line-height: 20px; }
#blog-aside li .nav-title { line-height: 20px; font-weight: bold; font-size: 12px; color: #373737; }
#blog-aside li .sub-nav { line-height: 20px; padding-left: 8px; line-height: 20px; font-size: 12px; color: #666; }

#meet-facebook { background: #787878; margin: 41px auto 0; padding: 27px 0 10px; text-align: center; }
#meet-facebook a { display: block; margin: 32px auto; width: 176px; height: 49px; background: url("../images/icon.png") no-repeat -188px -166px; } 

#notice { padding: 24px 0 29px 14px; *padding: 10px 0 45px 14px; _padding: 10px 0 45px 14px; width: 93%; }
#notice h4 {
	margin-bottom: 12px; letter-spacing: -0.1em; font: bold 13px dotum; color: #f16544;
}
#notice p { width: 198px; text-align: left; font-size: 12px; font-family: dotum; color: #4e4e4e; line-height: 16px; }
#notice p a span { line-height: 20px; text-decoration: underline; font-size: 12px; color: #f16c51; }
#notice p .divide { display: block; }

/* blog click */
#blog-board-container #content { padding-left: 6px; width: 693px; }
#blog-board-container #content h3 { 
	margin: 19px auto 11px; border-bottom: 1px solid #ccc; line-height: 20px; font-weight: bold; 
	font-size: 16px; color: #666;
}
#blog-board-container #content p { 
	margin-bottom: 1.625em; /* width: 671px; */ line-height: 20px; font-size: 16px; color: #666;
}

/**** download ****/
#down-banner { margin: 0 auto; width: 940px; height: 327px; background: url("../images/down-banner.png") no-repeat 0 0; }
#down-banner h2 { padding: 58px 0 27px 38px; }
#down-banner #baner-btn { margin-left: 39px; }
#down-banner #baner-btn #btn-pcdown-app { 
	display: block; width: 202px; height: 66px; background: url("../images/btn-pcdown-app.png") no-repeat;
}
/* main container */
#setting-install { margin-top: 116px; }
#setting-install:after { display: block; content: ""; clear: both; }
#setting-install img { float: left; }
#setting-install a { float: right; }
/* 유에스비로 설치방법 */
#down-main-container { margin-top: 68px; }
#down-main-container .main-usb-content { margin: 0 auto; width: 97%; border: 1px solid #ccc; }
#down-main-container .main-usb-content h3 {
	padding: 15px 0; line-height: 20px; text-align: center; font-weight: bold; font-size: 19px; color: #666; 
	background: url("../images/bg-usb-header.png") repeat-x;
}
#down-main-container .main-usb-content img { width: 520px; }
#down-main-container .main-usb-content iframe { display: none; }
#down-main-container #immediately-view-box { margin-top: 46px; width: 100%; text-align: center; }
#down-main-container #immediately-view-box p {
	padding: 4px 0 25px; line-height: 20px; text-align: center; font-weight: bold; font-size: 13px; color: #666;
}
/* 5개의 동일한 레이아웃  공통부분 */
#down-main-container ol { 
	margin: 0 auto 10px; padding: 34px 0 54px; width: 938px; border: 1px solid #ccc;	border-top: none; 
	background-color: #fff; 
}
#down-main-container ol li { 
	position: relative; margin-left: 14px; padding: 21px 0 0 40px; width: 874px; height: 220px; border-bottom: 1px solid #eee;
}
#down-main-container li:after { display: block; content: ""; clear: both; }
#down-main-container ol div.img-txt-content { position: relative; float: left; width: 400px; } 
#down-main-container .down-driver-link { margin-top: 10px; }
#down-main-container .down-driver-link a { 
	display: block; position: relative; width: 48%; font-weight: bold; font-size: 12px; line-height: 20px; color: #1c648d;
}
#down-main-container .down-driver-link span { font-weight: bold; font-size: 12px; line-height: 20px; color: #1c648d; }
#down-main-container .down-driver-link .text-deco-download { 
	font-weight: bold; font-size: 12px; line-height: 20px; color: #1c648d;
}
#down-main-container .driver-text-position { position: absolute; top: 0; left: 71px; width: 139px; }
#down-main-container .btn-driver-link { 
	display: inline-block; right: -11px; margin-left: 7px; width: 10px; height: 14px; 
	background: url("../images/icon.png") no-repeat -183px -7px; vertical-align: top;
}
#down-main-container .m-down-img { display: none; }
/* step 1 */
#down-main-container #usb-setting { background: url("../images/bg-usb-setting.png") no-repeat right bottom; }
#down-main-container #usb-setting #num-setting { 
	display: block; float: left; margin-right: 10px; width: 90px; height: 84px; 
	background: url("../images/icon.png") no-repeat -83px -43px;
}
/* step 2 */
#down-main-container #usb-pwd { background: url("../images/bg-usb-pwd.png") no-repeat right bottom transparent; }
#down-main-container #usb-pwd #num-usepwd { 
	display: block; float: left; width: 100px; height: 84px; background: url("../images/icon.png") no-repeat -83px -125px;
}
/* step 3 */
#down-main-container #usb-down { background: url("../images/bg-usb-down.png") no-repeat right bottom transparent; }
#down-main-container #usb-down #num-down {
	display: block; float: left; width: 100px; height: 84px; background: url("../images/icon.png") no-repeat -83px -209px;
}
/* step 4 */
#down-main-container #usb-connect { background: url("../images/bg-usb-connect.png") no-repeat right bottom transparent; }
#down-main-container #usb-connect #num-connect { 
	display: block; float: left; width: 100px; height: 84px; background: url("../images/icon.png") no-repeat -83px -291px;
}
#usb-connect p {
	margin-top: 15px; padding-right: 15px; line-height: 1.6em; font-weight: bold; font-size: 11px; color: #D26750;
}
/* step 5 */
#down-main-container #usb-start { background: url("../images/bg-usb-start.png") no-repeat right bottom transparent; }
#down-main-container #usb-start #num-start {
	display: block; float: left; width: 100px; height: 84px; background: url("../images/icon.png") no-repeat -83px -373px;
}
/* step 6 fin */
#down-main-container #usb-fin { background: url("../images/bg-usb-fin.png") no-repeat right bottom transparent; }
#down-main-container #usb-fin #num-fin {
	display: block; float: left; width: 100px; height: 84px; background: url("../images/icon.png") no-repeat -83px -455px;
}		
/* 설치가 어려우세요? */
#hard-setting { 
	margin: 25px auto 0; width: 97%; padding: 15px 0; border-top: 3px solid #777; border-bottom: 3px solid #777; 
	background-color: #e5e5e5; 
}
#hard-setting:after { display: block; content: ""; clear: both; } 
#hard-setting img { float: left; margin: 7px 20px; }
#hard-setting p { float: left; line-height: 3em; font-size: 12px; font-weight: bold; color: #666; }
#hard-setting .question { letter-spacing: -2px; font-weight: bold; font-size: 13px; color: #015FB5; }
#hard-setting a { float: right; margin: -7px 10px; } 	
/**** 고객지원 ****/
#container { margin: 0 auto 29px; width: 97%; border: 1px solid #ccc; }
#faq-banner {
	margin: 0 auto 29px; width: 935px; height: 282px; background: url("../images/faq-banner.png") no-repeat 0 0; 
}
#faq-banner h2 { margin: 0px 0 0 10px; padding: 45px 0 0 20px; }
#faq-banner p { margin: 74px 0 0 49px; }
#faq-banner span.faq-info { margin-left: 83px; font-size: 12px; color: #fff; }
#faq-banner span.faq-info .divide { font-size: 12px; color: #fff; }
#faq-banner .faq-question { font-weight: bold; font-size: 17px; color: #69d3f4; }	
#install-content { position: relative; margin: 54px auto 71px; width: 100%; background-color: #eee; }
#install-content:after { display: block; content: ""; clear: both; } 
#install-content .install-txt { float: left; margin: 25px 30px 17px 38px; }
#install-content .install-com-img { position: absolute; top: -9px; left: 50%; }
#install-content .install-btn { float: right; margin: 21px 20px 0 0; }	
#faq-wrap { 
	position: relative; margin: 20px auto; width: 900px; border-top: 3px solid #666; border-bottom: 3px solid #666;
	background: url("../images/bg-faq.png") repeat-y scroll left top #fff;
}
#faq-wrap:after { display: block; content: ""; clear: both; }
#faq-wrap h3#faq-quick { position:absolute; width: 170px; }
#faq-wrap h3 img { width: 169px; }
#faq-wrap #question { float: right; width: 80%; _width: 79%; }
#faq-wrap #question * { line-height: 20px; font-size: 13px; color: #666; }
#faq-wrap #question dt { 
	padding: 10px 12px; border-bottom: 1px solid #ccc; letter-spacing: -0.09em; font-size: 14px; color: #5c5c5c; 
	cursor: pointer;
}
dt#newId { font-weight: bold; }
#faq-wrap #question dt:hover {font-weight: bold; } 
#faq-wrap #question .selected { background: #eee; } /** jqueryAddClass **/
#faq-wrap #question dd { padding: 17px 0 15px 18px; }
#faq-wrap #question .question-title { line-height: 25px; font-weight: bold; font-size: 13px; }
#faq-wrap #question p { margin: 4px 0; }			
/* 모비즌 활용팁 비디오 3개 */
#driver-download { margin: 0 auto; width: 890px; border: 1px solid #ccc; }
#driver-download * { line-height: 20px; font-size: 13px; color: #666; }
#driver-download:after { display: block; content: ""; clear: both; }
#driver-download h3 { 
	 padding: 7px; text-align: center; font-weight: bold; font-size: 12px; background-color: #e1e1e1;
}
#driver-download #driver-left-box { float: left; padding: 15px; width: 47%; border-right: 1px solid #ccc; }
#driver-download #driver-right-box { float: right; padding: 15px; width: 46%; }
#driver-download li a { display: block; padding: 5px 10px; } 
#driver-download li a:hover { 
	color: #fff; background: url("../images/bg-driver-down.png") no-repeat scroll 324px 10px #5ea3b5;
}	
#verb-mobi-video { margin: 20px auto; padding: 33px 0; width: 890px; border: 1px solid #ccc; }
#verb-mobi-video:after { display: block; content: ""; clear: both; }
#verb-mobi-video img { cursor: pointer; }
#verb-mobi-video h3 { margin-bottom: 14px; text-align: center; }
#verb-mobi-video dl#big-video-container { float: left; padding-left: 44px; width: 527px; }  
#verb-mobi-video #big-video-container img { 
	margin: 17px 0 3px; padding-bottom: 23px; width: 533px; min-height: 333px; *height: 333px;
} 
#verb-mobi-video dl#big-video-container iframe { display: none; }
#verb-mobi-video dd { text-align: center; font-weight: bold; font-size: 12px; color: #666; line-height: 9px; }
#verb-mobi-video dl#big-video-container .divide { font-weight: bold; font-size: 12px; color: #666; }
#verb-mobi-video div { float: right; padding-top: 17px; *padding-right: 10px; width: 301px; text-align: center; }
#verb-mobi-video div img { width: 98%; }
#verb-mobi-video div iframe { display: none; }
#verb-mobi-video div dl { width: 266px; }
#verb-mobi-video div dd { margin-top: 20px; }
#verb-mobi-video #last-sm-video { margin-top: 13px; }	
/* 모비즌을 스마트하게 사용하는 사람들의 이야기 */
#movi-people-story { 
	position: relative; padding-left: 24px; border-bottom: 3px solid #666;   
	background: url("../images/bg-faq-story.png") repeat-x 0 22px; 
}
#movi-people-story a { position: absolute; top: 41px; right: 20px; }	
#movi-people-story .txt-movi { padding-bottom: 7px; }
/**** footer *****/
footer { padding-top: 20px; width: 968px; background: url("../images/bg-footer.png") repeat-x 0 30px; }
footer #ft-nav-wrap { width: 100%; }
footer #ft-nav-wrap:after { display: block; content: ""; clear: both; }
footer #ft-nav-wrap #free-pc-down { float: left; margin: 24px 7px 0 17px; width: 188px; }
footer #ft-nav-wrap p { float: left; padding: 44px 0 0 10px; width: 214px; }
/* 다운로드 */
footer #info-faq { float: left; padding-left: 21px; }
/* 고객지원 */
footer #btn-movi-blog { display: block; float: right; }	
/* 공통 */
footer nav { float: right; padding: 10px 39px 0 0; }
footer nav ul { float: left; padding: 0 28px 0 14px; min-height: 123px; _height: 123px; border-left: 1px solid #ccc; }
footer nav li { font-weight: bold; font-size: 11px; line-height: 20px; }
footer nav li.menu-title { 
	margin-bottom: 10px; font-family: gulim; line-height: 20px; font-weight: bold; font-size: 14px;
	color: #444;
}
footer nav li a { letter-spacing: -1px; line-height: 17px; font-size: 11px; font-weight: normal; color: #666; }
footer #share-menu { font: 0/0 a; text-shadow: none; color: transparent; }
footer nav .footer-icon-fb { 
	display: inline-block; padding-left: 18px; width: 0; height: 17px; 
	background: url("../images/icon.png") no-repeat -205px -8px; 
}
footer nav .footer-icon-tw {
	display: inline-block; padding-left: 18px; width: 10px; height: 17px;	
	background: url("../images/icon.png") no-repeat -223px -8px; 
}
footer #copyright { width: 970px; height: 94px; background: #333; }
footer #copyright:after { display: block; content: ""; clear: both; }
footer #copyright img { 
	display: block; float: left; margin: 14px 16px 14px 9px; _margin: 28px 16px 0 9px; padding: 19px 29px 0;
	width: 14%;	border-right: 1px solid #666;
}
footer #copyright address { float: left; margin-top: 3%; }
footer #copyright address * { letter-spacing: -0.02em; line-height: 18px; font-size: 13px; color: #7b7b7b; }
footer #copyright a { display: none; } 
footer #copyright p { 
	float: left; margin-top: 0.5em; min-width: 76%; _width: 76%; letter-spacing: -0.02em; line-height: 18px; font-size: 11px;
	color: #bababa;
}
footer #copyright p span { letter-spacing: -0.02em; line-height: 18px; font-size: 11px; color: #bababa; }