@charset "utf-8";
/* reset */
*{margin:0;padding:0}
html{overflow-y:scroll}
body{zoom:1;/*ie 5,6,7 bug fix*/filter:alpha(opacity=90);opacity:0.9;font-family:Dotum;font-size:100%;color:#666}
a:link,a:visited{color:#999;text-decoration:none;cursor:pointer}
a:hover{color:#6f8ebb;text-decoration:none}
img{border:none}
table{border-collapse:collapse}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
input{border:1px solid #b0b0b0;color:#979797;width:190px;padding:3px 5px 4px}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}
ul,li,dl,dt,dd{list-style-type:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:before,q:after{content:''}
div .clear{clear:both}
a:link,a:visited{color:#666;text-decoration:none;cursor:pointer}
fieldset,img,abbr,acronym{border:0}

header {
	width: 100%
}
header nav li a {
	display: inline-block;
	color: #444;
	text-shadow: 0 -1px 0 #eee;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out
}
header nav li a:hover {
	color: #739B86
}
header nav li .submenu {
	margin-top: 3px;
	color: #4B889F;
	filter: alpha(opacity=90);
	opacity: 0.9;
	text-shadow: 0 -1px 0 #eee;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out
}
header nav li .submenu:hover {
	color: #7d181e
}
body footer {
	margin: 1em auto;
	padding: 1% 0;
	width: 100%;
	background: #3A3A26;
	color: #fff;
	clear: both;
}
footer:hover {
	background: #82824D
}
footer p {
	font-size: .75em;
	line-height: 1.5em
}
