@charset "utf-8";
a:hover{color:#6f8ebb;text-decoration:none}
img{border:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table{border-collapse:collapse}
ul,li,dl,dt,dd{list-style-type:none}
*{margin:0;padding:0}
html{overflow-y:scroll;overflow-x:auto}
body{font-size:15px;font-family:Dotum;filter:alpha(opacity=90);opacity:0.9;color:#666}
.clear{clear:both}
#wrap{text-align:center;margin:0 auto}
#wrap header{text-shadow:3px 5px #eee}
#wrap header h1{margin-top:10%;font-size:30px}
section{width:800px;border-top:2px dashed #ccc;margin:20px auto}
section p{float:left;line-height:35px;font-weight:700;font-size:16px;margin:10px;padding:0 0 0 30px}
section a:hover{filter:alpha(opacity=60);opacity:0.6;color:#C6C797}
footer p{line-height:20px;padding-top:17px}
footer span{font-size:14px;color:#F92D9D}
a:link,a:visited{color:#999;text-decoration:none;cursor:pointer}
::selection,::-webkit-selection,::-moz-selection,::-o-selection,::-ms-selection{background:#FF0;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.5)}